{% extends 'master.html' %}
{% load static from staticfiles %}
{% block siteTitle %}QMS{% endblock %}
{% block pageTitle %}QMS{% endblock %}
{% block content  %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">  
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>

<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />

<div class="row">

    
    <div class="col-sm-12">





        <div class="panel widget">
            <div class="panel-heading vd_bg-grey">

                <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> QA Sheet </h3>
                    {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <div class= "alert alert-{{ message.tags }}">
                        <a class="panel-close close" data-dismiss="alert">x</a>
                        <p >{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

            </div>
            <div class="panel-body table-responsive">
            <form class="form-horizontal " id="filter_form" role="form" method="post" >
              {% csrf_token %}

                <div class="row">
                    <div class="col-sm-12 qms-selectors">
                        <div class="col-sm-9">
                          <span>{{ form.project.errors }}</span>{{ form.project}}

                          <span>{{ form.chapter.errors }} </span>{{form.chapter}}

                          <span>{{form.author.errors}}</span>{{form.author}}
                        </div>

                        <div class="col-sm-3">
                          <input type="submit" value="Submit" name="" class="btn btn-primary btn-sm pull-right" style="margin-top: -1px;">
                          <button id="open-summary" class="btn btn-danger btn-sm pull-right" style="margin-top: -1px;">Summary</button>
                        </div>

                    </div>
                    <input type="hidden" name="active_tab" id="active_tab" value="er1"/>
                    <input type="hidden" name="template_name" id="template_id" value="{{template_id}}"/>
                </div><!-- ./qms-selectors row -->

                <div id="qms-summary" class="collapsed">

                  <table class="table-responsive table-striped width-100">
                    <tr>
                      <th>Severity Levels</th>
                      <th>Index</th>
                      <th>ER1</th>
                      <th>ER2</th>
                      <th>ER3</th>
                      <th>EA</th>
                      <th>CE1</th>
                      <th>CE2</th>
                      <th>EU Testing</th>
                      <th>QA</th>
                      <th>Feedback</th>
                      <th>Total</th>
                    </tr>

                    <tr>
                      <td rowspan="4"></td>
                      <td>No: of questions reviewed</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Total Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Overall QA Score</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 


                    <tr>
                      <td>Overall Performance</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 

                    <!-- End of first section -->

<!-- Severity 1 -->

                    <tr>
                      <td rowspan="2">Severity 1</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 


<!-- Severity 2 -->

                    <tr>
                      <td rowspan="2">Severity 2</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr>



<!-- Severity 3 -->

                    <tr>
                      <td rowspan="2">Severity 3</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 





                  </table>

                </div>



                <ul class="nav nav-tabs" >
                    <li class="active review " id="er1" ><a href="#tab1" data-toggle="tab" >ER1</a></li>
                    <li class="review" id="er2" ><a href="#tab2" data-toggle="tab" >ER2</a></li>
                    <li class="review disabled" id="er2" ><a href="#tab3" >CE1</a></li>
                </ul><!-- ./tab -->






            <br>               
                <div class="tab-content mgbt-xs-20">
                    <div class="tab-pane active" id="tab1">



                        <table class="table  table-striped qa-table" id="data-tables">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Review Item</th>
                                    <th>Defect</th>
                                    <th>Type</th>
                                    <th>Severity</th>
                                    <th>Classification</th>
                                    <th>Fixed</th>
                                    <th>Fixed By</th>
                                    <th>Remarks</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form>
                                    {{ review_formset.management_form }}
                                    {% for form in review_formset %}
                                    <tr class="gradeX">
                                        <td>{{forloop.counter}}</td>
                                        <td class="qa-editable">
                                          <p class="">{{form.review_item}}</p>

                                        <td class="">
                                          <p>{{form.defect}}</p>
                                        </td>
                                        <td class=""><p> {{form.severity_type}}</p>

                                        </td>
                                        <td class="" id="level_"><p>{{form.severity_level}}</p></td>
                                        <td class="" id="classification_"><p>{{form.defect_classification}}</p></td>
                                        <td class="qa-editable">
                                          <p>{{form.is_fixed|yesno:"Yes,No"}}</p>
                                          <input type="text" placeholder="{{form.is_fixed|yesno:'Yes,No'}}" class="input-sm hidden">
                                        </td>
                                        <td class="">
                                        <p>{{form.fixed_by}} </p>
                                        </td>
                                        <td >
                                          <p>{{form.remarks}}</p>
                                        </td>
                                        <td>
                                            <div class="edit-buttons">
                                            {{form.DELETE}}
                                                <!--<a class="btn vd_btn vd_round-btn btn-xs vd_bg-red">-->
                                                    <!--<i class="fa fa-times fa-fw "></i>-->
                                                <!--</a>-->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </form>
                            </tbody>


                        </table>




                    </div><!-- ./tab -->


                    <div class="tab-pane" id="tab2">
                      

                    </div><!-- ./tab -->

                    <div class="tab-pane" id="tab3">
                      
                      
                    </div><!-- ./tab -->

                </div><!-- ./ .tab-content -->
                <div class="panel-footer clearfix">
                 <input type="submit" class="btn btn-info btn-sm pull-right"/>
                <div class="btn btn-info btn-sm pull-right">Review Completed</div>
                <div class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#addModal">Add Item</div>

            </div>

                </form>

            </div><!-- ./panel body -->

        </div>

                
    </div>

</div><!-- ./row main -->





<!-- Modal Area -->

<!-- Add Modal -->

<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">


        <form class="form-horizontal">    
              <div class="modal-header vd_bg-blue vd_white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">The Add Modal</h4>
              </div>
              <div class="modal-body">




                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">S.No.:</label>
                    <div class="col-sm-6">
                        <label class="control-label">132</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Review Item:</label>
                    <div class="col-sm-6">
                      <select type="text" class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Defect:</label>
                    <div class="col-sm-6">
                      <textarea type="text" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Type:</label>
                    <div class="col-sm-6">
                      <select type="text" class="form-control">
                          <option>Type 1</option>
                          <option>Type 2</option>
                          <option>Type 3</option>
                          <option>Type 4</option>
                      </select>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Severity:</label>
                    <div class="col-sm-6">
                      <label class="control-label">Autogenerated</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Classification:</label>
                    <div class="col-sm-6">
                      <label class="control-label">Autogenerated</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Fixed By:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Remarks:</label>
                    <div class="col-sm-6">
                      <textarea type="text" class="form-control"></textarea>
                    </div>
                  </div> 






              </div>
              <div class="modal-footer vd_bg-white vd_white">
              <hr>
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
        </form>


    </div>

  </div>
</div>


















<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>


<script type="text/javascript">
    

        $(function() {

        $('.review').click(function(){
            $('#active_tab').val(this.id);
        });

        $('.edit_button').click(function(){ console.log("edit clicked");
            var edit_record = $(this).siblings(".edit_record").html();
            console.log(edit_record);
            $(".edit_body").html(edit_record);
        });
        $('#data-tables').dataTable({
          searching: false,
          scrollCollapse: true
        });

        });// End of document ready

$('.defect').change(function(){
    var obj_id = this.id.split('-');
    console.log(obj_id);
    $.ajax({
            url: 'fetch_severity/',
            type: 'GET',
            dataType :'json',
            data: {"template_id": $('#template_id').val() , "severity_type" :  $(this).val() },
            success: function (data) {
                var output = [];

            for (var key in data) {
                if (data.hasOwnProperty(key)) {

                    if(key == 'severity_level'){

                        $('#'+obj_id[0]+'-'+obj_id[1]+'-severity_level').append($('<option>', {
                            value: data[key],
                            text: data[key],
                            selected :'selected',
                        }));
                        $('#'+obj_id[0]+'-'+obj_id[1]+'-severity_level').prop('disabled',true);
                    }

                    if(key == 'defect_classification'){

                        $('#'+obj_id[0]+'-'+obj_id[1]+'-defect_classification').append($('<option>', {
                            value: data[key],
                            text: data[key],
                            selected :'selected',
                        }));
                        $('#'+obj_id[0]+'-'+obj_id[1]+'-defect_classification').prop('disabled',true);
                    }

                }
            }



            },

    });
});
</script>


<style type="text/css">
    
.btn.pull-right{margin-left: 15px}

.qms-selectors .form-inline{margin-right: 30px;}

.edit-buttons{width: 65px;}
.gradeX a.vd_btn{margin-right: 0px !important;}

.select2.select2-container{min-width: 0px !important;width: 150px !important;margin-right: 15px;}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f1f1;
}
.qa-editable{cursor: pointer;}
.qa-table td p{margin-bottom: 0px; line-height: 30px;}

#qms-summary{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 15px 0px;
  margin-bottom: 15px;
  transition: all 0.5s ease;   
}
#qms-summary.collapsed{height: 0px;overflow: hidden;padding: 0px;border-bottom: 0px;}

#qms-summary table, #qms-summary table td, #qms-summary table th{border:1px solid #d6d6d6;text-align: center;}

</style>

<script type="text/javascript">
// UI Scripts


$(document).ready(function(){

  $('#open-summary').click(function(e){
    e.preventDefault();
    if($(this).hasClass('btn-danger')){
      $(this).removeClass('btn-danger');
      $(this).addClass('btn-default');
      $('#qms-summary').removeClass('collapsed');
    }else if($(this).hasClass('btn-default')){
      $(this).removeClass('btn-default');
      $(this).addClass('btn-danger');
      $('#qms-summary').addClass('collapsed');
    }
  })

  $('td.qa-editable').click(function(){
    $(this).find('.hidden').removeClass('hidden');
    $(this).find('p').addClass('hidden');
  })



})// ./ doc.ready 

</script>



{% endblock %}