    <table class="table-responsive table-striped width-100">
                    <tr>
                      <th>Severity Levels</th>
                      <th>Index</th>
                      <th>ER1</th>
                      <th>ER2</th>
                      <th>ER3</th>
                      <th>EA</th>
                      <th>CE1</th>
                      <th>CE2</th>
                      <th>EU Testing</th>
                      <th>QA</th>
                      <th>Feedback</th>
                      <th>Total</th>
                    </tr>

                    <tr>
                      <td rowspan="4"></td>
                      <td>No: of questions reviewed</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Total Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Overall QA Score</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 


                    <tr>
                      <td>Overall Performance</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 

                    <!-- End of first section -->

<!-- Severity 1 -->

                    <tr>
                      <td rowspan="2">Severity 1</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 


<!-- Severity 2 -->

                    <tr>
                      <td rowspan="2">Severity 2</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr>



<!-- Severity 3 -->

                    <tr>
                      <td rowspan="2">Severity 3</td>
                      <td>No of Defects</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr> 

                    <tr>
                      <td>Defect Density</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td>0.00%</td>
                      <td></td>
                    </tr> 





                  </table>