{% extends 'master.html' %}
{% load static from staticfiles %}

{% block siteTitle %}QMS{% endblock %}
{% block pageTitle %}QMS{% endblock %}
{% block content  %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">





            <div class="row">
              <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-12 qms-selectors">


                        </div>

                    </div><!-- ./qms-selectors row -->





                <div class="panel widget">
<!--                   <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> Data Tables Example </h3>
                  </div> -->
                  <div class="panel-body table-responsive">
                    <table class="table table-striped leave-report-table" id="data-tables">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Defect</th>
                          <th>Field 1</th>
                          <th>Field 2</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd gradeX">
                          <td>1</td>
                          <td>Name of first project</td>
                          <td>S3</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>
                        <tr class="even gradeC">
                          <td>2</td>
                          <td>Name of second project</td>
                          <td>S1</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>
                        <tr class="odd gradeX">
                          <td>3</td>
                          <td>Name of third project</td>
                          <td>S2</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>
                        <tr class="even gradeC">
                          <td>4</td>
                          <td>Name of fourth project</td>
                          <td>S2</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>
                        <tr class="odd gradeX">
                          <td>5</td>
                          <td>Name of fifth project</td>
                          <td>S3</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>
                        <tr class="even gradeC">
                          <td>6</td>
                          <td>Name of sixth project</td>
                          <td>S1</td>
                          <td class="center">Lorem Ipsum</td>
                          <td class="center">Lorem Ipsum</td>
                        </tr>




			     </tbody>
			    </table>
			   </div><!-- ./panel-body -->
			  </div><!-- ./panel-widget -->
			 </div><!-- ./col -->
			</div><!-- ./row -->




<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">
		$(document).ready(function() {
				"use strict";
				
				$('#data-tables').dataTable();
		} );
</script>





{% endblock %}