{% extends 'master.html' %}
{% load static from staticfiles %}

{% block siteTitle %}QMS{% endblock %}
{% block pageTitle %}QMS{% endblock %}
{% block content  %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>

<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all"
      rel="stylesheet"/>
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet"/>

<div class="row">


    <div class="col-sm-12">


        <div class="panel widget">
            <div class="panel-heading vd_bg-grey">

                <h3 class="panel-title"><span class="menu-icon"> <i class="fa fa-magic"></i> </span> QA Sheet </h3>
                {% for dict in formset.errors %}
                {% for error in dict.values %}
                {{ error }}
                {% endfor %}
                {% endfor %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }}">
                    <a class="panel-close close" data-dismiss="alert">x</a>
                    <p>{{ message }}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

            </div>
            <div class="panel-body table-responsive">
                <form class="form-horizontal " id="filter_form" role="form" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-12 qms-selectors">

                                <span>{{ form.project.errors }}</span>{{ form.project}}
                                <span>{{ form.qms_process_model.errors }}</span>{{ form.qms_process_model}}

                                <span>{{ form.template.errors }} </span>{{form.template}}

                                <!-- <span>{{form.review_group.errors}}</span>{{form.review_group}} -->


                                <span>{{ form.chapter.errors }} </span>{{form.chapter}}

                                <span>{{form.author.errors}}</span>{{form.author}}




                        </div>

                    </div><!-- ./qms-selectors row -->
                    <hr>


                    <div class="row">
                        <div class="col-sm-12 qms-allocators">

                          <div class="form-group">
                            <div class="col-md-12">
                              <label class="control-label col-sm-2 field-name"><span>Field 1</span><span class="vd_red"> *</span></label>
                              <div class="controls col-sm-6">
                                <select type="select" class="width-60 input-sm select-name" name="name" >
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                              </div>
                            </div>
                          </div>


                            
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        
                        <div class="col-sm-12 qms-add-field">
                            <div class="col-sm-2 controls">
                                <select id="select-field" type="select" class="input-sm" >
                                    <option>Add Field 1</option>
                                    <option>Add Field 2</option>
                                    <option>Add Field 3</option>
                                    <option>Add Field 4</option>
                                </select>
                            </div>
                            <div class="col-sm-10">
                                <button id="qms-add-field" class="btn btn-primary btn-sm">Add This Field</button>
                            </div>
                        </div>

                    </div>





                </form>


                <br>


            </div><!-- ./panel body -->

        </div>


    </div>

</div><!-- ./row main -->


<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript">

// Sample objects


var theObj = {
        "tabs": {"Editor Review 2": false, "Editor Review 3": true, "Editor Review 1": true}, 
        "tab_name": {"Editor Review 2": 2, "Editor Review 3": 3, "Editor Review 1": 1}, 
        "team_members": {"256": "SumukhShamnur", "257": "KanakaPrakash", "253": "AkshayFernandes", "254": "Bhaviya", "255": "RaviKumar"}
    }

var domObj = $('.qms-allocators').html();





var populateForm = function(){

    clearDom();

    for (var key in theObj['tabs']) {
      if (theObj['tabs'].hasOwnProperty(key)) {     // opening object
        console.log('which list is = ' + theObj['tabs'][key]);       // the value
        console.log('name of assignee is = ' + theObj['tab_name'][key]);       // the value
        var assigneeName = theObj['tab_name'][key];
        console.log('The name of the assignee is ' + assigneeName);
        console.log('name of field is = ' + key);       // the key

        $('.qms-allocators').append(domObj);
        $('.qms-allocators .form-group:last-child .field-name span:first-child').html(key);


        populateNames();

        $('.qms-allocators .form-group:last-child .select-name option[value="256"]').prop('selected', true);
        console.log('');

      }
    }    
}




var populateNames = function(){

    $('.qms-allocators select').html('');

    for (var key in theObj['team_members']) {
      if (theObj['team_members'].hasOwnProperty(key)) {
        console.log(theObj['team_members'][key]);

        // changes all the select boxes simultaneously
        $('.qms-allocators select').append("<option value="+ key +">" + theObj['team_members'][key] + "</option>");
      }
    }
}


var clearDom = function(){
    $('.form-group').remove();
}










$(document).ready(function(){




// populateDom();
// populateDom2();
populateForm();

/*$('.select2-container').click(function(){
    populateNames();
})*/






/*    var optional ={}
    var mandatory ={}
    var users ={}
    $(':input[name$=author]').on('change', function()  {
    if($(this).val() !='') {
          $.ajax({
            url: '/qms/get_template_process_review/',
            type: 'GET',
            dataType :'json',
            data: {"template_id": $(':input[name$=template]').val() , "project_id" :  $(':input[name$=project]').val() ,"qms_process_model" :$(':input[name$=qms_process_model]').val() },
            success: function (data) {
                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        if(key == 'tabs'){
                            for (var tabs_key in data[key]) {
                                console.log(typeof(data[key][tabs_key]) +'--'+ data[key][tabs_key] )
                                if(data[key][tabs_key] == false){
                                    optional[data['tab_name'][tabs_key]] = tabs_key
                                }
                                else {
                                    mandatory[data['tab_name'][tabs_key]] = tabs_key
                                }
                            }

                        }

                        if(key == 'team_members'){
                           for (var tabs_key in data[key]) {
                               users[tabs_key] =data[key][tabs_key]
                           }
                        }

                    }
                }

            },

    });
    }
});*/


















    $('#qms-add-field').click(function(e){
        e.preventDefault();
        optCount = $('#select-field > option').length;
        console.log('the number of options is ' + optCount);


        if (optCount > 1) {

            theField = $('#select-field').val();
            $('#select-field option:selected').remove();
            console.log('the selected value is ' + theField);

            theClone = $('.qms-allocators .form-group:first-child').clone().appendTo('.qms-allocators');
            $('.qms-allocators .form-group:last-child').find('.field-name span:first-child').html(theField);

        }else if (optCount == 1) {
            console.log('option count is none');
            theField = $('#select-field').val();
            $('#select-field option:selected').remove();
            console.log('the selected value is ' + theField);

            theClone = $('.qms-allocators .form-group:first-child').clone().appendTo('.qms-allocators');
            $('.qms-allocators .form-group:last-child').find('.field-name span:first-child').html(theField);

            $('#select-field').html('The end');
            $('#qms-add-field').prop('disabled', true);

        }
    })

})//./doc.ready    

</script>




<style type="text/css">

    .btn.pull-right{margin-left: 15px}

    .qms-selectors .form-inline{margin-right: 30px;}

    .edit-buttons{width: 65px;}
    .gradeX a.vd_btn{margin-right: 0px !important;}

    .select2.select2-container{min-width: 0px !important;width: 150px !important;margin-right: 15px;}

    .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f1f1;
    }
    .qa-editable{cursor: pointer;}
    .qa-table td p{margin-bottom: 0px; line-height: 30px;}

    #qms-summary{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 15px 0px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    }
    #qms-summary.collapsed{height: 0px;overflow: hidden;padding: 0px;border-bottom: 0px;}

    #qms-summary table, #qms-summary table td, #qms-summary table th{border:1px solid #d6d6d6;text-align: center;}

    #review_report_form{position:relative}
    #review_report_form td input[type="text"], #review_report_form td select{height:25px}
    .no_questions{
    position: absolute;
    top: -55px;
    right: 15px;
    }
    .table .menu-action{padding-top:7px !important;}
</style>


{% endblock %}