{% extends 'master.html' %}
{% load static from staticfiles %}

{% block siteTitle %}QMS{% endblock %}
{% block pageTitle %}QMS{% endblock %}
{% block content  %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
{{form.media}}

<div class="row">

    <div class="col-sm-12">


        <div class="panel widget">
            <div class="panel-heading vd_bg-grey">
                {{context_data}}

                <h3 class="panel-title"><span class="menu-icon"> <i class="fa fa-magic"></i> </span> QA Sheet </h3>
                {% for dict in formset.errors %}
                {% for error in dict.values %}
                {{ error }}
                {% endfor %}
                {% endfor %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{ message.tags }}">
                    <a class="panel-close close" data-dismiss="alert">x</a>
                    <p>{{ message }}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

            </div>
            <div class="panel-body table-responsive">
                <form class="form-horizontal " id="filter_form" role="form" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-sm-12 qms-selectors">

                                <span>{{ form.project.errors }}</span>{{ form.project}}
                                <span>{{ form.qms_process_model.errors }}</span>{{ form.qms_process_model}}

                                <span>{{ form.template.errors }} </span>{{form.template}}

                                <!-- <span>{{form.review_group.errors}}</span>{{form.review_group}} -->


                                <span>{{ form.chapter.errors }} </span>{{form.chapter}}
                                <span>{{ form.component.errors }} </span>{{form.component}}


                                <span>{{form.author.errors}}</span>{{form.author}}




                        </div>

                    </div><!-- ./qms-selectors row -->
                    <hr>


                    <div class="row">
                        <div class="col-sm-12 qms-allocators" style="display: none;">

                          <div class="form-group">
                            <div class="col-md-12">
                              <label class="control-label col-sm-2 field-name"><span>Field 1</span><span class="vd_red"> *</span></label>
                              <div class="controls col-sm-6">
                                <select type="select" class="width-50 input-sm select-name" name="name" >
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                                <input type="text" class="form-control input-sm order-number" name="">
                              </div>
                            </div>
                          </div>



                        </div>
                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-sm-12 qms-add-field" style="display:none">
                            <div class="col-sm-2 controls">
                                <select id="select-field" type="select" class="input-sm" >

                                </select>
                            </div>
                            <div class="col-sm-10">
                                <button id="qms-add-field" class="btn btn-primary btn-sm" disabled>Add This Field
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="row submit" style="display:block">
                        <div class="col-sm-12">
                            <input type="submit" id="qms-submit" class="btn btn-danger btn-sm pull-right" value="Submit">
                        </div>
                    </div>


                </form>


                <br>


            </div><!-- ./panel body -->

        </div>


    </div>

</div><!-- ./row main -->


<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>

<script type="text/javascript">

/*var obj_tab_order_1 = {"tabs":{"Editor Review 2":false,"Editor Review 3":true,"Editor Review 1":true},
                "tab_name":{"1":"Editor Review 1","2":"Editor Review 2","3":"Editor Review 3"},
                "tab_order":{"Editor Review 1":"2","Editor Review 3":"3","Editor Review 2":"0"},
                "team_members":{"130":"Bhaviya","354":"AkshayFernandes"},
                "user_tab":{}
            }

var obj_tab_order = {"tabs":{"Editor Review 2":false,"Editor Review 3":true,"Editor Review 1":true},
                    "tab_name":{"1":"Editor Review 1","2":"Editor Review 2","3":"Editor Review 3"},
                    "tab_order":{"Editor Review 2":"0","Editor Review 3":"3","Editor Review 1":"4"},
                    "team_members":{"352":"KanakaPrakash","354":"AkshayFernandes"},
                    "user_tab":{"Editor Review 2":354,"Editor Review 3":352,"Editor Review 1":354}
                }                

*/

// Get the html for .form-group
var domObj = $('.qms-allocators').html();

var globalObj;

// Clear the existing html in .form-group
var clearDom = function(){
    $('.form-group').remove();
}

 function populateNames(theObj){

    $('.qms-allocators select').html('');

    for (var key in theObj['team_members']) {
      if (theObj['team_members'].hasOwnProperty(key)) {

        // changes all the select boxes simultaneously
        $('.qms-allocators select').append("<option value="+ key +">" + theObj['team_members'][key] + "</option>");
        var option_length = $('#select-field> option').length;

        if(option_length>0) {
             $('.qms-allocators,.qms-add-field ,.submit').show();

        }
        else { $('.qms-allocators,.submit,.qms-add-field').show();

        }
      }
    }
}

function array_flip( trans )
{
    var key, tmp_ar = {};

    for ( key in trans )
    {
        if ( trans.hasOwnProperty( key ) )
        {
            tmp_ar[trans[key]] = key;
        }
    }

    return tmp_ar;
}

function resetBtn(){
    if($('#select-field > option').length > 0){
        $('#qms-add-field').removeAttr('disabled');
    }
}


function assignMandatory(theObj){
    for (var key in theObj['user_tab']){
        if(theObj['user_tab'].hasOwnProperty(key)){
            // console.log('the key is ' + key + ' and the value is ' + theObj['user_tab'][key]);
            $('.form-group span:contains('+ key +')').parent().parent().find('select option[value=' + theObj['user_tab'][key] + ']').prop("selected", true);
            // console.log(the_form_group);
            // $('#id_author option[value=""]').prop("selected", true);
        }
    }
} 


// Main function : populating the DOM
function populateForm (theObj){
// debugger
    var i = 0 ;
    clearDom();

    console.log(theObj);

    theObj['tab_name'] = array_flip(theObj['tab_name'])

    for (var key in theObj['tab_name']) {


      if (theObj['tab_name'].hasOwnProperty(key)) {     // opening object
        /*if (theObj['tabs'][theObj['tab_name'][key]] == true || typeof(theObj['user_tab'][theObj['tab_name'][key]]) == 'number') {*/
        if (theObj['tabs'][theObj['tab_name'][key]] == true || theObj['user_tab'].hasOwnProperty(key)) {
            $('.qms-allocators').append(domObj);
           $('.qms-allocators .form-group:last-child select').attr('name',  "user_"+key);

            $('.qms-allocators .form-group:last-child .field-name span:first-child').html(theObj['tab_name'][key]);

            populateNames(theObj);

        }else{
            $('select#select-field').html('');
            $('select#select-field').append("<option name=" + key + " >" + theObj['tab_name'][key] + "</option>");
        }

      }
    }

    resetBtn();

} // end of populate form

function check_input() {
    var is_set=0;
    $('.filter_form').each(function(i, obj) {
            console.log(obj.name+'--'+obj.value);
            if (obj.value != '') is_set++;
       });
       if (is_set!=0 && is_set==$('.filter_form').length) return true;
       else return false;
}


function getTabOrder(){
    $('.qms-allocators .form-group').each(function(){
        var tab_order_key = $(this).find('.field-name span').html();
        if(!$(this).find('input.order-number').val()){
            /*console.log('has no value ' + $(this).find('input.order-number').val());*/
            var tab_order_value = '0';
            /*console.log('tab_order_value is ' + tab_order_value);*/
        }else {
            /*console.log('has a value which is ' + $(this).find('input.order-number').val());*/
            var tab_order_value = $(this).find('input.order-number').val();
            /*console.log('tab_order_value is ' + tab_order_value);*/
        }

        globalObj.tab_order[tab_order_key] = tab_order_value;
    })
        console.log(globalObj);
}

// Function to order the tabs
function orderTabs(theObj){
    theObj['tab_order'] = array_flip(theObj['tab_order'])

    // Assigning values to input field

    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key)){
            console.log(order_key, theObj['tab_order'][order_key]);
            if(order_key > 0){
                $('.field-name span:contains(' + theObj['tab_order'][order_key] + ')').parent().parent().find('input.order-number').val(order_key);
                $('.field-name span:contains(' + theObj['tab_order'][order_key] + ')').parent().parent().find('input.order-number').addClass('tab-order-'+order_key);
            }
        }
    }
    debugger

    // Re-arranging

/*    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key) && order_key > 0){
            $('input.order-number').hasClass('tab-order-'+ order_key + '').closest('.form-group').addClass('marked');
            debugger;
        }
    }*/

/*    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key) && order_key > 0){
            $('input.order-number[value="' + order_key + '"]').closest('.form-group').addClass('marked');
            debugger;
        }
    }*/

    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key) && order_key > 0){
            $('input.order-number.tab-order-' + order_key + '').closest('.form-group').addClass('marked');
            var the_form_group = $('.qms-allocators .form-group.marked').html();
            console.log(the_form_group);
            $('.qms-allocators .form-group.marked').remove();
            $('.qms-allocators').append('<div class="form-group"></div>');
            $('.qms-allocators .form-group:last-child').html(the_form_group);
            debugger
            
        }
    }

    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key) && order_key == 0){
            $('input.order-number.tab-order-' + order_key + '').closest('.form-group').addClass('marked');
            var the_form_group = $('.qms-allocators .form-group.marked').html();
            console.log(the_form_group);
            $('.qms-allocators .form-group.marked').remove();
            $('.qms-allocators').append('<div class="form-group"></div>');
            $('.qms-allocators .form-group:last-child').html(the_form_group);
            debugger
            
        }
    }


    // Re-assigning input values

    for (var order_key in theObj['tab_order']){
        if(theObj['tab_order'].hasOwnProperty(order_key)){
            console.log(order_key, theObj['tab_order'][order_key]);
            if(order_key > 0){
                $('.field-name span:contains(' + theObj['tab_order'][order_key] + ')').parent().parent().find('input.order-number').val(order_key);
                $('.field-name span:contains(' + theObj['tab_order'][order_key] + ')').parent().parent().find('input.order-number').attr('name', order_key);
            }
        }
    }





    // Flipping again so that submit function doesn't add keys that were values before
    theObj['tab_order'] = array_flip(theObj['tab_order'])    
} // end of order tabs functions



$(document).ready(function(){


/*$('.fa-magic').click(function(){
        $('.qms-allocators,.submit,.qms-add-field').show();
        $('#select-field').html('The end');
        $('#qms-add-field').prop('disabled', true);
        obj_tab_order['tab_name'] = array_flip(obj_tab_order['tab_name'])
        populateForm(obj_tab_order);
        assignMandatory(obj_tab_order);
        orderTabs(obj_tab_order);
        globalObj = obj_tab_order;
})*/


   $(':input[name$=chapter]').on('change', function()  {
        if($(':input[name$=component]').val()!='') {
            $(':input[name$=component]').trigger('change');
         }
    });

    $(':input[name$=author]').on('change', function()  {

        // Clearing the optional fields list

        $('#select-field').html('The end');
        $('#qms-add-field').prop('disabled', true);


        if(check_input()) {
              $.ajax({
                url: '/qms/get_template_process_review/',
                type: 'GET',
                dataType :'json',
                data: {"template_id": $(':input[name$=template]').val() , "project_id" :  $(':input[name$=project]').val() ,"qms_process_model" :$(':input[name$=qms_process_model]').val(),"chapter" :$(':input[name$=chapter]').val(),"author" :$(':input[name$=author]').val() },
                success: function (data) {
                    populateForm(data);
                    /*orderTabs()*/
                    assignMandatory(data);

                    // globalObj to capture the order of tabs

                    globalObj = data;
                },

            });
        }
    });

$(':input[name$=component]').change(function(){
if($(':input[name$=project]').val() !='' &&  $(':input[name$=chapter]').val() !='') {
        $.ajax({
                url: '/qms/fetch_author/',
                type: 'GET',
                dataType :'json',
                data: {"project_id" :  $(':input[name$=project]').val() , "component_id" :  $(this).val() ,"chapter_id" :  $(':input[name$=chapter]').val() },
                beforeSend : function(data) { $(':input[name$=author]').empty() ; $('.select-name ').empty() ;},
                success: function (data) {
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            $(':input[name$=author]').removeAttr("disabled");
                            if(key == 'team_members'){
                                $(':input[name$=author]').append($('<option>', {
                                        value: "",
                                        text: "-------",
                                    }));
                                for (var k in data[key]){
                                    $(':input[name$=author]').append($('<option>', {
                                        value: k,
                                        text: data['team_members'][k],
                                    }));
                                }
                            }
                        }

                    }
                    if(data['author'] != 'None' || data['author'] != '' ) {
                        $('#id_author option[value='+data['author']+']').prop("selected", true);
                    }
                    else if (data['author'] == 'None'){
                         $('#id_author option[value=""]').prop("selected", true);
                    }
                },
                complete: function (data) { $(':input[name$=author]').trigger('change');}

        });
    }
});

    $('#qms-add-field').click(function(e){
        e.preventDefault();
        optCount = $('#select-field > option').length; // The bug

        if (optCount > 1) {

            theField = $('#select-field').val();
            theID = $('#select-field option:selected').attr('name');
            $('#select-field option:selected').remove();
            theClone = $('.qms-allocators .form-group:first-child').clone().appendTo('.qms-allocators');
            $('.qms-allocators .form-group:last-child').find('.field-name span:first-child').html(theField);
            $('.qms-allocators .form-group:last-child').find('select').attr('name', 'user_'+theID);
            $('.qms-allocators .form-group:last-child').find('input.order-number').val('');

        }else if (optCount == 1) {
            theField = $('#select-field').val();
            theID = $('#select-field option:selected').attr('name');
            $('#select-field option:selected').remove();
            theClone = $('.qms-allocators .form-group:first-child').clone().appendTo('.qms-allocators');
            $('.qms-allocators .form-group:last-child').find('.field-name span:first-child').html(theField);
            $('.qms-allocators .form-group:last-child').find('select').attr('name','user_'+theID);
            $('.qms-allocators .form-group:last-child').find('input.order-number').val('');
            $('#select-field').html('The end');
            $('#qms-add-field').prop('disabled', true);

        }
    })


    

    $('body').addClass("nav-left-hide remove-navbar nav-left-medium");



    // Function Calls

    $('#qms-submit').mouseover(function(e){
        getTabOrder();
    })



})//./doc.ready    

$(':input[name$=project]').on('change', function() {
       if(check_input()) {
            $('.reset_field ').not(this).val(null).trigger('change');
            $(".qms-allocators").empty();
       }
});
</script>




<style type="text/css">

    .btn.pull-right{margin-left: 15px}

    .qms-selectors .form-inline{margin-right: 30px;}

    .edit-buttons{width: 65px;}
    .gradeX a.vd_btn{margin-right: 0px !important;}

    .select2.select2-container {min-width: 0px !important;width: 150px !important;margin-right: 10px;}
    .author_dropdown {
        min-width: 0px !important;
        width: 150px !important;
        margin-right: 15px;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        position: relative;
        top: 1px;
        /* color: #999; */
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f1f1;
    }
    .qa-editable{cursor: pointer;}
    .qa-table td p{margin-bottom: 0px; line-height: 30px;}

    #qms-summary{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 15px 0px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    }
    #qms-summary.collapsed{height: 0px;overflow: hidden;padding: 0px;border-bottom: 0px;}

    #qms-summary table, #qms-summary table td, #qms-summary table th{border:1px solid #d6d6d6;text-align: center;}

    #review_report_form{position:relative}
    #review_report_form td input[type="text"], #review_report_form td select{height:25px}
    .no_questions{
    position: absolute;
    top: -55px;
    right: 15px;
    }
    .table .menu-action{padding-top:7px !important;}
    .select-name{float: left;}
    .order-number{width: 50px !important;margin-left:15px;float: left;background-color: #f4fff1;text-align: center;}
</style>


{% endblock %}