<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
</head>

<body>

<p>Hi, {{registered_by}},</p>

<p>Admin has raised leave notification. </p>


<p>System has applied a leave in the ansrsource portal on your behalf.</p>
<p>Leave Type : {{leaveType}} </p>
<p>From Date : {{fromdate}}</p>
<p>To Date : {{todate}}</p>
<p>No. of days : {{count}}<p>
<p> Reason : You have not taken any action before due date </p>
<p></p><p></p>
<p><b>NOTE</b>: This is a system-generated email. Please do not reply.</p>
<p>Regards,<br>
 HR Support<br>
</body>