<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
</head>

<body>

<p>Hi, {{registered_by}},</p>

<p>Please take actions on these leaves. </p>
<p>System will automatically deduct leaves if you don't take any action before {{duedate}}</p>

<table border="1">

    <thead>
        <tr>
            <td><b>Leave Type</b></td>
            <td><b>For Date</b></td>
            <td><b>Reason</b></td>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaveType %}
        <tr>
            <td>{{leave.leave}} </td>
            <td>{{leave.date}}</td>
            {% if reason %} <td>{{leave.reason}} </td> {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Regards,<br>
 HR Support<br>
</body>
