
{% extends 'master.html' %}
{% block siteTitle %}Manage {{ app_name }}{% endblock %}

{% load static from staticfiles %}
{% load process_tags %}
{% load rest_framework %}

{% block pageTitle %}Manage {{ app_name }}{% endblock %}

{% block content  %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

     <div class="panel pb-15">
                  <div class="panel-heading vd_bg-grey clearfix">
                    <h2 class="panel-title pull-left" style="font-size: 15px;line-height: 30px">Basic List Group</h2>
                    <select class="form-control input-sm pull-right" style="width: auto">
                      <option>2017</option>
                      <option>2016</option>
                      <option>2015</option>
                    </select>
                  </div>
    <div class="panel-body">

<table class="table table-striped" id="data-tables">
  <thead>
    <tr>
        {% for field in fields %}
            {% if field == "request_status" %}
<th><b>Request Status</b></th>
            {% elif field == "id" %}
                {% else %}
                <th><b>{{ field|title }}</b></th>
            {% endif %}


        {% endfor %}
        <th><b>Action</b></th>
    </tr>
  </thead>
  <tbody>
{% for process in queryset %}
     <tr>
 {% for field in fields %}
     {% if field == "id" %}
        {% else %}
      <th><b>{{ process| field_name:field }}</b></th>
     {% endif %}


{% endfor %}
     <th><a id="{{ app_name }}-{{ process| field_name:"id" }}" href="#modal-container-process" data-toggle="modal" title="Approve"
        class="pull-right btn btn-sm btn-success">
                            action
                          </a></th>
{#      <th><a id="reject-{{ process| field_name:"id" }}" href="#modal-container-process" role="button" data-toggle="modal" title="Reject"#}
{#        class="pull-right btn btn-sm btn-danger btn-ansr-orange">#}
{#                            reject#}
{#                          </a></th>#}

</tr>

{% endfor %}

</table>


</div>
     </div>



<div class="modal fade" id="modal-container-process" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">

                            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>

                            <h4 class="modal-title" id="myModalLabel">
								APPROVAL PROCESS
							</h4>
                        </div>
                        <div class="modal-body min-height-400" id="modal_body">
                          loading...............
                        </div>
                    <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- ./modal-footer -->

                </div>

            </div>

<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>

<script src='{% static 'js/custom_app.js' %}' type="text/javascript"></script>

<script type="text/javascript">
  
$('document').ready(function(){
  // $('#data-tables').dataTable();
})

</script>
{% endblock %}