{% block pageTitle %}MANAGE Process{% endblock %}

{% block content  %}
{% load rest_framework %}


<form method="POST" id="process_update" enctype="multipart/form-data" >
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    {{ errors }}
    <input type="submit" class="btn btn-default" value="Update">
</form>

{% endblock %}
<script>
 $("form#process_update").submit(function(){
						 var formData = new FormData($(this)[0]);


						 swal({   title: "Are you sure?",
							text: "Do you want to submit?",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#DD6B55",
							confirmButtonText: "Yes, Submit it!",
							cancelButtonText: "No, cancel it.",
							closeOnConfirm: true,
							closeOnCancel: true
							},
							function(isConfirm){
								if (isConfirm) {

								 $.ajax({
									url: "/{{ app_name }}/update/{{ pk }}/",
									type: 'put',
									data: formData,
									success: function () {
									    window.onbeforeunload = null;
											 swal("Done!", "Updated", "success");
                                           window.location=window.location;
									},
									error: function(XMLHttpRequest, textStatus, errorThrown) {
									    alert({{errors  }});
												$("#process_update").html("Oops! Something went wrong on the server. The details are below: "+ {{ errors }}+
													+ "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a>.");

											},
									cache: false,
									contentType: false,
									processData: false
								 });
								}
							   });
						 return false;
					 });


</script>