<!DOCTYPE html>
<html>
    <head>
        {% load static from staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Project Login</title>
			{# Load the tag library #}
			{% load bootstrap3 %}

			{# Load CSS and JavaScript #}
			{% bootstrap_css %}
			{% bootstrap_javascript %}

			{# Display django.contrib.messages as Bootstrap alerts #}
			{% bootstrap_messages %}
    </head>
    <body>
    	<div class="col-xs-12 hidden-lg hidden-md">
		<img src="{% static 'ansrlogo.png' %}" class="img-responsive" />

	</div>
	<div class="col-lg-10 col-md-10 col-xs-12
		col-lg-offset-1 col-md-offset-1 jumbotron"\
		style="position: absolute; top: 20%"> 

		<div class="hidden-xs col-lg-5 col-md-5 ">
			<img src="{% static 'ansrlogo.png' %}"
		       	   class="img-responsive" />	
		</div>	
		<div class="col-lg-5 col-md-5 col-xs-12">
			<legend>Logon&nbsp;to&nbsp;your&nbsp;dashboard</legend>
			<form id="loginForm"  action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form layout='vertical' %}
			{% buttons %}
				<button type="submit" class="btn btn-primary
					col-lg-12 col-xs-12 col-md-12">
				Login
				</button>
			{% endbuttons %}	
			</form>
		</div>
	</div>
	<div style="position: fixed; bottom: 0px;">
		<small>&copy 2014. Fantain Sports Pvt. Ltd.,</small>
	</div>
    </body>
</html>
