<!DOCTYPE html>

<html>
	<head>
		<title>Manager Login</title>
		{# Load the tag library #}
		{% load bootstrap3 %}

		{# Load CSS and JavaScript #}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
	</head>
	<body>
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li class="active"><a href="#create">
			<span class="glyphicon glyphicon glyphicon-pencil"></span>
			Create&nbsp;New&nbsp;Project
		</a></li>
		<li><a href="#manage">
			<span class="glyphicon glyphicon-cog"></span>
			Manage&nbsp;Projects
		</a></li>
		<li><a href="#progress">
			<span class="glyphicon glyphicon-tasks"></span>
			Project's&nbsp;Progress
		</a></li>
		<li><a href="#perfomance">
			<span class="glyphicon glyphicon-user"></span>
			Team&nbsp;Member's&nbsp;Perfomance
		</a></li>
		<li><a href="#status">
			<span class="glyphicon glyphicon-dashboard"></span>
			Project's&nbsp;Status
		</a></li>
		<li><a href="#">
			<span class="glyphicon glyphicon-off"></span>
			Logout
		</a></li>
	</ul>
	<div class="col-xs-10 col-md-10 col-lg-6 
		col-lg-offset-3 col-xs-offset-1 col-md-offset-1">
        <div id="create">
		<form id="createProject" method="post" action="/timesheet/addProject">
			{% csrf_token %}
			{% bootstrap_form basicInfo layout="linear" %}
			{% bootstrap_form team layout="linear" %}
			{% bootstrap_form milestone layout="linear" %}
			{% buttons %}
				<button type="submit" class="btn btn-primary">
				Create New Project
				</button>
			{% endbuttons %}
		</form>
        </div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="navbar-inner navbar-content-center">
				<p class="text-muted credit">
				<small>&copy; 2014. Fantain Sports Pvt. Ltd.,</small>
				</p>
			</div>
	</nav>
    </body>
</html>
