{% extends 'master.html' %}

{% load i18n %}

{{ wizard.form.media }}

{% load bootstrap3 %}

{% block siteTitle %}ANSR-Manager{% endblock %}

{% block responsiveMenu %}
<button type="button" class="navbar-toggle" data-toggle="collapse" 
    data-target="#example-navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>                                  
</button>
{% endblock %}

{% block ansrMenu %}
 <li class="active"><a href="#create">
    <span class="glyphicon glyphicon glyphicon-pencil">
    </span>
     Create&nbsp;new&nbsp;project
 </a></li>
 <li><a href="#manage">
     <span class="glyphicon glyphicon-cog"></span>
     Manage&nbsp;projects
 </a></li>
 <li><a href="#progress">
     <span class="glyphicon glyphicon-tasks"></span>
     Project's&nbsp;progress
 </a></li>
 <li><a href="#perfomance">
    <span class="glyphicon glyphicon-user"></span>
    Team&nbsp;Member's&nbsp;Perfomance
 </a></li>
 <li><a href="#status">
    <span class="glyphicon glyphicon-dashboard"></span>
    Project's&nbsp;Status
 </a></li>
{% endblock %}

{% block loggedStatus %}
<li class="ansrLogout"><a href="{% url 'logout' %}">
    <span class="glyphicon glyphicon-off ansrLogoutIcon"></span>
      <span class="ansrLogout">Logout</span>
  </a></li>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-12 col-lg-8
    col-lg-offset-2 jumbotron shadow">
 <div id="create">
    <form id="createProject" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
	<h3><b>{{ wizard.steps.current }}</b></h3>
	<div class="table-responsive">
	<table class="table">
		{% for field in form %}
			<tr>
				<td>
					<b>
						{{ field.label }}
						{% if field.field.required %}
							<span class="required">*</span>
						{% endif %}
					</b>
				</td>
				<td>{{ field }}</td>
			</tr>
		{% endfor %}
	</table>
	</div>
        {% if wizard.steps.prev %}
            <span class="col-md-6 col-xs-6">
                {% buttons %}
                <button name="wizard_goto_step" value="{{ wizard.steps.prev }}" 
                    type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
		        <b>Previous</b>
                    </button>
                {% endbuttons %}
            </span>
        {% endif %}
    	<span class="col-md-6 col-xs-6 text-right">
        {% buttons %}
            <button type="submit" value="submit" class="btn btn-success">
                {% if wizard.steps.current == wizard.steps.last %}
		    <b>Create</b>
                {% else %}
		    <b>Next</b>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                {% endif %}
            </button>
        {% endbuttons %}
	</span>
    </form>
 </div>
</div>
{% endblock %}
