<!DOCTYPE html>   
<html lang="en">
    <head>
       {% load static from staticfiles %}                                                                                                                     
       <meta charset="utf-8">                                                                                                                                  
       <meta http-equiv="X-UA-Compatible" content="IE=edge">                                                                                                   
       <meta name="viewport" content="width=device-width, initial-scale=1">                                                                                   
       <title>{% block siteTitle %}ANSR{% endblock %}</title>


       {# Load the tag library #}
       {% load bootstrap3 %}

       {# Load Bootstrap CSS and JS #}
       {% bootstrap_css %}
       {% bootstrap_javascript %}

       {# Load Ansr CSS and JS #}
       <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
       
       {% block addFormMedia %}{% endblock %}
 

       {% block ansrJScalls %}{% endblock %}

    </head>
    <body>
	<!-- Ansr -->
	<div class="container">
		<!-- Ansr Logo and role based menuset -->
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top ansrMenuShadow" role="navigation">
				<!-- Ansr brand logo -->
				<div class="navbar-header">
					{% block responsiveMenu %}{% endblock %}
					<a class="navbar-brand">
						<img src="{% static 'images/ansrlogo.png' %}" 
						     class="img-responsive ansrLogo" />
					</a>
				</div> <!-- End of the Ansr Brand Logo -->
				<!-- Ansr role based menuset -->
				 <div class="collapse navbar-collapse" id="example-navbar-collapse">
					 <ul class="nav navbar-nav" style="padding-left: 4px">
						{% block ansrMenu %}{% endblock %}
					 </ul>
					 <ul class="nav navbar-nav navbar-right">
						{% block loggedStatus %} {% endblock %}
					</ul>
				</div>
				<!-- <div>
					<span class="nav navbar-nav navbar-right">
					
					</span>
				</div> -->
			</nav>
		</div><!-- End of Ansr Logo and role based menuset-->
		<!-- Ansr body -->
		<div class="row">
		{% block content  %}{% endblock  %}
		</div><!-- End of Ansr body -->
		<!-- Ansr footer -->
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-bottom col-lg-12 col-xs-12 col-md-12" role="navigation">
				<div class="navbar-inner navbar-content-center">
					<span class="col-lg-6 col-xs-12 col-md-12 col-lg-offset-3 ansrFooterText">
						<small>&copy; 2014.Fantain Sports Pvt. Ltd.,</small>
					</span>
				</div>
			</nav>
		</div><!-- End of Ansr Footer -->
      	</div>
       {% block pageJS %}{% endblock %}
    </body>
</html>
