{% extends 'projectMaster.inc' %}


{% block addForm %}
<span class="pull-right">
	<a id="addForm" href="javascript:;" class="btn btn-success btn-xs addForm">
		<span class="glyphicon glyphicon-plus"></span>
			Add Member
	</a>
	<a id="delete-member" class="btn btn-danger btn-xs">
		<span class="glyphicon glyphicon-minus"></span>
			Delete Member
	</a>
</span>
{% endblock %}

{% block DTactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
	{% if forloop.first %}
		<table class="table table-condensed table-responsive" id="add-team-members">
	{% endif %}
		{% for t in form %}
			{% if forloop.first %}
				{% if '-0' in t.id_for_label %}
					<thead>
                    				<tr>
						{% for field in form %}
							<th>
								<small>{{ field.label }}</small>
								{% if field.field.required %}
									<span class="required">*</span>
								{% endif %}
							</th>
						{% endfor %}
                    				</tr>
					</thead>
				{% endif %}
			{% endif %}
	      {% endfor %}
	      {% for t in form %}
			{% if forloop.first %}
			   	<tr>
			{% endif %}
					<td>{{ t }}</td>
			{% if forloop.last %}
				</tr>
			{% endif %}
	      {% endfor %}
	{% if forloop.last %}
		</table>
<div class="row">
    <div class="col-md-6 pull-right">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Calendar Effort (Team # * Calendar Duration)</td>
                <td class="total-billable-hours">1080</td>
            </tr>
            <tr>
                <td>Planned Effort Total</td>
                <td class="total-idle-hours">1040</td>
            </tr>
            <tr>
                <td>Planned hours / day</td>
                <td class="total-non-billable-hours">9</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
	{% endif %}



{% endblock %}{% endblock %}




