{% extends 'projectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block BIactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
	<div class="table-responsive">
	<table class="table">
		{% for field in form %}
			<tr>
				<td>
						{{ field.label }}
						{% if field.field.required %}
							<span class="required">*</span>
						{% endif %}
				</td>
				<td class="col-xs-12 col-md-12 col-lg-6">{{ field }}</td>
			</tr>
		{% endfor %}
	</table>
	</div>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}{% endblock %}


