{% extends 'projectMaster.inc' %}


{% block content %}
<div class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1 jumbotron shadow">
	<div class="alert alert-success" role="alert">
		<h3>Congratulations!!!</h3><br /> <h5>Your project " <b>{{ projectName }}</b> " has been created.</h5>
	</div>
	<div class="alert alert-info" role="alert">
		<h5>Assigned Project ID : {{ projectId }}</h5>
		<a type="submit" value="submit" href="notify-team" class="btn btn-sm btn-info">
			<span class="glyphicon glyphicon-globe"></span>
			<b>Notify Team</b>
		</a>
	</div>
<a href="add" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-saved"></span>
	<b>Complete</b>
</a>
</div>

{% endblock %}
