{% extends 'manager.html' %}

{% block ansrJScalls %}
<script type="text/javascript">
$(document).ready(function(){
		$("#addForm").click(function(){
			console.log('Nice Trigger');
			});
		});
</script>
{% endblock %}


{% block addForm %}
<span class="pull-right">
	<a id="addForm" href="javascript:;" class="btn btn-success btn-xs addForm">
		<span class="glyphicon glyphicon-plus"></span>
			Add Member
	</a>
	<button type="submit" value="submit" class="btn btn-danger btn-xs">
		<span class="glyphicon glyphicon-minus"></span>
			Delete Member
	</button>
</span>
{% endblock %}


{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								</div>
{% endif %}
	<table class="table table-condensed">
		{% for t in form %}
			{% if forloop.first %}
				{% if '-0' in t.id_for_label %}
					<thead>
						{% for field in form %}
							<th>
								<small>{{ field.label }}</small>
								{% if field.field.required %}
									<span class="required">*</span>
								{% endif %}
							</th>
						{% endfor %}
					</thead>
				{% endif %}
			{% endif %}
		{% endfor %}
		<tbody>


		<tr>
			{% for field in form %}
				<td>
                    {{ field }}
                    <input type="hidden">
                </td>
			{% endfor %}
			{% if form.can_delete %}
				<td>{{ form.DELETE }}</td>
			{% endif %}
		</tr>


		</tbody>
	</table>
{% endblock %}{% endblock %}
