{% extends 'master.html' %}

{% block pageJS %}
<script type="text/javascript">
	$( "#id_monday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_monday').value);
	});
	$( "#id_tuesday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_tuesday').value);
	});
	$( "#id_wednesday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_wednesday').value);
	});
	$( "#id_thursday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_thursday').value);
	});
	$( "#id_friday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_friday').value);
	});
	$( "#id_saturday").change(function() {
		document.getElementById('id_total').value =
		parseInt(document.getElementById('id_total').value) +
		parseInt(document.getElementById('id_saturday').value);
	});
	
	$( "#id_activityMonday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activityMonday').value);
	});
	$( "#id_activityTuesday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activityTuesday').value);
	});
	$( "#id_activityWednesday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activityWednesday').value);
	});
	$( "#id_activityThursday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activityThursday').value);
	});
	$( "#id_activityFriday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activityFriday').value);
	});
	$( "#id_activitySaturday").change(function() {
		document.getElementById('id_activityTotal').value =
		parseInt(document.getElementById('id_activityTotal').value) +
		parseInt(document.getElementById('id_activitySaturday').value);
	});
</script>
{% endblock %}


{% block siteTitle %}ANSR-Timesheet Entry{% endblock %}


{% block content  %}
<legend class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1">
 <span class="col-md-2">
 <button type="submit" value="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-arrow-left"></span>
 </button>
 </span>
 <span class="col-md-4">
 Start : {{ weekstartDate }}
 </span>
 <span class="col-md-4">
 End : {{ weekendDate }}
 </span>
 <span class="col-md-2">
 <button type="submit" value="submit" class="btn btn-default pull-right"> 
	<span class="glyphicon glyphicon-arrow-right"></span>
 </button>
 </span>
</legend>
</div>
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1 text-center">
	<h4><small style="color: green">This Timesheet is approved </small> </h4>
	<h4><small style="color: red">This Timesheet is not approved </small> </h4>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1 jumbotron shadow">
  <form id="billabletimesheet" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<legend>
	Billable 
	<span class="pull-right">
		<button type="submit" value="submit" id="addForm" class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-plus"></span>
			Add Billable Item
		</button>
		<button type="submit" value="submit" class="btn btn-danger btn-xs">
			<span class="glyphicon glyphicon-minus"></span>
			Delete Billable Item
		</button>
	</span>
	</legend>
	<table class="table table-condensed">
		<thead>
			{% for data in form %}
				<th>{{ data.label }}
				{% if data.field.required %}
					<span class="required">*</span>
				{% endif %}
				</th>
			{% endfor %}
		</thead>
		<tbody>
		<tr>
			{% for data in form %}
				<td>{{ data }}</td>
			{% endfor %}
		</tr>
		</tbody>
	</table>
 <button type="submit" value="submit" class="btn btn-info pull-right">
	 Save Billable
 </button>
 </form>
 <br />
 <br />
 <form id="nonbillabletimesheet" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<legend>
	Non - Billable 
	</legend>
	<table class="table table-condensed">
		<thead>
			{% for data in activityForm %}
				<th>{{ data.label }}
				{% if data.field.required %}
					<span class="required">*</span>
				{% endif %}
				</th>
			{% endfor %}
		</thead>
		<tbody>
		<tr>
			{% for data in activityForm %}
				<td>{{ data }}</td>
			{% endfor %}
		</tr>
		</tbody>
	</table>
 <button type="submit" value="submit" class="btn btn-info pull-right">
	 Save Non-Billable
 </button>
 </form>
</div>
{% endblock  %}

{% block loggedStatus %}
<li class="ansrLogout"><a href="{% url 'logout' %}">
    <span class="glyphicon glyphicon-off ansrLogoutIcon"></span>
      <span class="ansrLogout">Logout</span>
  </a></li>
{% endblock %}

