{% extends 'timesheetMaster.html'  %}

{% block startDate %}
{{ weekstartDate }}
{% endblock %}

{% block currentEndDate %}
{{ weekendDate }}
{% endblock %}

{% block endDate %}
{{ weekendDate }}
{% endblock %}

{% block timesheetContent %}
<table class="table table-condensed">
{% for timesheets in currentTimesheet %}
	{% if forloop.first %}
	<thead>
		<legend>Billable</legend>
		{% for k, v in timesheets.items %}
			<th>{{ k }}</th>
		{% endfor %}
	</thead>
	{% endif %}
	<tbody>
		<tr>
			{% for k, v in timesheets.items %}
				<td>{{ v }}</td>
			{% endfor %}
		</tr>
	</tbody>
{% endfor %}
</table>
<table class="table table-condensed">
{% for timesheets in currentActivity %}
	{% if forloop.first %}
	<thead>
		<legend>Non-Billable</legend>
		{% for k, v in timesheets.items %}
			<th>{{ k }}</th>
		{% endfor %}
	</thead>
	{% endif %}
	<tbody>
		<tr>
			{% for k, v in timesheets.items %}
				<td>{{ v }}</td>
			{% endfor %}
		</tr>
	</tbody>
{% endfor %}
</table>
{% endblock  %}
