{% extends 'master.html' %}

{% block siteTitle %}ANSR-Timesheet Entry{% endblock %}


{% block content  %}
<legend class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1">
 <span class="col-md-2">
 <button type="submit" value="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-arrow-left"></span>
 </button>
 </span>
 <span class="col-md-4">
 Start : {{ weekstartDate }}
 </span>
 <span class="col-md-4">
 End : {{ weekendDate }}
 </span>
 <span class="col-md-2">
 <button type="submit" value="submit" class="btn btn-default pull-right"> 
	<span class="glyphicon glyphicon-arrow-right"></span>
 </button>
 </span>
</legend>
<div class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1 jumbotron shadow">
	<legend>
	Billable 
	<span class="pull-right">
		<button type="submit" value="submit" id="addForm" class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-plus"></span>
			Add Billable Item
		</button>
		<button type="submit" value="submit" class="btn btn-danger btn-xs">
			<span class="glyphicon glyphicon-minus"></span>
			Delete Billable Item
		</button>
	</span>
	</legend>
	<table class="table table-condensed">
		<thead>
			{% for data in form %}
				<th>{{ data.label }}
				{% if data.field.required %}
					<span class="required">*</span>
				{% endif %}
				</th>
			{% endfor %}
		</thead>
		<tbody>
		<tr>
			{% for data in form %}
				<td>{{ data }}</td>
			{% endfor %}
		</tr>
		</tbody>
	</table>
	<legend>
	Non - Billable 
	</legend>
	<table class="table table-condensed">
		<thead>
			{% for data in activityForm %}
				<th>{{ data.label }}
				{% if data.field.required %}
					<span class="required">*</span>
				{% endif %}
				</th>
			{% endfor %}
		</thead>
		<tbody>
		<tr>
			{% for data in activityForm %}
				<td>{{ data }}</td>
			{% endfor %}
		</tr>
		</tbody>
	</table>
</div>
{% endblock  %}

{% block loggedStatus %}
<li class="ansrLogout"><a href="{% url 'logout' %}">
    <span class="glyphicon glyphicon-off ansrLogoutIcon"></span>
      <span class="ansrLogout">Logout</span>
  </a></li>
{% endblock %}

