<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
</head>

<body>

<p>Hi, {{candidate}}</p>

<p>hank you for your interest in the post of {{position}} at ANSR Source.</p>
<p>Though your profile is impressive, we regret to inform you that it does not match our current requirements. </p>
<p>The HR Team thanks you for the time you invested to apply for the Author position. We encourage you to apply for future openings for which you qualify.</p>
<p>Thank you, again, for your interest in our company</p>
<p>Regards,<br>
 HR Support<br>
</body>
</html>