.ropeproject
*.pyc
*.sqlite3
*.swp
*.??~
*.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Remove pyc file in this folder
migrations/*pyc

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
BookMyRoom/migrations/
CompanyMaster/migrations/
Library/migrations/
Hire/migrations/
Leave/migrations/
Salesforce/migrations/
employee/migrations/
CompanyMaster/migrations/
MyANSRSource/migrations/
fb360/migrations/
Grievances/migrations/
GrievanceAdmin/migrations/
Reports/migrations/
ExitApp/migrations/
static/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Avoid ansrsourceLogs, Client Activities
backup/
logs/
errorlogs
client-activities/