<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
</head>

<body>

<p>Hi</p>

<p>HR has escalated a grievance which needs your attention. Below are the details:</p>
<p>Grievance registered by : {{registered_by}}</p>
<p>Grievance id : {{grievance_id}} </p>
<p>Grievance Subject: {{grievance_subject}}</p>
<p>You are requested to co-ordinate with the HR and the employee and try to resolve the grievance as early as possible</p>
<p></p><p></p>
<p>Team IT PALTAN,<br>
 Product Engineering<br>
 <b> ansr</b>source</p>
</body>
</html>
