{% extends 'master.html' %}
{% load sales_permissions %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% load grievances_template_tags %}

{% block siteTitle %}Salesforce{% endblock %}
{% block pageTitle %}Salesforce Data{% endblock %}

{% block content  %}
<!--Start modal-->






<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">



			<div class="modal fade" id="modal-container-992788" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header vd_bg-blue vd_white">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>
							<h4 class="modal-title text-center" id="myModalLabel">
								Details
							</h4>
						</div>
						<div class="modal-body" id="modal-body">
							...
						</div>
						<div class="modal-footer vd_bg-grey">
						
						</div>
					</div>
					
				</div>
				
			</div>
			













<h2 class="text-center hidden">Salesforce</h2>

<div class="panel clearfix">
<div class="panel-body">
<button type="button" id="add_new" class="btn-xs btn-success pull-right">Add New</button>
<h4 class="pull-center">Total : {{salesforce_data_list|length}}</h4>

<table class="table  table-striped leave-report-table" id="data-tables">
    <thead>
      <tr>
		<th class="text-center">No.</th>
        <th class="text-center">SF No.</th>
        <th class="text-center">Opportunity Name</th>
        <th class="text-center">Value</th>
		<th class="text-center" style="min-width:100px">Start Date</th>
          <th class="text-center" style="min-width:100px">End Date</th>
		  <th class="text-center" style="min-width:100px">Status</th>
      </tr>
    </thead>
    <tbody>
	{% for obj in salesforce_data_list %}
      <tr>
		<td>{{forloop.counter}}</td>
        <td>
			<a style="padding:0px 2px;" href="#modal-container-992788" role="button" class="btn opp_num" data-toggle="modal">{{obj.opportunity_number}}</a>
			<div style="display: none">
				<table class="table table-striped">
					<tr>
						<td><b>SF/Opportunity N0</b></td>
						<td>{{obj.opportunity_number}}</td>
					</tr>
					<tr>
						<td><b>Opportunity Name</b></td>
						<td>{{obj.opportunity_name}}</td>
					</tr>
					<!--<tr>-->
						<!--<td>Business Unit</td>-->
						<!--<td>:{{obj.business_unit}}</td>-->
					<!--</tr>-->
					<tr>
						<td><b>Customer Contact</b></td>
						<td>{{obj.customer_contact}}</td>
					</tr>
					<tr>
						<td><b>Account Name</td></b></td>
						<td>{{obj.account_name}}</td>
					</tr>
					<tr>
						<td><b>Value</b></td>
						<td>{{obj.value|floatformat:2}}</td>
					</tr>
					<!--<tr>-->
						<!--<td>Probability</td>-->
						<!--<td>:{{obj.probability}}</td>-->
					<!--</tr>-->
					<tr>
						<td><b>Planned Start Date</b></td>
						<td>{{obj.planned_start_date}}</td>
					</tr>
					<tr>
						<td><b>Planned End Date</b></td>
						<td>{{obj.planned_end_date}}</td>
					</tr>
					<!--<tr>-->
						<!--<td><b>Status</b></td>-->
						<!--<td>{{obj.status}}</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>Updated Date</td>-->
						<!--<td>:{{obj.updated_date}}</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td> Created Date</td>-->
						<!--<td>:{{obj.created_date}}</td>-->
					<!--</tr>-->
				</table>
			</div>
		</td>
        <td>{{obj.opportunity_name}}</td>
        <td class="text-right">{{obj.value|floatformat:2}}</td>
		<td>{{obj.planned_start_date}}</td>
      <td>{{obj.planned_end_date}}</td>
		  <td>{{obj.status}}</td>
      </tr>
	{% endfor %}

    </tbody>
  </table>

<!-- <h4 class="pull-right">Total : {{salesforce_data_list|length}}</h4> -->

</div>



</div>










{% endblock  %}

{% block page_specific_JS %}
		<script src='/static/js/jquery.ui.widget.js' type="text/javascript"></script>
		<script src='/static/js/bootstrap-filestyle.min.js' type="text/javascript"></script>

		<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>

		<script>
			$(document).ready(function(){

				// Data Tables Init

		        $('#data-tables').dataTable();

				$(".opp_num").click(function(){
					var details = $(this).next().html();
					$("#modal-body").html(details);
					});

					// File type validation
				var fileExtension = ['csv'];
				$('.filestyle').bind('change', function() {

					if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
						alert("Allowed file types : "+fileExtension.join(', '));
						$(this).filestyle('clear');
						}


				});



				});
		</script>

{% endblock %}


