{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}Candidate Acceptance Report{% endblock %}
{% block pageTitle %}Resignation Acceptance Profile{% endblock %}
{% block content  %}
     <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

            <div class="row" id="form-basic">
              <div class="col-md-12">
<style>
    .autocomplete-light-widget input, .autocomplete-light-widget input:focus{width: 100% !important;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px 8px;
}
ul{list-style: none;padding-left: 0px;}
    </style>
<!--            <div class="panel-body"> -->

  <table class="table table-condensed table-striped myansr-table">
		<thead>
			<tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Last Date</th>
        <th>Clearance status</th>
		  </tr>
    </thead>
{% for c in approved_candidate %}
      {% if c.hr_accepted == True and c.manager_accepted == True and c.exit_interview_notes == None%}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{c}}</td>
        <td>{{c.last_date_accepted | date:"M d, Y"}}</td>
        <td>
          <a href="/exitapp/clearance/?id={{c.id}}">
            <button type="button" class="btn btn-success btn-xs showlist" value ="{{c.id}}">Click</button>
          </a>
        </td>
      </tr>
      {% endif %}
{% endfor %}
                            {% csrf_token %}
    </table>
           </div>
<link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>

    </div>
<!--   </div>
</div> -->
{% endblock %}