{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}Candidate Clearance Report{% endblock %}
{% block pageTitle %}Resignation Clearance Profile{% endblock %}
{% block content  %}
     <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

            <div class="row" id="form-basic">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Enter Your Details </h3>
                  </div>



<style>
    .autocomplete-light-widget input, .autocomplete-light-widget input:focus{width: 100% !important;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px 8px;
}
ul{list-style: none;padding-left: 0px;}
    </style>
           <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" data-toggle="validator">
                        {% csrf_token %}





<table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>#</th>
                          <th>Department</th>
                          <th>Role</th>
                          <th>Status</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td rowspan="3" style="vertical-align: middle;">Johann Un</td>
                          <td>1</td>
                          <td class="center">Library</td>
                          <td class="center">Manager</td>
                          <td class="center"><span class="label label-success">Active</span></td>
                          <td class="menu-action">
                            <a data-original-title="view" data-toggle="modal" data-target="#myModal" data-placement="top" class="btn menu-icon vd_bg-green"> 
                              <i class="fa fa-eye"></i> 
                            </a>
                            <div class="vd_checkbox checkbox-success pull-right">
                              <input type="checkbox" value="1" id="checkbox-1">
                              <label for="checkbox-1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <!-- <td>Petrus Dar</td> -->
                          <td>2</td>
                          <td class="center">Catering</td>
                          <td class="center">Associate Project Lead</td>
                          <td class="center"><span class="label label-success">Active</span></td>
                          <td class="menu-action">
                            <a data-original-title="view" data-toggle="modal" data-target="#myModal" data-placement="top" class="btn menu-icon vd_bg-green"> 
                              <i class="fa fa-eye"></i> 
                            </a>
                            <div class="vd_checkbox checkbox-success pull-right">
                              <input type="checkbox" value="2" id="checkbox-2">
                              <label for="checkbox-2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <!-- <td>Petrus Dar</td> -->
                          <td>3</td>
                          <td class="center">Catering</td>
                          <td class="center">Associate Project Lead</td>
                          <td class="center"><span class="label label-success">Active</span></td>
                          <td class="menu-action">
                            <a data-original-title="view" data-toggle="modal" data-target="#myModal" data-placement="top" class="btn menu-icon vd_bg-green"> 
                              <i class="fa fa-eye"></i> 
                            </a>
                            <div class="vd_checkbox checkbox-success pull-right">
                              <input type="checkbox" value="3" id="checkbox-3">
                              <label for="checkbox-3"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>



                      </form>
                    </div>
                </div>
              </div>
            </div>





<!-- Modal Area -->

 <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">Enter Your Feedback</h4>
                        </div>
                        <div class="modal-body"> 

                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Feedback</label>
                              <div class="col-sm-7 controls">
                                <textarea class="input-border-btm" type="text"></textarea>
                              </div>

                            </div>
                            
                            
                          </form>
                        
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <button type="button" class="btn vd_btn vd_bg-green">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content --> 
                    </div>
                    <!-- /.modal-dialog --> 
                  </div>
                  <!-- /.modal -->


<!-- End of modal area -->






        <link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}