{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}Candidate Acceptance Report{% endblock %}
{% block pageTitle %}Resignation Aceeptance Profile{% endblock %}
{% block content  %}
     <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

            <div class="row" id="form-basic">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Enter Your Details </h3>
                  </div>



<style>
    .autocomplete-light-widget input, .autocomplete-light-widget input:focus{width: 100% !important;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px 8px;
}
ul{list-style: none;padding-left: 0px;}
    </style>
           <div class="panel-body">
                    <form name="acceptanceform" class="form-horizontal" role="form" method="post" enctype="multipart/form-data" data-toggle="validator">
                        <table class="table table-bordered">
		<thead>
			<tr><th class="text-center">Manager Acceptance</th>
                <th class="text-center">HR Acceptance</th>
                <th class="text-center">Employee</th>
                <th class="text-center">Last Date Opted</th>
                <th class="text-center">Last Date By Manager</th>
                <th class="text-center">Manager Feedback</th>
                <th class="text-center">HR Feedback</th>
		</tr></thead>
               {% for c in resigneedata %}
                   <tr><th><input  id="manageraccepted_{{c.User_id}}" name="manageraccepted_{{c.User_id}}" type="checkbox" {% if c.hr_accepted == True%}checked{%endif%}></th>
                       <th><input id="hraccepted_{{c.User_id}}" name="hraccepted_{{c.User_id}}" type="checkbox" {% if c.manager_accepted == True%}checked{%endif%}></th>
                       <th>{{c}}</th>
                       <th>{{c.last_date | truncatechars:14 }}</th>
                       <th> <div class='input-group date datetimepicker' id='datetimepicker'><input name="finaldate_{{c.User_id}}" data-date-format='yyyy-mm-dd hh:ii' type='text' class="form-control datepicker" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div></th>
                       <th><textarea id="managerfeedback_{{c.User_id}}" maxlength="1000" name="managercomment_{{c.User_id}}" >{{c.manager_comment}}</textarea></th>
                       <th><textarea id="hrfeedback_{{c.User_id}}" maxlength="1000" name="hrcomment_{{c.User_id}}" >{{c.hr_comment}}</textarea></th>
                   </tr>
               {% endfor %}
                            {% csrf_token %}
                             </table>
                        <input type ="submit" value ="submit" class="exitbutton btn btn-primary">
                    </form>
           </div>
        <link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
                    <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker();
                format: 'yyyy-mm-dd hh:ii'
            });
        </script>
    </div>
  </div>
</div>

{% endblock %}