{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}Candidate Exit Report{% endblock %}
{% block pageTitle %}Candidate Exit Profile{% endblock %}
{% block content  %}
     <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

            <div class="row" id="form-basic">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Enter Your Details </h3>
                  </div>



<style>

.autocomplete-light-widget input, .autocomplete-light-widget input:focus{width: 100% !important;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px 8px;
}
.exitbutton{margin-top:28px;}
ul{list-style: none;padding-left: 0px;}

.yourlabs-autocomplete.autocomplete-light-widget{max-height: 200px;overflow: auto;}

#id_requisition_number + .select2-container{min-width: 130px;}
.select2-container .select2-selection--single{height: 30px;}

</style>
                    {{form.error}}
                    {% if form.error %}
    {% for field in form %}
        {% for error in field.error %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
                    <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" data-toggle="validator">
                        {% csrf_token %}
                      <div class="form-group">
                        <label class="col-sm-4 control-label" >Resignation Date<span class="mandatory-field"> *</span></label>
                        <div class="col-sm-4 controls">
                            {{ form.start_date }}
                          <div class="help-block with-errors"></div> 
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label" >Last Date<span class="mandatory-field"> *</span></label>
                        <div class="col-sm-4 controls">
                            {{ form.last_date }}
                          <div class="help-block with-errors"></div> 
                          </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" >Reason For Exit<span class="mandatory-field"> *</span></label>
                        <div class="col-sm-4 controls">
                           {{ form.reason_dropdown }}
                          <div class="help-block with-errors"></div> 
                          </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" >Comments<span class="mandatory-field"> *</span></label>
                        <div class="col-sm-4 controls">
                            {{ form.comment }}
                          <div class="help-block with-errors"></div> 
                          </div>
                      </div>

                          <input type ="submit" value ="submit" class="exitbutton btn btn-primary pull-right">




                    </form>
                    </div>
                </div>
              </div>
            </div>

        <link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
                            <script type="text/javascript">

    <!--$(document).ready(function(){-->
    <!--$('select').on('change', function() {-->
    <!--var value = this.value-->
    <!--if(value == 'other')-->
    <!--{-->
    <!--$(".feedbackblock").css("display", "block");-->
    <!--}-->
    <!--else-->
    <!--{-->
    <!--$(".feedbackblock").css("display", "none");-->

    <!--}-->
    <!--});-->
    <!--});-->
    </script>

{% endblock %}

