
<div class="form-group col-sm-6 {% if field.errors %}has-error{% endif %}">
 {% if field.label %}
    <label class="col-sm-4 control-label text-right">
      {{ field.label }}
    </label>
  {% endif %}
<div class="col-sm-7 controls">
  <input min="0" name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control input-sm"{% endif %} type="{{ style.input_type }}"
         {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value %}value="{{ field.value }}"{% endif %}
         {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
{% if field.errors %}{{ field.errors.0 }}{% endif %}
</div>
 </div>