{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load permissions %}
{% load static from staticfiles %}
{% block siteTitle %}Daily Interview Report{% endblock %}
{% block pageTitle %}Dashboard{% endblock %}
{% block content  %}

<link href="/static/css/leave_style.css" rel="stylesheet" type="text/css">
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>

<style type="text/css">
.yourlabs-autocomplete.autocomplete-light-widget{max-height: 200px;overflow: auto;}
</style>

<!--  Start update interview popup-->

            <div class="modal fade" id="modal-container-hire" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">

                            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>

                            <h4 class="modal-title" id="myModalLabel">
              								Please Enter Interview Detail
              							</h4>
                        </div>
                        <div class="modal-body min-height-400" id="modal_body">
                          loading...............
                        </div>
                        <div class="modal-footer vd_bg-white">

                        </div>
                    </div>

                </div>

            </div>


    <!--  End update interview pop-->

    <!--  Start update interview popup-->

            <div class="modal fade" id="modal-container-offer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">

                            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>

                            <h4 class="modal-title" id="myModalLabel">
              								Please Enter Offer Detail
              							</h4>
                        </div>
                        <div class="modal-body min-height-400" id="modal_body_offer">
                          loading...............
                        </div>
                        <div class="modal-footer vd_bg-white">

                        </div>
                    </div>

                </div>

            </div>


    <!--  End update interview pop-->

        <div class="panel"><!-- row -->
            <div class="panel-body">

                <table class="table table-bordered table-hover mb-0 ansrgreen">
                    <tr class="Lv-ApproveTH ">
                        <th>Date</th>
                        <th>Candidate Name</th>
                        <th>Contact Number</th>
                        <th>Designation</th>
                        <th>Specialization</th>
                        <th>Source</th>
                        <th>Source Detail</th>
                        <th>Test</th>
                        <th>Face to Face</th>
                        <th>Final Status</th>
                        {% if request.user|has_group:'HireAdmin' %}
                        <th>Recruiter</th>
                        {% endif %}
                    </tr>

                    {% for interviewlist in interviewdetial %}
                         <tr>
                    <td>{{interviewlist.0.interview_on}} </td>
                    <td>{{interviewlist.0.profile.candidate_name}}</td>
                    <td>{{ interviewlist.0.profile.mobile_number }}</td>
                    <td>{{interviewlist.0.profile.requisition_number.requisition_number.position.designation}} </td>
                    <td>{{interviewlist.0.profile.requisition_number.requisition_number.position.specialization}} </td>
                    <td>{%for k,v in  REFERENCE_SOURCE %} {%if k == interviewlist.0.profile.source %} {{v}} {% endif %}{%endfor%}</td>
                    <td>{{interviewlist.0.profile.referred_by.first_name}} {{interviewlist.0.profile.referred_by.last_name}} </td>

           {% if interviewlist.0.interview_step == 'test' %}
                    <td>{%for k,v in  RESULT_STATUS %} {%if k == interviewlist.0.interview_status %} {{v}} {% endif %}{%endfor%}</td>
           {% elif interviewlist.1.interview_step == 'test' %}
                    <td>{%for k,v in  RESULT_STATUS %} {%if k == interviewlist.0.interview_status %} {{v}} {% endif %}{%endfor%}</td>
           {% else %}
                   <td bgcolor="#cc0000">None </td>
           {% endif %}
           {% if interviewlist.0.interview_step == 'f2f' %}
                  <td>{%for k,v in  RESULT_STATUS %} {%if k == interviewlist.0.interview_status %} {{v}} {% endif %}{%endfor%}</td>
           {% elif interviewlist.1.interview_step == 'f2f' %}
                  <td>{%for k,v in  RESULT_STATUS %} {%if k == interviewlist.1.interview_status %} {{v}} {% endif %}{%endfor%}</td>
           {% else %}
               {% if interviewlist.0.interview_status == "rejected" %}
                   <td>Rejected</td>
                   {% else %}
                  <td ><a id="modal-hire-{{ interviewlist.0.profile.id }}" href="#modal-container-hire" data-toggle="modal" title="Update"  bgcolor="#FF0000">
                            None</a></td>
                   {% endif %}
           {% endif %}
                  <td>
                  {%if interviewlist.0.profile.candidate_status == "selected" %}
                      <a id="modal-hire-{{ interviewlist.0.profile.id }}" href="#modal-container-offer" data-toggle="modal" title="Update"  bgcolor="#FF0000">

                      {%for k,v in  RESULT_STATUS %} {%if k == interviewlist.0.profile.candidate_status %} {{v}} {% endif %}{%endfor%}
                      </a>
                  {% else %}
                      {%for k,v in  RESULT_STATUS %} {%if k == interviewlist.0.profile.candidate_status %} {{v}} {% endif %}{%endfor%}
                  {% endif %}
                  </td>
                         {% if request.user|has_group:'HireAdmin' %}
                             <td>{{ interviewlist.0.profile.requisition_number.recruiter.first_name }}
                                 {{ interviewlist.0.profile.requisition_number.recruiter.last_name }}</td>
                         {% endif %}
                         </tr>

{% endfor %}
</table>
</div>
</div>
<div class="text-center"><div class="pagination">
    <span class="step-links">
        {% if interviewdetial.has_previous %}
            <a href="?page={{ interviewdetial.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ interviewdetial.number }} of {{ interviewdetial.paginator.num_pages }}.
        </span>

        {% if interviewdetial.has_next %}
            <a href="?page={{ interviewdetial.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> </div>

    <script>
    $("#modal-container-hire").on('shown.bs.modal', function(e){
            button=e.relatedTarget;
            prof=button.id.substring(11);
  $.ajax(
        {
            type : "GET",
            url : '/hire/processupdate/',
            data :{"profile":prof} ,
            success : function(data)
            {
                $("#modal_body").html(data);
                $(function () {


                });


              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                $("#modal_body").html("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");
                HideAjaxLoader(ajax_loader_element);
              },
            }
          );
          });

        $("#modal-container-offer").on('shown.bs.modal', function(e){
            button=e.relatedTarget;
            prof=button.id.substring(11);
  $.ajax(
        {
            type : "GET",
            url : '/hire/offerupdate/',
            data :{"profile":prof} ,
            success : function(data)
            {
{#                console.log(data);#}
                $("#modal_body_offer").html(data);
                $(function () {


                });


              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                $("#modal_body_offer").html("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");

              },
            }
          );
          });

            </script>
{% endblock %}