{% extends 'master.html' %}

{% load bootstrap3 %}

{% load fontawesome %}

{% block siteTitle %}myansrsource:access denied{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-10 col-md-12 col-xs-12
            col-lg-offset-1 jumbotron shadow"> 
            <div class="col-lg-12 col-md-12 col-xs-12">
		    <h2>Sorry, You don't have permission to access this feature</h2>

                <a href="/myansrsource/dashboard" class="btn btn-default ">
                    <i class="fa fa-home fa-lg"></i>
                      
			    home
		        </a>
		    <script>
			function goBack() {
			    window.history.back()
			}
		    </script>
            </div>
        </div>
    </div>
{% endblock %}
