{% extends 'master.inc' %}

{% load bootstrap3 %}

{% load fontawesome %}

{% block siteTitle %}myansrsource:access denied{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-10 col-md-12 col-xs-12
            col-lg-offset-1 jumbotron shadow"> 
            <div class="col-lg-12 col-md-12 col-xs-12">
		    <h2>Sorry, You dont have permission to access this feature</h2>
		    <button class="btn btn-default" onclick="goBack()">
                {% fontawesome_icon 'arrow-circle-left' large=True %}
			    Go Back
		    </button>
		    <script>
			function goBack() {
			    window.history.back()
			}
		    </script>
            </div>
        </div>
    </div>
{% endblock %}
