{% extends 'changeProjectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block CBIactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
        <ul>
		{% for field in form %} 
		{% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
		{% endif %}
		{% endfor %}
        </ul>        
	</div>
{% endif %}
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="table-responsive col-lg-12">
            <h3><small><b>{{ projectName }}</b></small></h3>
		    <h4><b><span class="label label-default">Total effort : {{ totalEffort }}</span></b></small></h4>
            <table class="table">
                <tr>
                    {% for hField in form.hidden_fields %}
                        <td>{{ hField }}</td>
                    {% endfor %}
                </tr>
                {% for field in form %}
                    <tr>
                        <td class="col-lg-6">
                                {% if field.label != 'BasicInfoId' %}
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required">*</span>
                                    {% endif %}
                                {% endif %}
                        </td>
                        <td class="col-lg-7">
                            {% if field.label == 'Revised Effort' %}
                                <span class="col-lg-10">{{ field }}</span> 
                                <span class="col-lg-2"><b><span class="label label-default form-control">PH(s)</span></b></span>
                            {% else %}
                                <span class="col-lg-10">{{ field }}</span> 
                                <span class="col-lg-2"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}{% endblock %}
