{% extends 'changeProjectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block CBIactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="table-responsive col-lg-12">
            <table class="table">
                <tr>
                    {% for hField in form.hidden_fields %}
                        <td>{{ hField }}</td>
                    {% endfor %}
                </tr>
                {% for field in form %}
                    <tr>
                        <td class="col-lg-5">
                                {% if field.label != 'BasicInfoId' %}
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required">*</span>
                                    {% endif %}
                                {% endif %}
                        </td>
                        <td class="col-lg-7">
                                {% if field.label == 'Revised Effort' %}
					<span class="col-lg-10">{{ field }}</span> 
					<span class="col-lg-2"><b><span class="label label-default form-control">PH(s)</span></b></span>
				{% else %}
					<span class="col-lg-10">{{ field }}</span> 
					<span class="col-lg-2"></span>
				{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}{% endblock %}
