{% extends 'changeProjectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block MPactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
        <ul>
		{% for field in form %} 
		{% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
		{% endif %}
		{% endfor %}
        </ul>        
	</div>
{% endif %}
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="table-responsive col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <th class="text-center">Choose</th>
                        <th>Project</th>
                    </thead>
                    {% for field in form.project %}
                        <tr>
                            <td class="col-lg-1 text-center">
                                {{ field.tag }}
                            </td>
                            <td class="col-lg-7">
                                {{ field.choice_label }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<script>

</script>

{% endblock %}{% endblock %}
