{% extends 'closeMilestoneMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block MPactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
	<div class="table-responsive col-lg-12">
	<table class="table table-bordered">
		<thead>
			<th class="text-center">Choose</th>
			<th class="text-center">Project Name</th>
			<th class="text-center">Milestones</th>
		</thead>
		{% for field in form.project %}
			<tr>
				<td class="col-lg-1 text-center">
					{{ field.tag }}
				</td>
				<td class="col-lg-5">
					{{ field.choice_label }}
				</td>
				{% with superId=forloop.counter %}
				<td class="col-lg-1 text-center">
					{% for t in msCount %}
						{% if forloop.counter == superId %}
                            {{ t.msCount }}
						{% endif %}
					{% endfor %}
				</td>
				{% endwith %}
			</tr>
		{% endfor %}
	</table>
	</div>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}{% endblock %}
