{% extends 'master.html' %}
{% block siteTitle %}myansrsource:Re-Login{% endblock %}

{% load fontawesome %}

{%block content %}
<div class="row">
        <div class="col-lg-10 col-md-12 col-xs-12 col-lg-offset-1  jumbotron shadow"> 
            <div class="col-lg-12 col-md-12 col-xs-12">
		    <div class="panel panel-danger">
			    <div class="panel-heading">Uh!Oh!</div>
			    <div class="panel-body">  
				Sorry! we have detected some strange activity on your browser.  You will have to login again.  
				<div class="text-right">
					<a href="{% url 'logout'  %}" class="btn btn-sm btn-danger">
                        <i class="fa fa-sign-out fa-lg"></i>
                        <b>Logout</b>
					</a>
				</div>
			    </div>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}
