{% extends 'fb360FeedbackMaster.inc' %}
{% load fontawesome %}

{% block MRactiveClass %}active{% endblock %}
{% block feedbackChild %}
<form id="summary" method="POST" action="">
	{% csrf_token %}
	<div class="table-responsive col-lg-12">
	<table class="table table-bordered">
		<thead>
			<th class="text-center">Choose</th>
			<th class="text-center">Requestee</th>
			<th class="text-center">Remaining QA</th>
		</thead>
		<tbody>
            {% if data %}
                {% for eachData in data %}
                    <tr>
                        <td class="text-center">
                            {% if forloop.first %}
                                <input type="radio" class="center" name="id" value="{{ eachData.id }}" checked>
                            {% else %}
                                <input type="radio" class="center" name="id" value="{{ eachData.id }}">
                            {% endif %}
                        </td>
                        <td class="text-center">{{ eachData.name }}</td>
                        <td class="text-center">{{ eachData.QCount }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
		</tbody>
	</table>
	</div>
	<div class="text-right">
		<button type="submit" class="btn btn-info">
			Give Feedback
            {% fontawesome_icon 'arrow-circle-right' large=True %}
		</button>
	</div>
</form>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}
