{% extends 'fb360FeedbackMaster.inc' %}
{% load fontawesome %}

{% block QAactiveClass %}active{% endblock %}
{% block feedbackChild %}
<form id="summary" method="POST" action="">
	{% csrf_token %}
    {% if qst %}
        {% for eachQst in qst %}
            {% if forloop.last %}
                <input type="hidden" name="totalValue" value="{{ forloop.counter }}" />
            {% endif %}
            <div class="col-lg-12">
                {{ forloop.counter }}. {{ eachQst.qst }}
                {% with forloop.counter|stringformat:"s" as t %}
                    {% with "qId"|add:t as Qid %}
                        <input type="hidden" name="{{ Qid }}" value="{{ eachQst.qstId }}" />
                    {% endwith %}
                {% endwith %}
                <div class="col-lg-12">
                    {% for eachAnsr in ans %}
                        {% with eachQst.qstId|stringformat:"s" as t %}
                            {% with "choice"|add:t as choicename %}
                                {% if eachAnsr.0 == eachQst.myfb %}
                                    <h4><input type="radio" name="{{ choicename }}" value="{{ eachAnsr.0 }}" checked /> <small>{{ eachAnsr.1 }}</small></h4>
                                {% else %}
                                    <h4><input type="radio" name="{{ choicename }}" value="{{ eachAnsr.0 }}" /> <small>{{ eachAnsr.1 }}</small></h4>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="col-lg-12">
            General Feedback about the person
            <h4><small>
                <textarea rows="8" cols="50" name="about" placeholder="Whaterver comes to your mind">
                    {% spaceless %}
                        {% for eachQst in qst %}
                            {% if forloop.last %}
                                {% if eachQst.mygeneralfb %}
                                    {{ eachQst.mygeneralfb }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endspaceless %}
                </textarea>
        </small></h4>
        </div>
        <div>
            <button type="submit" class="btn btn-info">
                <i class="fa fa-floppy-o fa-lg"></i>
                Save
            </button>
            <button type="submit" class="btn btn-info pull-right">
                <i class="fa fa-check-square fa-lg"></i>
                Submit
            </button>
        </div>
    {% else %}
        <h3 class="text-center"><small>No Feedback Questions available </small></h3>
    {% endif %}
</form>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}
