<div id="invoicereport">
<table id="report" class="display nowrap" cellspacing="0" width="100%" class="table table-condensed">
            <thead>
            <tr>
                <th class="hidden">SO-No</th>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Project value</th>
                <th>Invoiced Amount</th>
                <th>Balance</th>
                <th class="hidden">BU</th>
            </tr>
            </thead>
            <script>
                $(document).ready(function() {
                    $('#report').DataTable( {
                        dom: 'Bfrtip',
                        lengthMenu: [
                            [ 10, 25, 50, -1 ],
                            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
                        ],
                        buttons: ['pageLength',
                            'copy', 'excel', 'pdf',
                        ]
                    } );
                } );
            </script>
            {% for val in data %}
            <tr>
                <td class="hidden">{{val.project_id__salesForceNumber}}</td>
                <td>{{val.project_id__projectId}}</td>
                <td>{{val.project_id__name}}</td>
                <td>$ {{val.project_id__totalValue}}</td>
                <td>$ {{val.amount}}</td>
                <td>$ {{val.balance}}</td>
                <td class="hidden">{{val.project_id__bu_id__name}}
            </tr>

            {% endfor %}

        </table>
</div>
