{% extends 'master.html' %}

{% block siteTitle %}myansrsource:Dashboard{% endblock %}


{% block content  %}




 
            <div class="row">
<!-- 
                <div class="col-md-8" data-intro="<strong>Text Section</strong><br/>Section for news and updates, and all other announcements related to the company and it's working" data-step=2>
                    <div class="panel-body-list">

                        <div class="panel widget vd_news-widget">

                            <div class="form-wizard condensed">
                                <div class="row mgbt-0">
                                    <div class="col-md-3 no-pad-right jsh1">
                                        <ul class="nav nav-tabs nav-stacked">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab81">
                                                    <h3>Announcements</h3>
                                                    <p class="unread">HR Messages (12)</p>
                                                    <p>Internal Communications</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab82">
                                                    <h3>News</h3>
                                                    <p>New Releases</p>
                                                    <p class="unread">Miscellaneous (121)</p>
                                                    <p class="unread">More things (4)</p>
                                                    <p>A long sentence as placeholder</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab83">
                                                    <h3>Team Events</h3>
                                                    <p>Photos</p>
                                                    <p>Write Ups</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab84">
                                                    <h3>Client Talk</h3>
                                                    <p>Compliments</p>
                                                    <p>More Compliments</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#tab85">
                                                    <h3>Blog</h3>
                                                    <p class="unread">Blog Type 1 (54)</p>
                                                    <p class="unread">Blog Type 2 (32)</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 no-pad-left no-pad-right tab-content-color text-section-content jsh2 over-y">
                                        <div class="tab-content no-bd mgbt-xs-20 ">
                                            <div class="tab-pane active padded announcements" id="tab81">

                                                <h4 class="hr-message">Treasure Hunt 2016<span>HR</span></h4>

                                                <p>The Treasure Hunt at Karle Premium has been postponed to May 11th 2016. We need more nominations for this event, please send in your nominations as soon as possible. We will be finalizing the participant list by 6pm tomorrow.<br><span class="read-more"><a href="#">Read more...</a></span></p>
                                                <hr>
                                                <h4 class="internal-comm">Umesh - Condolences<span>IC</span></h4>

                                                <p>With a heavy heart I am sharing this sad news with all of you. SP’s father breathed his last yesterday. Fortunately, SP was with his father for the past week taking care of him along with his other siblings and family. It is huge personal loss to him. I was able to speak with him briefly yesterday and conveyed our condolences.</p>

                                                <p>He works very closely with all of you in many ways and I am sure many of you would like to convey your condolences to him and his family.<span class="read-more"> <a href="#">Read more...</a></span></p>
                                                <hr>
                                                <h4 class="internal-comm">Understanding Color Models and Spot Color Systems<span>IC</span></h4>

                                                <p>A color model is a system for creating a full range of colours from a small set of primary colors. There are two types of colour models: additive and subtractive. Additive color models use light to display color, while subtractive color models use printing inks. The most common color models that graphic designers work with are the CMYK model for printing and the RGB model for computer display. <span class="read-more"><a href="#">Read more...</a></span></p>


                                                <hr class="invisible">

                                                <br>
                                                <h4 class="internal-comm">And the fourth<span>IC</span></h4>

                                                <p>Quisque sit amet tortor accumsan magna accumsan euismod. Donec scelerisque iaculis diam a lacinia. Suspendisse sit amet vulputate leo, sit amet auctor elit.Suspendisse sodales nunc odio, sed cursus libero interdum quis. Donec ullamcorper consequat massa sed tristique. Duis semper ut nulla sed malesuada. Sed mollis, urna at laoreet tempus, lorem nunc mattis purus, vitae sollicitudin purus enim in odio.</p>


                                            </div>


                                            <div class="tab-pane pl-pic full-width" id="tab82" style="background: url('/static/images/town-hall-meeting.jpg');background-size: cover;background-position: center;">
                                            </div>


                                            <div class="tab-pane padded" id="tab83">

                                                <h3>Team Events Heading</h3>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis rutrum elit. Donec id ultrices quam, et ornare ex. Ut nibh orci, commodo ut maximus et, condimentum nec augue. Maecenas a consequat ante. Fusce euismod mollis ligula. In hac habitasse platea dictumst. Proin finibus malesuada ornare. Morbi aliquam elementum erat, at fringilla libero dignissim vel. Phasellus porttitor suscipit urna, nec gravida eros hendrerit ac. Vivamus porta justo pharetra vestibulum blandit. Proin id quam metus. In sed molestie justo.</p>

                                                <p>Mauris vestibulum bibendum gravida. Nulla posuere varius tortor. Donec accumsan sollicitudin purus egestas convallis. Curabitur rhoncus tortor facilisis interdum porttitor. Curabitur hendrerit fermentum libero eget fringilla. Quisque sit amet tortor accumsan magna accumsan euismod. Donec scelerisque iaculis diam a lacinia. Suspendisse sit amet vulputate leo, sit amet auctor elit.</p>

                                                <img class="team-pic-left" src="/static/images/christmas.jpg">

                                                <p>Suspendisse sodales nunc odio, sed cursus libero interdum quis. Donec ullamcorper consequat massa sed tristique. Duis semper ut nulla sed malesuada. Sed mollis, urna at laoreet tempus, lorem nunc mattis purus, vitae sollicitudin purus enim in odio.</p>

                                                <p>Suspendisse sodales nunc odio, sed cursus libero interdum quis. Donec ullamcorper consequat massa sed tristique. Duis semper ut nulla sed malesuada. Sed mollis, urna at laoreet tempus, lorem nunc mattis purus, vitae sollicitudin purus enim in odio.</p>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis rutrum elit. Donec id ultrices quam, et ornare ex. Ut nibh orci, commodo ut maximus et, condimentum nec augue. Maecenas a consequat ante. Fusce euismod mollis ligula. In hac habitasse platea dictumst. Proin finibus malesuada ornare. Morbi aliquam elementum erat, at fringilla libero dignissim vel. Phasellus porttitor suscipit urna, nec gravida eros hendrerit ac. Vivamus porta justo pharetra vestibulum blandit. Proin id quam metus. In sed molestie justo.</p>

                                                <p>Mauris vestibulum bibendum gravida. Nulla posuere varius tortor. Donec accumsan sollicitudin purus egestas convallis. Curabitur rhoncus tortor facilisis interdum porttitor. Curabitur hendrerit fermentum libero eget fringilla. Quisque sit amet tortor accumsan magna accumsan euismod. Donec scelerisque iaculis diam a lacinia. Suspendisse sit amet vulputate leo, sit amet auctor elit.</p>



                                            </div>
                                            <div class="tab-pane padded" id="tab84"> </div>
                                            <div class="tab-pane padded" id="tab85"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div> -->





<!-- code insertion -->

                <div class="col-sm-8 mgbt-xs-20 mgbt-md-0 jsh1"><!-- col-lg-6 removed -->
                    <!-- Calendar widget -->

                    <div class="panel widget light-widget panel-bd-top">
                        <div class="panel-body">
                            <div id="calendar" class="mgtp-10"> </div>
                        </div>
                    </div>
                </div>

<!-- ./code insertion -->






                <!-- col-md-4 -->
                <div class="col-md-4">
                    <!-- Start of slider -->

                    <div class="panel widget vd_news-widget">
                        <div class="panel-body-list jsh2" data-intro="<strong>Birthdays and Awards Section</strong><br/>Section for wishing happy birthday and announcing awards" data-step=3>
                            <div class="vd_panel-menu">
                                <div data-action="refresh" class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh"> <i class="icon-cycle"></i> </div>
                                <div class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Config">
                                    <div data-action="click-trigger" class="menu-trigger"> <i class="icon-cog"></i> </div>
                                    <div class="vd_mega-menu-content  width-xs-2  left-xs" data-action="click-target">
                                        <div class="child-menu">
                                            <div class="content-list content-menu">
                                                <ul class="list-wrapper pd-lr-10">
                                                    <li>
                                                        <a href="#">
                                                            <div class="menu-icon"><i class=" fa fa-user"></i></div>
                                                            <div class="menu-text">Panel Menu</div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu entypo-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Close" data-action="close"> <i class="icon-cross"></i> </div>
                            </div>
                            <!-- vd_panel-menu -->

                            <div class="vd_carousel-control">
                                <a href="#"> <i class="fa fa-chevron-left"></i></a> <a href="#"><i class="fa fa-chevron-right"></i></a> </div>
                            <div class="vd_carousel">


                                <div class="vd_carousel-column jsh2" style="background:url(/static/images/photos/amol-award.jpg) no-repeat;background-size: 100% 100%">
                                    <!-- Custom entry -->
                                    <div class="news-list pd-20 vd_white font-light"> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <span class="invisible">
          <h2 class="mgbt-xs-5"><a class="vd_white" href="#">More than <span class="font-semibold"> 3 News List</span> or more <span class="font-semibold">With</span> This Widget.</a>
                                        </h2>
                                        <p> <span class="mgr-10"><span class="append-icon"><i class="fa fa-thumbs-up"></i></span>23k</span> <span class="append-icon"><i class="fa fa-comments"></i></span>8 </p>
                                        </span>
                                    </div>
                                    <div class="comment-list pd-20 vd_bg-white invisible">
                                        <div class="content-list content-image ">
                                            <div class="list-wrapper">
                                                <div class="comment-content">
                                                    <div class="menu-icon">
                                                        <a href="#"><img src="/static/images/avatar/avatar-3.jpg" alt="example image"></a>
                                                    </div>
                                                    <div class="menu-text"> Lorem ipsum dolor sit amet, sed do eiusmod tempor incidtation ullamco. </div>
                                                    <div class="menu-text">
                                                        <div class="menu-info"> by <a href="#">Maria Looney</a> - <span class="menu-date">12 Minutes Ago </span> - <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- list-wrapper -->
                                        </div>
                                        <!-- content-list -->
                                    </div>
                                    <!-- comment-list -->

                                </div>
                                <!-- carousel-column -->

                                <div class="vd_carousel-column" style="background:url(/static/images/ansrlogo.png)no-repeat center 100px #E4E4E4;">
                                    <div class="news-list pd-20 vd_white font-light"> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <span class="invisible"><h2 class="mgbt-xs-5"><a class="vd_white" href="#">Minimalist <span class="font-semibold">News Widget</span> is a <span class="font-semibold">Massively</span> Popular Widget.</a>
                                        </h2>
                                        <p> <span class="mgr-10"><span class="append-icon"><i class="fa fa-thumbs-up"></i></span>95k</span> <span class="append-icon"><i class="fa fa-comments"></i></span>138 </p>
                                        </span>
                                    </div>
                                    <div class="comment-list pd-20 vd_bg-white">
                                        <div class="content-list content-image ">
                                            <div class="list-wrapper">
                                                <div class="comment-content">
                                                    <div class="menu-icon">
                                                        <a href="#"><img src="/static/images/avatar/avatar.jpg" alt="example image"></a>
                                                    </div>
                                                    <div class="menu-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed... Unbelievable !!</div>
                                                    <div class="menu-text">
                                                        <div class="menu-info"> by <a href="#">Lindsay Louhin</a> - <span class="menu-date">12 Minutes Ago </span> - <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span> </div>
                                                    </div>
                                                </div>

                                                <hr>
                                                <div class="comment-content">
                                                    <div class="menu-icon">
                                                        <a href="#"><img src="/static/images/avatar/avatar.jpg" alt="example image"></a>
                                                    </div>
                                                    <div class="menu-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed... Unbelievable !!</div>
                                                    <div class="menu-text">
                                                        <div class="menu-info"> by <a href="#">Lindsay Louhin</a> - <span class="menu-date">12 Minutes Ago </span> - <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- list-wrapper -->
                                        </div>
                                        <!-- content-list -->
                                    </div>
                                    <!-- comment-list -->

                                </div>
                                <!-- carousel-column -->

                            </div>
                            <!-- vd_carousel -->

                        </div>
                        <!-- panel-body-list -->

                    </div>
                    <!-- Panel Widget -->
                </div>
                <!-- end of sliderThingy -->

            </div>
            <!-- end of first row -->
            <!-- row -->

            <div class="row">
                <!-- second row -->


                <!-- Panel Widget -->



<!--                 <div class="col-sm-4 col-lg-6">

                    <div class="panel widget vd_news-widget">
                        <div class="panel-body-list pos-rel">

                            <div class="screen"></div>
                            <iframe src=""></iframe>

                        </div>
                        
                    </div>
                    
                </div>
 -->


                <!-- end of col-sm-4 -->

            </div>
            <!-- row -->
            <!-- End of second row -->





<script type="text/javascript">
    
$(window).load(function(){
     $('#calendar').fullCalendar({
                    eventOrder:'id',
                    aspectRatio: 2.12,
                    eventLimit: true,
                    events: [
                        

    
    
        {
            id : '1',
            start : '2016-04-06',
            title : 'In08:51 Out18:28 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-07',
            title : 'In09:09 Out18:13 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-11',
            title : 'In09:17 Out18:09 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-12',
            title : 'In10:33 Out13:36 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-13',
            title : 'In09:08 Out18:14 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-14',
            title : 'In09:03 Out18:09 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-15',
            title : 'In10:09 Out19:01 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-19',
            title : 'In09:19 Out17:46 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-20',
            title : 'In09:02 Out18:14 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-21',
            title : 'In09:54 Out18:53 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-22',
            title : 'In09:16 Out19:06 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-24',
            title : 'In10:32 Out11:48 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-25',
            title : 'In09:17 Out19:01 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-26',
            title : 'In11:22 Out19:12 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-27',
            title : 'In10:40 Out19:00 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-28',
            title : 'In10:03 Out18:25 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-29',
            title : 'In11:50 Out12:33 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-04-30',
            title : 'In12:03 Out12:46 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-02',
            title : 'In10:06 Out20:27 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-03',
            title : 'In10:09 Out20:58 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-04',
            title : 'In10:10 Out18:49 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-05',
            title : 'In10:15 Out20:49 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-06',
            title : 'In10:03 Out20:18 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-07',
            title : 'In13:10 Out19:56 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-09',
            title : 'In10:13 Out20:53 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-10',
            title : 'In11:20 Out18:57 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-11',
            title : 'In09:47 Out19:34 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-12',
            title : 'In11:32 Out22:12 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-13',
            title : 'In10:12 Out19:12 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-14',
            title : 'In18:46 Out18:49 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-15',
            title : 'In09:20 Out15:30 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-16',
            title : 'In10:22 Out20:32 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-17',
            title : 'In09:39 Out19:11 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-18',
            title : 'In09:32 Out17:38 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-19',
            title : 'In12:15 Out18:48 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-20',
            title : 'In10:43 Out20:30 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-23',
            title : 'In09:43 Out18:09 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-24',
            title : 'In10:37 Out18:39 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-25',
            title : 'In10:10 Out19:28 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-26',
            title : 'In10:18 Out18:55 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-27',
            title : 'In10:53 Out17:33 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-30',
            title : 'In09:46 Out18:57 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-05-31',
            title : 'In09:44 Out19:37 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-01',
            title : 'In09:13 Out19:26 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-02',
            title : 'In08:59 Out19:13 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-03',
            title : 'In09:07 Out16:03 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-08',
            title : 'In09:31 Out19:18 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-09',
            title : 'In09:26 Out19:16 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-10',
            title : 'In09:46 Out19:33 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-13',
            title : 'In10:07 Out20:56 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-14',
            title : 'In09:34 Out18:28 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-15',
            title : 'In10:08 Out18:05 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-16',
            title : 'In09:24 Out19:46 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-17',
            title : 'In10:11 Out18:46 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-20',
            title : 'In11:26 Out18:26 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-21',
            title : 'In09:21 Out19:07 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-22',
            title : 'In09:47 Out19:39 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-23',
            title : 'In10:40 Out18:52 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-24',
            title : 'In10:39 Out18:13 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-27',
            title : 'In10:33 Out19:09 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-28',
            title : 'In10:17 Out20:04 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-29',
            title : 'In09:58 Out19:39 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-06-30',
            title : 'In10:56 Out19:35 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-01',
            title : 'In10:29 Out19:06 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-04',
            title : 'In11:10 Out20:13 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-05',
            title : 'In09:33 Out20:06 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-07',
            title : 'In10:59 Out18:58 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-08',
            title : 'In10:20 Out18:28 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-11',
            title : 'In10:39 Out19:56 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-12',
            title : 'In11:02 Out19:19 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-13',
            title : 'In10:45 Out17:56 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-14',
            title : 'In11:24 Out20:04 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-15',
            title : 'In10:27 Out18:25 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-18',
            title : 'In10:44 Out19:44 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-19',
            title : 'In10:22 Out18:48 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-20',
            title : 'In10:38 Out19:51 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-21',
            title : 'In11:01 Out19:36 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-22',
            title : 'In10:43 Out18:25 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-25',
            title : 'In10:50 Out20:11 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-26',
            title : 'In10:51 Out19:29 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-27',
            title : 'In11:00 Out19:17 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-28',
            title : 'In10:53 Out18:57 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-07-29',
            title : 'In11:03 Out19:14 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-01',
            title : 'In10:37 Out19:06 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-02',
            title : 'In11:11 Out19:36 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-03',
            title : 'In11:08 Out19:19 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-04',
            title : 'In10:21 Out15:00 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-05',
            title : 'In11:27 Out17:13 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-08',
            title : 'In10:11 Out20:05 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-09',
            title : 'In10:52 Out19:49 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    
        {
            id : '1',
            start : '2016-08-10',
            title : 'In10:10 Out18:35 ',
            color : '#ffffff',
            textColor: '#000000',
            borderColor: '#ffffff'
        },
    

                    ],
                    header:{
                      left: 'prev, next today ',
                      center: 'title',
                      right: 'month, basicWeek, basicDay'
                    },

                    eventClick: function(calEvent, jsEvent, view) {
                        eId = Number(calEvent.reminder);
                        //alert(calEvent.reminder)
                        //$('#calendar').fullCalendar('removeEvents', eId);
                        if (eId === parseInt(eId, 10))
                            swal({
                              title: "Are you sure?",
                              text: "Do you want me to forget your reminder?",
                              type: "warning",
                              showCancelButton: true,
                              confirmButtonColor: "#DD6B55",
                              confirmButtonText: "Yes, Please!",
                              closeOnConfirm: false,
                              cancelButtonText: "No, Cancel!",
                              closeOnCancel: false
                            },
                            function(isConfirm) {
                              urlVar = "/myansrsource/remainder/delete/" + eId + "/";
                              if (isConfirm) {
                                  $.ajax({
                                    dataType: "json",
                                    url: urlVar,
                                  });
                                  swal("Done!", "Your reminder is deleted", "success");
                                  window.location.reload();
                              }
                              else
                                  swal("Stay Cool", "I will remind you :)", "success");
                                  //window.location.reload();
                            });
                    },
                })

})

</script>            

       


{% endblock  %}