{% extends 'master.html' %}

{% block siteTitle %}myansrsource:Dashboard{% endblock %}

 {% block tour %}
     <div class="menu no-bg vd_red" data-original-title="Start Layout Tour Guide" data-toggle="tooltip" data-placement="bottom" onClick="javascript:introJs().setOption('showBullets', false).start();"> <span class="menu-icon font-md"><i class="fa fa-question-circle"></i></span> </div>
 {% endblock %}

{% block content  %}





            <div class="row">






<!-- code insertion -->

                <div class="col-sm-8 mgbt-xs-20 mgbt-md-0"><!-- col-lg-6 removed -->
                    <!-- Calendar widget -->

                    <div class="panel widget light-widget panel-bd-top jsh1">
                        <div class="panel-body">
                            <div id="calendar" class="mgtp-10"> </div>

                            <div class="col-lg-12" id="calendar-options-bottom">
                                <input type="checkbox" id="Holiday" checked="">
                                <label for="Holiday" class="label label-default holiday ">
                                    <!-- <i class="fa fa-smile-o fa-lg"></i> --> Holiday
                                </label>

                                <input type="checkbox" id="Financial_milestone">
                                <label for="Financial_milestone" class="label label-default financialM ">
                                    <!-- <i class="fa fa-usd fa-lg"></i> --> Financial Milestone
                                </label>
                                <input type="checkbox" id="Non_financial_milestone">
                                <label for="Non_financial_milestone" class="label label-default nonfinancialM">
                                    <!-- <i class="fa fa-clock-o fa-lg"></i> --> Non-Financial Milestone
                                </label>
                                <input type="checkbox" id="Learning_and_development">
                                <label for="Learning_and_development" class="label label-default training">
                                    <!-- <i class="fa fa-book fa-lg"></i> --> L &amp; D
                                </label>
                                <input type="checkbox" id="Hr_activity">
                                <label for="Hr_activity" class="label label-default hrAct">
                                <!-- <i class="fa fa-users fa-lg"></i> --> HR Activity</span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>

<!-- ./code insertion -->



<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">

<style type="text/css">

/*.carousel-inner{background-color: #f0fffc}    */
.carousel-inner .item{height: 100%;position: relative;}
#birthday-greeting{position: absolute;left: 0px;right: 0px;margin-top: 50px;font-size: 30px;color: #38796e;font-family: 'Roboto Slab', serif;}
.birthday-name{position: absolute;left: 0px;right: 0px;text-align: center;bottom:15%;}
.birthday-name p{margin-bottom: 10px;}
.birthday-name .name{font-weight: bold;font-size: 24px;font-family: 'Roboto Slab', serif; color: #715c4e}
.birthday-name .team{font-weight: normal;font-size: 16px;color: #38796e;font-family: 'Roboto Slab', serif;}
#birthday-cake{
    position: absolute;
    background: url('/static/images/birthdaycake2.png')no-repeat center 35%;
    background-size: 150px;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
</style>




        <!-- col-md-4 -->
        <div class="col-md-4">
            <!-- Start of slider -->

            <div class="panel widget vd_news-widget">
                <div class="panel-body-list jsh2" data-intro="<strong>Birthdays and Awards Section</strong><br/>Section for wishing happy birthday and announcing awards" data-step=9>







                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" style="height:100%">
                      <!-- Indicators -->
                      <ol class="carousel-indicators hide">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                      </ol>



                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox" style="height:100%">


                        <div id="birthday-greeting" class="text-center">Happy Birthday</div>
                        <div id="birthday-cake"></div>                      
<!--                         <div id="name-team">
                        <p class="text-center">Ladislav Kovacs</p>
                        <p class="text-center">Team Natus Vincere</p>
                        </div> -->
                        <!-- ./name- -->                      
                        {% for employee in birthdays_list %}
                            {% if forloop.first %}
                                <div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}

                              <div class="birthday-name">
                                <p class="text-center name">{{ employee.user.first_name }} {{ employee.user.last_name }}</p>
                                <p class="text-center team">{{ employee.business_unit }}</p>
                              </div>
                            </div>

                        {% endfor %}


                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control hide" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control hide" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>




















                </div>
                <!-- panel-body-list -->

            </div>
            <!-- Panel Widget -->
        </div>
        <!-- end of sliderThingy -->

            </div>
            <!-- end of first row -->
            <!-- row -->






<script type="text/javascript">

$(window).load(function(){
     $('#calendar').fullCalendar({
        eventOrder:'id',
        aspectRatio: 2.12,
        contentHeight: 450,
        eventLimit: true,
        events: [
                    {% for eachSwipe in swipe_display %}
                        {
                            id : '1',
                            start : '{{eachSwipe.date}}',
                            title : 'In{{eachSwipe.swipe_in|date:"H:i"}} Out{{eachSwipe.swipe_out|date:"H:i"}} ',
                            color : '#ffffff',
                            textColor: '#000000',
                            borderColor: '#ffffff'
                        },
                    {% endfor %}

                ],
        header:{
              left: 'prev, next today ',
              center: 'title',
              right: 'month, basicWeek, basicDay'
            },

                })

	{% for eachHoliday in holidayList %}
	$("#calendar").fullCalendar('renderEvent',{
	    id :'2',
        title : '{{ eachHoliday.name }}',
        start : '{{ eachHoliday.date }}',
        color :'#009452 !important'},true);
    {% endfor %}

});


	$("#Holiday").click(function(){
		if (document.getElementById('Holiday').checked){
			{% for eachHoliday in holidayList %}
			$("#calendar").fullCalendar('renderEvent',{id :'2', title : '{{ eachHoliday.name }}', start : '{{ eachHoliday.date }}', color :'#009452 !important'},true);
		{% endfor %}
		}
		else{
		$("#calendar").fullCalendar('removeEvents',2);
	}
	});
	$("#Financial_milestone").click(function(){
		if (document.getElementById('Financial_milestone').checked){
			{% for eachMilestone in financialM %}
			$("#calendar").fullCalendar('renderEvent',{id :'3', title : '{{ eachMilestone.description }}', start : '{{ eachMilestone.milestoneDate }}', color :'#D6412B !important'},true);
		{% endfor %}
		}
		else{
		$("#calendar").fullCalendar('removeEvents',3);
	}
	});
	$("#Non_financial_milestone").click(function(){
		if (document.getElementById('Non_financial_milestone').checked){
			{% for eachMilestone in nonfinancialM %}
			$("#calendar").fullCalendar('renderEvent',{id :'4', title : '{{ eachMilestone.description }}', start : '{{ eachMilestone.milestoneDate }}', color :'#FFBA02 !important'},true);
		{% endfor %}
		}
		else{
		$("#calendar").fullCalendar('removeEvents',4);
	}
	});
	$("#Learning_and_development").click(function(){
		if (document.getElementById('Learning_and_development').checked){
			{% for eachTraining in trainingList %}
			$("#calendar").fullCalendar('renderEvent',{id :'5', title : '{{ eachTraining.exercise }} - {{ eachTraining.batch }}', start : '{{ eachTraining.trainingDate }}', end : '{{ eachTraining.endDate }}', color :'#176CED !important'},true);
		{% endfor %}
		}
		else{
		$("#calendar").fullCalendar('removeEvents',5);
	}
	});
	$("#Hr_activity").click(function(){
		if (document.getElementById('Hr_activity').checked){
			{% for eachAct in hrList %}
			$("#calendar").fullCalendar('renderEvent',{id :'6', title : '{{ eachAct.name }}', start : '{{ eachAct.date }}', color :'#F04C23 !important'},true);
		{% endfor %}
		}
		else{
		$("#calendar").fullCalendar('removeEvents',6);
	}
	});

</script>




{% endblock  %}