{% extends 'manageProjectTeamMaster.inc' %}

{% load fontawesome %}


{% block addForm %}

<style type="text/css">
    
    .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 5px 5px;
}
</style>
<button type="button" class="btn info disabled">Project Name:- {{request.session.Pname}}</button>
<span class="">
	<a id="addForm" href="javascript:;" class="btn btn-success btn-xs addForm">
		<i class="fa fa-plus"></i>
			Add Member
	</a>
</span>
{% endblock %}
{% block TMactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
        <ul>
		{% for k, v in form.errors.items %}
        <li>{{ v|striptags }}</li>
		{% endfor %}
        </ul>
        <ul>
		{% for field in form %} 
		{% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
		{% endif %}
		{% endfor %}
        </ul>        
	</div>
{% endif %}
	{% if forloop.first %}
        <div class="table-responsive">
		<table class="table" id="add-team-members">
	{% endif %}
		{% for t in form %}
			{% if forloop.first %}
				{% if '-0' in t.id_for_label %}
					<thead>
                    				<tr>
						{% for field in form %}
			    {% if field.label != 'teamRecId' %}
                            {% if field.label == 'Start date on project' or field.label == 'End date on project' %}
                                <th class="w-170">
                            {% elif field.label == 'Planned Effort' or field.label == '%' %}
                                <th class="w-100">
                            {% elif field.label == 'Member' %}
                                <th class="min-200">
                            {% else %}
							    <th>
                            {% endif %}
								<small>{{ field.label }}</small>
								{% if field.field.required %}
									<span class="required">*</span>
								{% endif %}
							</th>
								{% endif %}
						{% endfor %}
                    		       </tr>
					</thead>
				{% endif %}
			{% endif %}
	      {% endfor %}
          {% for t in form %}
			{% if forloop.first %}
			   	<tr>
			{% endif %}
					<td>{{ t }}</td>
			{% if forloop.last %}
				</tr>
			{% endif %}
	      {% endfor %}
	{% if forloop.last %}
		</table>
        </div>
	{% endif %}
{% autoescape off %}
<script type="text/javascript">
    window.holidays = {{ holidayList }};
</script>

<script type="text/javascript">

$(document).ready(function(){

var lsch;

})

</script>

<style type="text/css">
.select2-container .select2-selection--single{min-height: 34px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 32px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top: 0px;}
.table-responsive{overflow-x: scroll;}


table#add-team-members td > span{
  display: none;:qq
}
table#add-team-members td > select + span{display: block;}
table#add-team-members td:nth-last-child(2){display: none;}
</style>

{% endautoescape %}

{% endblock %}
<script>
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}
$('.form-control.min-100.pro-end-date').prop('readonly', true);
$('.form-control.min-100.pro-start-date .input-group.date').on('click', function(){
 var start_date = $(this).val()
 newdate = start_date.split("-");
 var end_date = parseInt(newdate[2]) + 7
 var d_to_date = new Date(newdate[0], parseInt(newdate[1]) - 1, end_date);
 $(this).parent().parent().parent().find('.pro-end-date').val(formatDate(d_to_date))
})

<!--$('.form-control.w-100').on('keyup focus', function(){-->
 <!--var name = parseInt($(this).val())-->
 <!--if (name > 40)-->
 <!--{-->
	<!--swal("Hold On!", "you can't assign an Employee more than a week")-->
	<!--$(this).val('0.00')-->
  <!--}-->
          <!--});-->

    </script>
{% endblock %}


