{% extends 'manageMilestoneMaster.inc' %}

{% load fontawesome %}

{% block addForm %}
<span class="clearfix">
    <a class="btn btn-success btn-xs pull-right" id="add-milestone-btn">
        <i class="fa fa-plus fa-lg"></i>
        Add Milestone
    </a>
</span>
{{name}}
{% endblock %}

{% block CMSactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
<div class="alert alert-danger">
    {% for k, v in form.errors.items %}
        {{ v }}
    {% endfor %}
</div>
{% endif %}
	{% if forloop.first %}
        <span class="label label-default holiday">{{ totalValue }}</span>
        <span class="label label-default training pull-right" style="margin-right:15px;">
            {% if type == False %}
                External
            {% else %}
                Internal
            {% endif %}
        </span>
		<table class="table table-condensed table-responsive" id="manage-milestones">
	{% endif %}
		{% for t in form %}
			{% if forloop.first %}
				{% if '-0' in t.id_for_label %}
					<thead>
						{% for field in form %}
							<th class="col-lg-4">
								{% if field.label != 'msRecId' %}
									<small>{{ field.label }}</small>
									{% if field.field.required %}
										<span class="required">*</span>
									{% endif %}
								{% endif %}
							</th>
						{% endfor %}
					</thead>
				{% endif %}
			{% endif %}
		{% endfor %}
	      {% for t in form %}
			{% if forloop.first %}
			   	<tr>
			{% endif %}
					{% for hField in t.hidden_fields %}
						<td>{{ hField }}</td>
					{% endfor %}
                        <td>{{ t }}</td>
			{% if forloop.last %}
				</tr>
			{% endif %}
	      {% endfor %}
	{% if forloop.last %}
		</table>


<hr>		
        <div class="row">
            <div class="col-lg-6 pull-right"> 
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>Amount</strong></td>
                        <td><span class="milestone-total-amount">0</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" value="{{ totalValue }}" class="project-total-value-hidden" />
	{% endif %}
    <script>
        $(document).on('autocompleteLightInitialize', '[data-autocomplete-light-function=select2]', function() {
        var element = $(this).get(0);
        console.log(element);
{#        if (initialized.indexOf(element) >= 0) {#}
{#            return#}
{#        }#}


    });




        </script>
{% endblock %}{% endblock %}
