{% extends 'timesheetEntry.html'  %}

{% block siteTitle %}Timesheet{% endblock %}

{% load permissions %}
{% block pageTitle %}
Team member view

{% endblock %}



{% block switch_dates %}
{% if not exception_message %}
<div class="dropdown week-selector pull-left">
  <button class="btn btn-default dropdown-toggle left-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="fa fa-calendar" style="margin-right:5px;color:#999"></i>
    {{ weekstartDate|date:"d-M" }} - {{ weekendDate|date:"d-M" }}
    <!-- <span class="caret"></span> -->
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       {% for date_range in week_collection  %}
           <li>{% with result=status_dict|get_item:date_range %}
               {% for k,v in result.items %}
                    {% if k == 'status'  and v == 'approved' %}
                         <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="filled">
                           {{ date_range }}
                         </a>
                    {% else %}
                        {% if k == 'status' and v == 'partial' %}
                                <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="incomplete">
                                   {{ date_range}}
                                 </a>
                        {% endif %}
                        {% if  k == 'status' and v == 'not_approved'  %}
                            <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="unfilled">
                                    {{ date_range}}
                            </a>
                        {% endif %}
                    {% endif %}
               {% endfor %} {%endwith %}
           </li>
      {% endfor %}

  </ul>
</div>

{% endif %}

{% endblock %}



{% block timesheetContent %}
{% if not exception_message %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">



<div class="panel pb-15">

    <div class="panel-body">
                <!--<button id="reminder_mail" class="btn btn-xs vd_btn vd_bg-blue pull-right" style="margin-bottom: 5px;">Send Reminder</button>-->
                <form method="post" action=""> {% csrf_token %}


{% if ts_data_list_approved_false or ts_data_list_approved_true %}
<table class="table table-striped myansr-table" id="timesheet-approve-table">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Billable (External) </th>
      <th>Billable (Internal)</th>
      <th>Non-Billable </th>
      <th>Leave</th>
    </tr>
  </thead>
  <tbody>

  {% for team_members,values in ts_data_list_approved_false.iteritems %}
    <tr class="odd gradeX approve-reject-options">
      <td>{{team_members.employee_assigned_id}} </td>
      <td>
      <a class="timesheet-approve-user-details details" data-toggle="modal" data-target="#timesheet-approve-report" data-value="{{team_members.user.id}}" style="cursor: pointer;">{{team_members.user.first_name}} {{team_members.user.last_name}}</a>
      </td>
      <td>{{values.external_value}}</td>
      <td>{{values.internal_value}}  </td>
      <td>{{values.non_billable_total}}</td>
      <td> {{values.leave_hours}} </td>

        <!-- Modal Area -->


</tr>
{%endfor %}

   {% for team_members,values in ts_data_list_approved_true.iteritems %}
    <tr class="odd gradeX">
      <td>{{team_members.employee_assigned_id}} </td>
      <td>
      <a class="timesheet-approve-user-details employee" data-toggle="modal" data-target="#timesheet-approve-report" data-value="{{team_members.user.id}}" style="cursor: pointer;">{{team_members.user.first_name}} {{team_members.user.last_name}}</a>
      </td>
      <td>{{values.external_value}}</td>
      <td>{{values.internal_value}} </td>
      <td>{{values.non_billable_total}}</td>
      <td> {{values.leave_hours}} </td>

                  <div class="modal fade" id="myModal_{{team_members.user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{team_members.user.id}}" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white" >
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel_{{team_members.user.id}}" >Feedback</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Enter Your Feedback</label>
                                <div class="col-sm-7 controls">
                                  <textarea class="input-border-btm" name="feedback_{{team_members.user.id}}" type="text"></textarea>
                                </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

        <!-- Modal Area -->


</tr>
{%endfor %}



  </tbody>
</table>
            <input type="submit" name="submit" class="btn btn-sm vd_btn vd_bg-green pull-right" value="Submit">
        {% else %}
        <span>Sorry None Of Your Team Members Have Submitted Their Time Sheet For this Week </span>
        {% endif %}
        <input type="hidden" name="weekstartDate" id="weekstartDate" value="{{weekstartDate|date:"dmY"}}">
        <input type="hidden" name="weekendDate" id="weekendDate" value="{{weekendDate|date:"dmY"}}">


</form>
</div>
</div>








<!-- Modal Area III -->


                  <div class="modal fade" id="timesheet-approve-report" tabindex="-1" role="dialog" aria-labelledby="timesheet-approve-report" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="timesheet-approve-report-body">Timesheet Overview : <span class="timesheet-member-name"></span></h4>
                        </div>
                        <div class="modal-body">
                    <table class="table table-hover project-table">
                      <thead>
                        <tr>
                          <th style="width: 300px;">Billable Project</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                          <th>Sat</th>
                          <th>Sun</th>
                        </tr>
                      </thead>
                      <tbody>


                        <tr class="project-time-row">
                          <td class="project_name">The name of the project</td>
                          <td class="mondayH">0</td>
                          <td class="tuesdayH">0</td>
                          <td class="wednesdayH">0</td>
                          <td class="thursdayH">0</td>
                          <td class="fridayH">0</td>
                          <td class="saturdayH">0</td>
                          <td class="sundayH">0</td>
                        </tr>


                      </tbody>
                    </table>


                    <table class="table table-hover activity-table">
                      <thead>
                        <tr>
                          <th style="width: 300px;">Non-Billable Activities</th>
                          <th><span class="invisible">Mon</span></th>
                          <th><span class="invisible">Tue</span></th>
                          <th><span class="invisible">Wed</span></th>
                          <th><span class="invisible">Thu</span></th>
                          <th><span class="invisible">Fri</span></th>
                          <th><span class="invisible">Sat</span></th>
                          <th><span class="invisible">Sun</span></th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr class="activity-time-row">
                          <td class="activity">The name of the activity</td>
                          <td class="activity_monday">0</td>
                          <td class="activity_tuesday">0</td>
                          <td class="activity_wednesday">0</td>
                          <td class="activity_thursday">0</td>
                          <td class="activity_friday">0</td>
                          <td class="activity_saturday">0</td>
                          <td class="activity_sunday">0</td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table table-hover total-table">
                      <thead>
                        <tr>
                          <th class="invisible" style="width: 300px;">Non-Billable</th>
                          <th><span class="invisible">Mon</span></th>
                          <th><span class="invisible">Tue</span></th>
                          <th><span class="invisible">Wed</span></th>
                          <th><span class="invisible">Thu</span></th>
                          <th><span class="invisible">Fri</span></th>
                          <th><span class="invisible">Sat</span></th>
                          <th><span class="invisible">Sun</span></th>
                        </tr>
                      </thead>
                        <tr class="total-row">
                          <td>Total</td>
                          <td class="monday_total">0</td>
                          <td class="tuesday_total">0</td>
                          <td class="wednesday_total">0</td>
                          <td class="thursday_total">0</td>
                          <td class="friday_total">0</td>
                          <td class="saturday_total">0</td>
                          <td class="sunday_total">0</td>
                        </tr>
                    </table>

                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

<!-- ./Modal Area III -->




<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>



<script type="text/javascript">

var project_time_row = $('.project-time-row').html();
var activity_time_row = $('.activity-time-row').html();
var total_row = $('.total-row').html();



// Functions

var time_iterate = function(e){

  var time_obj = e;

  $('.project-time-row').html('');
  $('.activity-time-row').html('');

  // Append employee name to modal header
if(!jQuery.isEmptyObject(time_obj.tsData) ){
  $('.timesheet-member-name').html(time_obj.tsData[0]['teamMember__first_name'] +'  ' + time_obj.tsData[0]['teamMember__last_name'] + ' ('+ time_obj.tsData[0]['teamMember__employee__employee_assigned_id'] +')');

  // tsdata iteration

  for (var time_key in time_obj['tsData']){
    if (time_obj['tsData'].hasOwnProperty(time_key)){



      // Get length

      var obj_length = time_obj.tsData.length;


      // Populate project row

        $('.project-table tbody').append('<tr class="project-time-row"></tr>')
        $('.project-time-row:last-child').append(project_time_row);
        $('.project-time-row:last-child td.project_name').html(time_obj.tsData[time_key]['project_name']);
        $('.project-time-row:last-child td.task').html(time_obj.tsData[time_key]['task__name']);
        $('.project-time-row:last-child td.mondayH').html(time_obj.tsData[time_key]['mondayH']);
        $('.project-time-row:last-child td.tuesdayH').html(time_obj.tsData[time_key]['tuesdayH']);
        $('.project-time-row:last-child td.wednesdayH').html(time_obj.tsData[time_key]['wednesdayH']);
        $('.project-time-row:last-child td.thursdayH').html(time_obj.tsData[time_key]['thursdayH']);
        $('.project-time-row:last-child td.fridayH').html(time_obj.tsData[time_key]['fridayH']);
        $('.project-time-row:last-child td.saturdayH').html(time_obj.tsData[time_key]['saturdayH']);
        $('.project-time-row:last-child td.sundayH').html(time_obj.tsData[time_key]['sundayH']);
        if (time_obj.tsData[time_key]['remarks'] !="None" && time_obj.tsData[time_key]['remarks'] !=="" && time_obj.tsData[time_key]['remarks'] !=null){
            $('.project-time-row:last-child td.remarks a').attr("title",time_obj.tsData[time_key]['remarks']);}
        else
            {  $('.project-time-row:last-child td.remarks').hide();}
    }
  } // ./ ts data iteration

} else {
    $('.timesheet-member-name').html(time_obj.atData[0]['teamMember__first_name'] +'  ' + time_obj.atData[0]['teamMember__last_name'] + ' ('+ time_obj.atData[0]['teamMember__employee__employee_assigned_id'] +')');
}

  // atdata iteration

  for (var time_key in time_obj['atData']){
    if (time_obj['atData'].hasOwnProperty(time_key)){

      // Get length

      var obj_length = time_obj.atData.length;

      // Populate project row

        $('.activity-table tbody').append('<tr class="activity-time-row"></tr>')
        $('.activity-time-row:last-child').append(activity_time_row);
        $('.activity-time-row:last-child td.activity').html(time_obj.atData[time_key]['activity__name']);
        $('.activity-time-row:last-child td.activity_monday').html(time_obj.atData[time_key]['activity_monday']);
        $('.activity-time-row:last-child td.activity_tuesday').html(time_obj.atData[time_key]['activity_tuesday']);
        $('.activity-time-row:last-child td.activity_wednesday').html(time_obj.atData[time_key]['activity_wednesday']);
        $('.activity-time-row:last-child td.activity_thursday').html(time_obj.atData[time_key]['activity_thursday']);
        $('.activity-time-row:last-child td.activity_friday').html(time_obj.atData[time_key]['activity_friday']);
        $('.activity-time-row:last-child td.activity_saturday').html(time_obj.atData[time_key]['activity_saturday']);
        $('.activity-time-row:last-child td.activity_sunday').html(time_obj.atData[time_key]['activity_sunday']);
         if (time_obj.atData[time_key]['remarks'] !="None" && time_obj.atData[time_key]['remarks'] !== ""  && time_obj.atData[time_key]['remarks'] !=null)
            $('.activity-time-row:last-child td.activity_remarks a').attr("title",time_obj.atData[time_key]['remarks']);
         else
           $('.activity-time-row:last-child td.activity_remarks').hide();

    }else{
        $('.activity-time-row').append(activity_time_row);
        $('.activity-time-row:last-child td.activity').html('nil');
        $('.activity-time-row:last-child td.activity_monday').html('nil');
        $('.activity-time-row:last-child td.activity_tuesday').html('nil');
        $('.activity-time-row:last-child td.activity_wednesday').html('nil');
        $('.activity-time-row:last-child td.activity_thursday').html('nil');
        $('.activity-time-row:last-child td.activity_friday').html('nil');
        $('.activity-time-row:last-child td.activity_saturday').html('nil');
        $('.activity-time-row:last-child td.activity_sunday').html('nil');
        $('.activity-time-row:last-child td.activity_remarks a').attr("title", '');
        $('.activity-time-row:last-child td.activity_remarks a').html('nil');
    }

  } // ./ at data iteration



  // total_list iteration

  for (var time_key in time_obj['total_list']){
    if (time_obj['total_list'].hasOwnProperty(time_key)){
      $('#timesheet-approve-report .monday_total').html(time_obj.total_list[0]['monday_total']);
      $('#timesheet-approve-report .tuesday_total').html(time_obj.total_list[0]['tuesday_total']);
      $('#timesheet-approve-report .wednesday_total').html(time_obj.total_list[0]['wednesday_total']);
      $('#timesheet-approve-report .thursday_total').html(time_obj.total_list[0]['thursday_total']);
      $('#timesheet-approve-report .friday_total').html(time_obj.total_list[0]['friday_total']);
      $('#timesheet-approve-report .saturday_total').html(time_obj.total_list[0]['saturday_total']);
      $('#timesheet-approve-report .sunday_total').html(time_obj.total_list[0]['sunday_total']);
    }
  }




} // ./time_iterate function

var employeeTime = function(){
   $('.details').on('click', function()  {
        $.ajax({
          url: '/myansrsource/timesheet/pm_details',
          type: 'GET',
          data: {"user_id":this.getAttribute('data-value') ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
          success: function (data) {
          time_iterate(data);
          },

        });
  });
}

$(document).ready(function() {
                "use strict";

            <!--$('#timesheet-approve-table').dataTable();-->
             $('#timesheet-approve-table').dataTable( {
                    "order": [],
                    "columnDefs": [ {
                      "targets"  : 'no-sort',
                      "orderable": false,
                    }]
                });
            $("[data-toggle='tooltip']").tooltip();

            /* Toggle checkbox */

            $('.timesheet-approve-options label').click(function(){
              if($(this).parent().find('input[type="checkbox"]').prop("checked") == false){
                $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
              }
            })

            // Firing once
            employeeTime();


            // firing after pagination change
            $('#timesheet-approve-table').on('draw.dt', function() {
              employeeTime();
            });



        jQuery('.approve , .reject ').click(function(e){
            var class_name = this.value;
            if(this.className == 'approve') {
                $('#reject_'+class_name).prop('checked', false);
                $('#cancel_'+class_name).prop('checked', false);
                $('.reject_all').prop('checked', false);
            }
            else if (this.className == 'reject') {
                $('#approve_'+class_name).prop('checked', false);

            }
            else if (this.className == 'cancel') {
                $('#approve_'+class_name).prop('checked', false);
                $('#reject_'+class_name).prop('checked', false);

            }


        });

      $('#reminder_mail').on('click', function()  {

                  swal({   title: "Send Reminder?",
                    text: "Press YES to send a reminder mail",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "YES",
                    cancelButtonText: "NO",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax({
                          url: '/myansrsource/timesheet/send_reminder_mail',
                          type: 'GET',
                          dataType :'json',
                          data: {"user_id":{{request.user.id}} ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
                          success: function (data) {
                                if (data['status'] == true )
                                    swal("Ok", "Reminder Mail is sent Successfully!", "success");
                                else
                                sweetAlert("Oops...", "Something went wrong!", "error");
                          },

                        });
                      }});

      });


} ); // ./doc-ready
</script>
{% else %} <span> Sorry You Don't have Any Direct Report</span>

{% endif %}
{% endblock %}










