{% extends 'timesheetEntry.html'  %}

{% block siteTitle %}Timesheet{% endblock %}

{% load permissions %}
{% block pageTitle %}
Team member view

{% endblock %}


{% block switch_dates %}
{% if not exception_message %}
<div class="dropdown week-selector pull-left">
  <button class="btn btn-default dropdown-toggle left-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="fa fa-calendar" style="margin-right:5px;color:#999"></i>
    {{ weekstartDate|date:"d-M" }} - {{ weekendDate|date:"d-M" }}
    <!-- <span class="caret"></span> -->
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       {% for date_range in week_collection  %}
           <li>{% with result=status_dict|get_item:date_range %}
               {% for k,v in result.items %}
                    {% if k == 'status'  and v == 'approved' %}
                         <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="filled">
                           {{ date_range }}
                         </a>
                    {% else %}
                        {% if k == 'status' and v == 'partial' %}
                                <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="incomplete">
                                   {{ date_range}}
                                 </a>
                        {% endif %}
                        {% if  k == 'status' and v == 'not_approved'  %}
                            <a href="pm_view?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="unfilled">
                                    {{ date_range}}
                            </a>
                        {% endif %}
                    {% endif %}
               {% endfor %} {%endwith %}
           </li>
      {% endfor %}

  </ul>
</div>

{% endif %}

{% endblock %}



{% block timesheetContent %}
{% if not exception_message %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

<div>
<table class="table table-striped myansr-table">
<thead>
<tr><th>Legend</th><th>Submission Status</th><th>Approval Status</th></tr>
</thead>
<tbody>
<tr><td class="fa fa-circle" style="color:green;"></td><td>Submitted</td><td>Approved</td></tr>
<tr><td class="fa fa-circle" style="color:orange;"></td><td>Saved</td><td>Pending Approval</td></tr>
<tr><td class="fa fa-circle" style="color:red;"></td><td>Not Submitted</td><td>Rejected</td></tr>
</tbody>
</table>
</div>


<div class="panel pb-15">

    <div class="panel-body">
                <!--<button id="reminder_mail" class="btn btn-xs vd_btn vd_bg-blue pull-right" style="margin-bottom: 5px;">Send Reminder</button>-->
                <form method="post" action=""> {% csrf_token %}

{% if ts_data_list_approved_false or ts_data_list_approved_true %}
<table class="table table-striped myansr-table" id="timesheet-approve-table">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Time in Office</th>
      <th>Leaves </th>
      <th>Total Hours Logged</th>
      <th>Internal Hours</th>
      <th>External Hours</th>
      <th>External Utilization(%)</th>
    </tr>
  </thead>
  <tbody>

  {% for team_members,values in ts_data_list_approved_false.iteritems %}

    <tr class="odd gradeX approve-reject-options">
      <td>{{team_members.employee_assigned_id}} </td>
      <td>
      <a class="timesheet-approve-user-details details" data-toggle="modal" data-target="#timesheet-approve-report" data-value="{{team_members.user.id}}" style="cursor: pointer;">{{team_members.user.first_name}} {{team_members.user.last_name}}</a>
      </td>
      <td>{{values.total_time}}</td>
      <td>{{values.leave_hours}}</td>
      <td>{{values.total_hours_logged}}</td>
      <td>{{values.internal_value}}  </td>
      <td>{{values.external_value}}</td>
      <td>{{values.external_utilization}}</td>

        <!-- Modal Area -->


</tr>
{%endfor %}

   {% for team_members,values in ts_data_list_approved_true.iteritems %}
    <tr class="odd gradeX">
      <td>{{team_members.employee_assigned_id}} </td>
      <td>
      <a class="timesheet-approve-user-details details" data-toggle="modal" data-target="#timesheet-approve-report" data-value="{{team_members.user.id}}" style="cursor: pointer;">{{team_members.user.first_name}} {{team_members.user.last_name}}</a>
      </td>
      <td>{{values.total_time}}</td>
      <td>{{values.leave_hours}}</td>
      <td>{{values.total_hours_logged}}</td>
       <td>{{values.internal_value}}  </td>
      <td>{{values.external_value}}</td>
      <td>{{values.external_utilization}}</td>

                  <div class="modal fade" id="myModal_{{team_members.user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{team_members.user.id}}" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white" >
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel_{{team_members.user.id}}" >Feedback</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Enter Your Feedback</label>
                                <div class="col-sm-7 controls">
                                  <textarea class="input-border-btm" name="feedback_{{team_members.user.id}}" type="text"></textarea>
                                </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

        <!-- Modal Area -->


</tr>
{%endfor %}



  </tbody>
</table>
            <!--<input type="submit" name="submit" class="btn btn-sm vd_btn vd_bg-green pull-right" value="Submit">-->
        {% else %}
        <span>Sorry None Of Your Team Members Have Submitted Their Time Sheet For this Week </span>
        {% endif %}
        <input type="hidden" name="weekstartDate" id="weekstartDate" value="{{weekstartDate|date:"dmY"}}">
        <input type="hidden" name="weekendDate" id="weekendDate" value="{{weekendDate|date:"dmY"}}">


</form>
</div>
</div>








<!-- Modal Area III -->


                  <div class="modal fade" id="timesheet-approve-report" tabindex="-1" role="dialog" aria-labelledby="timesheet-approve-report" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="timesheet-approve-report-body">Timesheet Overview : <span class="timesheet-member-name"></span></h4>
                        </div>
                        <div class="modal-body">
                    <table class="table table-hover project-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Manager</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                          <th>Sat</th>
                          <th>Sun</th>
                          <th>Total</th>
                          <th>Submission Status</th>
                          <th>Approval Status</th>
                        </tr>
                      </thead>
                      <tbody>

                      <tr class="project-time-row time_in_office">
                          <td class="time_in_office_name">Time in Office</td>
                          <td class="time_in_office_empty">-</td>
                          <td class="time_in_office_mondayH">0</td>
                          <td class="time_in_office_tuesdayH">0</td>
                          <td class="time_in_office_wednesdayH">0</td>
                          <td class="time_in_office_thursdayH">0</td>
                          <td class="time_in_office_fridayH">0</td>
                          <td class="time_in_office_saturdayH">0</td>
                          <td class="time_in_office_sundayH">0</td>
                          <td class="time_in_office_TotalH">0</td>
                          <td></td>
                          <td></td>
                      </tr>

                      <tr class="project-time-row leaves">
                          <td class="leaves_name">Leaves</td>
                          <td class="leaves_practice_manager">-</td>
                          <td class="leaves_mondayH">0</td>
                          <td class="leaves_tuesdayH">0</td>
                          <td class="leaves_wednesdayH">0</td>
                          <td class="leaves_thursdayH">0</td>
                          <td class="leaves_fridayH">0</td>
                          <td class="leaves_saturdayH">0</td>
                          <td class="leaves_sundayH">0</td>
                          <td class="leaves_TotalH">0</td>
                          <td></td>
                          <td></td>
                      </tr>

                      <tr class="project-time-row total_hours_logged">
                          <td class="THL_name">Total Hours Logged</td>
                          <td class="THL_empty">-</td>
                          <td class="THL_mondayH">0</td>
                          <td class="THL_tuesdayH">0</td>
                          <td class="THL_wednesdayH">0</td>
                          <td class="THL_thursdayH">0</td>
                          <td class="THL_fridayH">0</td>
                          <td class="THL_saturdayH">0</td>
                          <td class="THL_sundayH">0</td>
                          <td class="THL_TotalH">0</td>
                          <td></td>
                          <td></td>
                      </tr>



                      <tr class="project-time-row external_hours_header">
                            <td class="external_hours_header_name"><b>External Hours</b></td>
                          <td class="external_hours_header_delivery_manager"><b>Delivery Manager</b></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                       </tr>

                      <tr class="project-time-row external_hours">
                          <td class="external_hours_name">External Hours</td>
                          <td class="external_hours_delivery_manager">-</td>
                          <td class="external_hours_mondayH">0</td>
                          <td class="external_hours_tuesdayH">0</td>
                          <td class="external_hours_wednesdayH">0</td>
                          <td class="external_hours_thursdayH">0</td>
                          <td class="external_hours_fridayH">0</td>
                          <td class="external_hours_saturdayH">0</td>
                          <td class="external_hours_sundayH">0</td>
                          <td class="external_hours_TotalH">0</td>
                          <td class="external_hours_submission_status">0</td>
                          <td class="external_hours_approval_status">0</td>
                      </tr>

                      <tr class="project-time-row internal_hours_header">
                           <td class="internal_hours_header_name"><b>Internal Hours</b></td>
                          <td class="internal_hours_header_delivery_manager"><b>Delivery Manager</b></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>



                     <tr class="project-time-row internal_hours">
                         <td class="internal_hours_name">Internal Hours</td>
                         <td class="internal_hours_delivery_manager">-</td>
                         <td class="internal_hours_mondayH">0</td>
                         <td class="internal_hours_tuesdayH">0</td>
                         <td class="internal_hours_wednesdayH">0</td>
                         <td class="internal_hours_thursdayH">0</td>
                         <td class="internal_hours_fridayH">0</td>
                         <td class="internal_hours_saturdayH">0</td>
                         <td class="internal_hours_sundayH">0</td>
                         <td class="internal_hours_TotalH">0</td>
                         <td class="internal_hours_submission_status">0</td>
                         <td class="internal_hours_approval_status">0</td>
                     </tr>

                      </tbody>
                    </table>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

<!-- ./Modal Area III -->




<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>



<script type="text/javascript">

var time_in_office_row = $('.time_in_office').html();
var leaves_row = $('.leaves').html();
var total_hours_logged_row = $('.total_hours_logged').html();
var internal_hours_row = $('.internal_hours').html();
var external_hours_row = $('.external_hours').html();
var external_hours_header_row = $('.external_hours_header').html();
var internal_hours_header_row = $('.internal_hours_header').html();

// Functions

var time_iterate = function(e){

  var time_obj = e;

  $('.time_in_office').html('');
  $('.leaves').html('');
  $('.total_hours_logged').html('');
  $('.internal_hours').html('');
  $('.external_hours').html('');
  $('.internal_hours_header').html('');
  $('.external_hours_header').html('');

  // Append employee name to modal header
if(!jQuery.isEmptyObject(time_obj.tsData) ){
  $('.timesheet-member-name').html(time_obj.tsData[0]['teamMember__first_name'] +'  ' + time_obj.tsData[0]['teamMember__last_name'] + ' ('+ time_obj.tsData[0]['teamMember__employee__employee_assigned_id'] +')');

  //Time_in_office

  $('.project-table tbody').append('<tr class="project-time-row time_in_office"></tr>')
  $('.time_in_office:last-child').append(time_in_office_row);
  $('.time_in_office:last-child td.time_in_office_name').html('<b>Time in Office</b>');
  $('.time_in_office:last-child td.time_in_office_empty').html('-');
  $('.time_in_office:last-child td.time_in_office_mondayH').html(time_obj.week_data[0]);
  $('.time_in_office:last-child td.time_in_office_tuesdayH').html(time_obj.week_data[1]);
  $('.time_in_office:last-child td.time_in_office_wednesdayH').html(time_obj.week_data[2]);
  $('.time_in_office:last-child td.time_in_office_thursdayH').html(time_obj.week_data[3]);
  $('.time_in_office:last-child td.time_in_office_fridayH').html(time_obj.week_data[4]);
  $('.time_in_office:last-child td.time_in_office_saturdayH').html(time_obj.week_data[5]);
  $('.time_in_office:last-child td.time_in_office_sundayH').html(time_obj.week_data[6]);
  $('.time_in_office:last-child td.time_in_office_TotalH').html(time_obj.time_in);

  //Leaves

  $('.project-table tbody').append('<tr class="project-time-row leaves"></tr>')
  $('.leaves:last-child').append(leaves_row);
  $('.leaves:last-child td.leaves_name').html('<b>Leaves</b>');
  $('.leaves:last-child td.leaves_practice_manager').html(time_obj.practice_manager);
  $('.leaves:last-child td.leaves_mondayH').html(time_obj.leaves[0]);
  $('.leaves:last-child td.leaves_tuesdayH').html(time_obj.leaves[1]);
  $('.leaves:last-child td.leaves_wednesdayH').html(time_obj.leaves[2]);
  $('.leaves:last-child td.leaves_thursdayH').html(time_obj.leaves[3]);
  $('.leaves:last-child td.leaves_fridayH').html(time_obj.leaves[4]);
  $('.leaves:last-child td.leaves_saturdayH').html(time_obj.leaves[5]);
  $('.leaves:last-child td.leaves_sundayH').html(time_obj.leaves[6]);
  $('.leaves:last-child td.leaves_TotalH').html(time_obj.leave_total);

  //Total hours Logged

  $('.project-table tbody').append('<tr class="project-time-row total_hours_logged"></tr>')
  $('.total_hours_logged:last-child').append(total_hours_logged_row);
  $('.total_hours_logged:last-child td.THL_name').html('<b>Total Hours Logged</b>');
  $('.total_hours_logged:last-child td.THL_empty').html('-');
  $('.total_hours_logged:last-child td.THL_mondayH').html(time_obj.daily_logged_hours[0]);
  $('.total_hours_logged:last-child td.THL_tuesdayH').html(time_obj.daily_logged_hours[1]);
  $('.total_hours_logged:last-child td.THL_wednesdayH').html(time_obj.daily_logged_hours[2]);
  $('.total_hours_logged:last-child td.THL_thursdayH').html(time_obj.daily_logged_hours[3]);
  $('.total_hours_logged:last-child td.THL_fridayH').html(time_obj.daily_logged_hours[4]);
  $('.total_hours_logged:last-child td.THL_saturdayH').html(time_obj.daily_logged_hours[5]);
  $('.total_hours_logged:last-child td.THL_sundayH').html(time_obj.daily_logged_hours[6]);
  $('.total_hours_logged:last-child td.THL_TotalH').html(time_obj.total_logged);

   // External hours Header

  $('.project-table tbody').append('<tr class="project-time-row external_hours_header"></tr>')
  $('.external_hours_header:last-child').append(external_hours_header_row);
  $('.external_hours_header:last-child td.external_hours_header_name').html('<b>External Hours</b>');
  $('.external_hours_header:last-child td.external_hours_header_delivery_manager').html('<b>Delivery Manager</b>');



  // tsdata iteration

   for (var time_key in time_obj['tsData']){
     if (time_obj['tsData'].hasOwnProperty(time_key)){

       // Get length

       var obj_length = time_obj.tsData.length;

       // Populate project row
        if(time_obj.tsData[time_key]['is_internal'] == 0){
          total_hours = parseFloat(time_obj.tsData[time_key]['mondayH']) + parseFloat(time_obj.tsData[time_key]['tuesdayH']) + parseFloat(time_obj.tsData[time_key]['wednesdayH']) + parseFloat(time_obj.tsData[time_key]['thursdayH']) + parseFloat(time_obj.tsData[time_key]['fridayH']) + parseFloat(time_obj.tsData[time_key]['saturdayH']) + parseFloat(time_obj.tsData[time_key]['sundayH'])
         $('.project-table tbody').append('<tr class="project-time-row external_hours"></tr>')
         $('.external_hours:last-child').append(external_hours_row);
         $('.external_hours:last-child td.external_hours_name').html(time_obj.tsData[time_key]['project_id']);
         $('.external_hours:last-child td.external_hours_delivery_manager').html(time_obj.tsData[time_key]['delivery_manager']);
         $('.external_hours:last-child td.external_hours_mondayH').html(time_obj.tsData[time_key]['mondayH']);
         $('.external_hours:last-child td.external_hours_tuesdayH').html(time_obj.tsData[time_key]['tuesdayH']);
         $('.external_hours:last-child td.external_hours_wednesdayH').html(time_obj.tsData[time_key]['wednesdayH']);
         $('.external_hours:last-child td.external_hours_thursdayH').html(time_obj.tsData[time_key]['thursdayH']);
         $('.external_hours:last-child td.external_hours_fridayH').html(time_obj.tsData[time_key]['fridayH']);
         $('.external_hours:last-child td.external_hours_saturdayH').html(time_obj.tsData[time_key]['saturdayH']);
         $('.external_hours:last-child td.external_hours_sundayH').html(time_obj.tsData[time_key]['sundayH']);
         $('.external_hours:last-child td.external_hours_TotalH').html(total_hours);
         if(time_obj.tsData[time_key]['approved'] == '0' && time_obj.tsData[time_key]['hold'] == '0' ){
            $('.external_hours:last-child td.external_hours_submission_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
            $('.external_hours:last-child td.external_hours_approval_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
         }
         if(time_obj.tsData[time_key]['approved'] == '0' && time_obj.tsData[time_key]['hold'] == '1' ){
            $('.external_hours:last-child td.external_hours_submission_status').html('<p class="fa fa-circle" style="color:green;"></p>');
            $('.external_hours:last-child td.external_hours_approval_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
         }
         if(time_obj.tsData[time_key]['approved'] == '1' && time_obj.tsData[time_key]['hold'] == '1' ){
            $('.external_hours:last-child td.external_hours_submission_status').html('<p class="fa fa-circle" style="color:green;"></p>');
            $('.external_hours:last-child td.external_hours_approval_status').html('<p class="fa fa-circle" style="color:green;"></p>');
         }
        }
        else{
          $('.external_hours_header').html('');

        }
      }

      }
   }

   // Internal hours header

 $('.project-table tbody').append('<tr class="project-time-row internal_hours_header"></tr>')
 $('.internal_hours_header:last-child').append(internal_hours_header_row);
 $('.internal_hours_header:last-child td.internal_hours_header_name').html('<b>Internal Hours</b>');
 $('.internal_hours_header:last-child td.internal_hours_header_delivery_manager').html('<b>Delivery Manager</b>');


   for (var time_key in time_obj['tsData']){
     if (time_obj['tsData'].hasOwnProperty(time_key)){

       // Get length

       var obj_length = time_obj.tsData.length;

       // Populate project row
        if(time_obj.tsData[time_key]['is_internal'] == 1){


         $('.project-table tbody').append('<tr class="project-time-row internal_hours"></tr>')
         $('.internal_hours:last-child').append(internal_hours_row);
         $('.internal_hours:last-child td.internal_hours_name').html(time_obj.tsData[time_key]['project_id']);
         $('.internal_hours:last-child td.internal_hours_delivery_manager').html(time_obj.tsData[time_key]['delivery_manager']);
         $('.internal_hours:last-child td.internal_hours_mondayH').html(time_obj.tsData[time_key]['mondayH']);
         $('.internal_hours:last-child td.internal_hours_tuesdayH').html(time_obj.tsData[time_key]['tuesdayH']);
         $('.internal_hours:last-child td.internal_hours_wednesdayH').html(time_obj.tsData[time_key]['wednesdayH']);
         $('.internal_hours:last-child td.internal_hours_thursdayH').html(time_obj.tsData[time_key]['thursdayH']);
         $('.internal_hours:last-child td.internal_hours_fridayH').html(time_obj.tsData[time_key]['fridayH']);
         $('.internal_hours:last-child td.internal_hours_saturdayH').html(time_obj.tsData[time_key]['saturdayH']);
         $('.internal_hours:last-child td.internal_hours_sundayH').html(time_obj.tsData[time_key]['sundayH']);
         total_hours = parseFloat(time_obj.tsData[time_key]['mondayH']) + parseFloat(time_obj.tsData[time_key]['tuesdayH']) + parseFloat(time_obj.tsData[time_key]['wednesdayH']) + parseFloat(time_obj.tsData[time_key]['thursdayH']) + parseFloat(time_obj.tsData[time_key]['fridayH']) + parseFloat(time_obj.tsData[time_key]['saturdayH']) + parseFloat(time_obj.tsData[time_key]['sundayH'])
         $('.internal_hours:last-child td.internal_hours_TotalH').html(total_hours);
         if(time_obj.tsData[time_key]['approved'] == '0' && time_obj.tsData[time_key]['hold'] == '0' ){
            $('.internal_hours:last-child td.internal_hours_submission_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
            $('.internal_hours:last-child td.internal_hours_approval_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
         }
         if(time_obj.tsData[time_key]['approved'] == '0' && time_obj.tsData[time_key]['hold'] == '1' ){
            $('.internal_hours:last-child td.internal_hours_submission_status').html('<p class="fa fa-circle" style="color:green;"></p>');
            $('.internal_hours:last-child td.internal_hours_approval_status').html('<p class="fa fa-circle" style="color:orange;"></p>');
         }
         if(time_obj.tsData[time_key]['approved'] == '1' && time_obj.tsData[time_key]['hold'] == '1' ){
            $('.internal_hours:last-child td.internal_hours_submission_status').html('<p class="fa fa-circle" style="color:green;"></p>');
            $('.internal_hours:last-child td.internal_hours_approval_status').html('<p class="fa fa-circle" style="color:green;"></p>');
         }
       }
       else{
            $('.internal_hours_header').html('');
       }
     }
   // ./ ts data iteration
      }
}




// } // ./time_iterate function

var employeeTime = function(){
   $('.details').on('click', function()  {
        $.ajax({
          url: '/myansrsource/timesheet/pm_details',
          type: 'GET',
          data: {"user_id":this.getAttribute('data-value') ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
          success: function (data) {
          time_iterate(data);
          },

        });
  });
}

$(document).ready(function() {
                "use strict";

            <!--$('#timesheet-approve-table').dataTable();-->
             $('#timesheet-approve-table').dataTable( {
                    "order": [],
                    "columnDefs": [ {
                      "targets"  : 'no-sort',
                      "orderable": false,
                    }]
                });
            $("[data-toggle='tooltip']").tooltip();

            /* Toggle checkbox */

            $('.timesheet-approve-options label').click(function(){
              if($(this).parent().find('input[type="checkbox"]').prop("checked") == false){
                $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
              }
            })

            // Firing once
            employeeTime();


            // firing after pagination change
            $('#timesheet-approve-table').on('draw.dt', function() {
              employeeTime();
            });



        jQuery('.approve , .reject ').click(function(e){
            var class_name = this.value;
            if(this.className == 'approve') {
                $('#reject_'+class_name).prop('checked', false);
                $('#cancel_'+class_name).prop('checked', false);
                $('.reject_all').prop('checked', false);
            }
            else if (this.className == 'reject') {
                $('#approve_'+class_name).prop('checked', false);

            }
            else if (this.className == 'cancel') {
                $('#approve_'+class_name).prop('checked', false);
                $('#reject_'+class_name).prop('checked', false);

            }


        });

      $('#reminder_mail').on('click', function()  {

                  swal({   title: "Send Reminder?",
                    text: "Press YES to send a reminder mail",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "YES",
                    cancelButtonText: "NO",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax({
                          url: '/myansrsource/timesheet/send_reminder_mail',
                          type: 'GET',
                          dataType :'json',
                          data: {"user_id":{{request.user.id}} ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
                          success: function (data) {
                                if (data['status'] == true )
                                    swal("Ok", "Reminder Mail is sent Successfully!", "success");
                                else
                                sweetAlert("Oops...", "Something went wrong!", "error");
                          },

                        });
                      }});

      });


} ); // ./doc-ready
</script>
{% else %} <span> Sorry You Don't have Any Direct Report</span>

{% endif %}
{% endblock %}
