{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load permissions %}
{% load static from staticfiles %}
{% block siteTitle %}Program Change Request{% endblock %}
{% block pageTitle %}Program Change Request{% endblock %}

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></head>
{% block content  %}

<script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
<link href="/static/css/site.min.css" rel="stylesheet">
<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<style type="text/css">
    #data-tables_filter{ display:none; }
</style>

{% if select_program == 1 %}
    <div class="panel pb-15"><div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel widget">
                <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Programs </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <select id="program" class="js-example-basic-single" style="width:300px";>
                            <option value="------------"> ------------</option>
                            {% for element in programs%}
                                <option value={{element.id}}> {{element.program}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ProgramDetail"></div>
                </div>
            </div>
        </div>
    </div>
    </div></div>
{% endif %}

{% if program_detail == 1 %}
<div class="program_details">
<div class="panel pb-15"><div class="panel-body">

<form id="program_change_request_form" enctype="multipart/form-data" class="form-horizontal col-sm-9" enctype="multipart/form-data" data-toggle="validator">
    {% csrf_token %}
    {% if messages %}

            {% for message in messages %}

            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong>
            </div>

            {% endfor %}

    {% endif %}

    <div class="form-group">
    <label class="col-sm-5 control-label">Reason</label>
        <div class="col-sm-7 controls">
            {{form.reason}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-5 control-label">Business Unit</label>
        <div class="col-sm-7 controls">
            {{form.bu}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-5 control-label">Portfolio Manager</label>
        <div class="col-sm-7 controls">
            {{form.portfolio_manager}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-5 control-label">Revised Planned Effort</label>
        <div class="col-sm-7 controls">
            {{form.revisedEffort}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-5 control-label">Revised Program Value</label>
        <div class="col-sm-7 controls">
            {{form.revisedTotal}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-5 control-label">Close the Program</label>
        <div class="col-sm-7 controls">
            {{form.closed}}
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
        <h3 class="col-sm-20 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Submit"/></h3>
    </div>

</form>

</div></div>


<div class="panel pb-15"><div class="panel-body">

<table id="example" class="display nowrap" cellspacing="0" width="100%" class="table table-condensed">
            <thead>
            <tr>
                <th>CR ID</th>
                <th>Program ID</th>
                <th>Program Name</th>
                <th>Program Type</th>
                <th>Business Unit</th>
                <th>Portfolio Manager</th>
                <th>Revised Total Value</th>
                <th>Revised Planned Effort</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
            </thead>
            <script>
                $(document).ready(function() {
                    $('#example').DataTable( {
                        dom: 'Bfrtip',
                        lengthMenu: [
                            [ 10, 25, 50, -1 ],
                            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
                        ],
                        buttons: ['pageLength',
                            'copy', 'excel', 'pdf',
                        ]
                    } );
                } );
            </script>
            {% for val in programs %}
            <tr>
                <td>{{val.crId}}</td>
            <td>{{val.program__programId}}</td>
            <td>{{val.program}}</td>
            {% if val.program_type == '1' %}
                <td>Internal</td>
            {% elif val.program_type == '0' %}
                <td>External</td>
            {% endif %}
            <td>{{val.bu_id__name}}</td>
            <td>{{val.portfolio_manager_id__first_name}} {{portfolio_manager_id__last_name}}</td>
            <td>$ {{val.revisedTotal}}</td>
            <td>{{val.revisedEffort}}</td>
            {% if val.approved == 1 %}
                <td>Approved</td>
            {% elif val.active == 0 %}
                <td>Open</td>
            {% endif %}
                <td>{{val.reason}}</td>
        </tr>
            {% endfor %}
        </table>

</div></div>

    <script type="text/javascript">
        $(document).ready(function() {
        $(".js-example-basic-single").select2();
        });
    </script>

</div>

{% endif %}

<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();

$("#program").on('change', function() {
  var program_id = this.value;

  $.ajax({
    url:'/myansrsource/program/change_request',
    data: {"id": program_id},
    type: "get",
    success: function(data){
        var content = $(data).find(".program_details").html();
        $(".ProgramDetail").html(content);
    },
    });
});

});




<!--$("#submit").on('click', function(e) {-->
  <!--e.preventDefault();-->
  <!--var program = document.getElementById("program_name").value;-->
  <!--var bu = document.getElementById("bu").value;-->
  <!--var portfolio_manager = document.getElementById("portfolio_manager").value;-->
  <!--var planned_effort = document.getElementById("planned_effort").value;-->
  <!--var program_value = document.getElementById("program_value").value;-->
  <!--var program_type = document.getElementById("program_type").value;-->

  <!--$.ajax({-->
    <!--url:'/myansrsource/program/create',-->
    <!--data: {"program": program,"bu":bu,"portfolio_manager":portfolio_manager,"planned_effort":planned_effort,"program_value":program_value, "program_type":program_type},-->
    <!--type: "POST",-->
    <!--success: function(data){-->
        <!--sweetAlert("DONE...", "Program Created!");-->
    <!--},-->
   <!--});-->


<!--});-->

</script>

{% endblock %}

