{% extends 'projectMaster.inc' %}


{% block addForm %}
<span class="pull-right">
	<a class="btn btn-success btn-xs" id="add-milestone-btn">
		<span class="glyphicon glyphicon-plus"></span>
			Add Milestone
	</a>
	<a class="btn btn-danger btn-xs" id="del-milestone-btn">
		<span class="glyphicon glyphicon-minus"></span>
			Delete Milestone
	</a>
</span>
{% endblock %}

{% block FMactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger">
		{% for k, v in form.errors.items %}
			{{ v|striptags }}
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert">×</button>
		{% for field in form %} 
		{% if field.errors %}									
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>		  
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
	{% if forloop.first %}
        <div class="col-sm-8 center-block">
        <div class="table-responsive">
		<table class="table table-condensed bottom" id="financial-milestones">
	{% endif %}
		{% for t in form %}
			{% if forloop.first %}
				{% if '-0' in t.id_for_label %}
					<thead>
						{% for field in form.visible_fields %}
                            {% if field.label == 'Milestone Date' %}
                                <th class="w-150">
                            {% elif field.label == 'Description' %}
                                <th class="min-200">
                            {% elif field.label == 'Deliverables' or field.label == 'Amount' %}
                                <th class="w-100">
                            {% elif field.label == 'Delete' %}
                                <th class="w-50">
                            {% else %}
                                <th>
                            {% endif %}

								<small>{{ field.label }}</small>
								{% if field.field.required %}
									<span class="required">*</span>
								{% endif %}
							</th>
						{% endfor %}
					</thead>
				{% endif %}
			{% endif %}
		{% endfor %}
	      {% for t in form.visible_fields %}
			{% if forloop.first %}
			   	<tr>
			{% endif %}
					<td>{{ t }}</td>
			{% if forloop.last %}
				</tr>
			{% endif %}
	      {% endfor %}
	{% if forloop.last %}

		</table>
    </div>


    <div class="row">
        <div class="col-sm-4 center-block">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Amount</strong></td>
                    <td><span class="milestone-total-amount">0</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" value="{{ totalValue }}" class="project-total-value-hidden" />
	{% endif %}
{% endblock %}{% endblock %}
