{% extends 'projectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block BIactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
        <ul>
		{% for field in form %} 
		{% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
		{% endif %}
		{% endfor %}
        </ul>        
	</div>
{% endif %}

                    <div class="panel pb-15">
                        <!-- first widget (vertical tabs) -->

                        <div class="panel-body">



            <div class="col-sm-6 center-block">
                <div class="table-responsive">
                    <table class="table">
                        {% for field in form %}
                            <tr>
                                <td class="col-lg-5">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <span class="required">*</span>
                                        {% endif %}
				                </td>
                                <td class="col-lg-7">
                                    {% if field.label == 'Planned Effort' or field.label == 'Contigency Effort' %}
                                        <span class="col-lg-9">{{ field }}
                                        {% if field.help_text %} <div>{{ field.help_text }} </div>{% endif %}
                                        </span>

                                        <span class="col-lg-3"><b><span class="label label-default form-control"> PH(s)</span></b></span>

                                    {% else %}
                                        <span class="col-lg-9">{{ field }}
                                        {% if field.help_text %} <div>{{ field.help_text }} </div>{% endif %}
                                        </span>

                                        <span class="col-lg-3"></span>

                                    {% endif %}
                                </td>
			            </tr>
			{% endfor %}
		    </table>
		</div>
	   </div>
       </div>
	</div>
<script>
    var app = app || {};

    (function() {

    }());

    $(document).ready(function(){
       $("#browserPrevious").click(function(){
            history.go(-1);
            return false;
        });
    });

</script>

{% endblock %}{% endblock %}


