{% extends 'projectMaster.inc' %}
{% load fontawesome %}

{% block CactiveClass %}active{% endblock %}
{% block content %}
<ul class="form-steps clearfix">
    <li class="form-step one-fourth">
        <span class="form-step-bor"></span>
        <span class="form-step-no">1</span>
        <label class="form-step-label">Define Project</label>
    </li>
    <li class="form-step one-fourth">
        <span class="form-step-bor"></span>
        <span class="form-step-no">2</span>
        <label class="form-step-label">Basic Information</label>
    </li>
    <li class="form-step one-fourth">
        <span class="form-step-bor"></span>
        <span class="form-step-no">3</span>
        <label class="form-step-label">Uploads</label>
    </li>
    <li class="form-step one-fourth">
        <span class="form-step-bor"></span>
        <span class="form-step-no">4</span>
        <label class="form-step-label">Validate</label>
    </li>
    <li class="form-step one-fourth active">
        <span class="form-step-bor"></span>
        <span class="form-step-no">5</span>
        <label class="form-step-label">Complete!</label>
    </li>
</ul>
<form id="success" name="success" method="POST" action="notify-team">
{% csrf_token %}
<input type="hidden" name="projectId" value="{{ projectId }}" />
<input type="hidden" name="projectCode" value="{{ projectCode }}" />
<input type="hidden" name="projectName" value="{{ projectName }}" />
<input type="hidden" name="customer" value="{{ customerId }}" />

<div class="col-xs-12 col-md-12 col-lg-9 col-lg-offset-1 jumbotron shadow">
	<div class="alert alert-success" role="alert">
		<h3>Congratulations!!!</h3><br /> <h5>Your project " <b>{{ projectName }}</b> " has been created.</h5>
	</div>
	<div class="alert alert-info" role="alert">
		<h5>Assigned Project ID : {{ projectCode }}</h5>
		{% if notify == 'F' %}
			<a type="submit" value="submit" class="btn btn-sm disabled btn-info">
                <i class="fa fa-check"></i>
				<b>Notified</b>
			</a>
		{% else %}
			<button type="submit" value="submit" class="btn btn-sm btn-info">
                <i class="fa fa-bell"></i>
				<b>Notify Customers & Heads</b>
			</button>
		{% endif %}
	</div>
<a href="/myansrsource/dashboard" class="btn btn-success pull-right">
        <i class="fa fa-check"></i>
	<b>Complete</b>
	<form id="success" method="post">
	</form>
</a>
</div>
</form>

{% endblock %}
