{% extends 'master.html' %}
{% block siteTitle %}myansrsource:Get IT Support{% endblock %}


{%block content %}
{% if messages %}
         {% for message in messages %}
            {% if message.tags == 'error' and forloop.counter == 1 %}
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <i class="icon-cross"></i>
                </button>
                <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong>
              </div>

{% endif %}
{% endfor %}
{% endif %}
<div class="row">
        <div class="col-lg-10 col-md-12 col-xs-12 col-lg-offset-1  jumbotron shadow"> 
            <div class="col-lg-12 col-md-12 col-xs-12">
		    <div class="panel panel-danger">
			    <div class="panel-heading">Uh!Oh!</div>
			    <div class="panel-body">  
				Sorry! Unable to create project, something serious has happend please contact your IT team for further support.
				<div class="text-right">
					<a href="/myansrsource/dashboard" class="btn btn-sm btn-info">
						<span class="glyphicon glyphicon-globe"></span>
						<b>Dashboard</b>
					</a>
				</div>
			    </div>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}
