{% load static from staticfiles %}

<div class="LeaveDetails" >

<table class=" table table-hover view_details" >
    <tr>
         <td style="width: 200px;" ><b> Project Name:</b></td>
         <td>{{ project_change_detail.project.name }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Prev StartDate:</b></td>
         <td>{{ project_change_detail.project.startDate }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" > <b>Revised Start Date:</b></td>
         <td>{{ project_change_detail.startDate }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Prev End Date:</b></td>
         <td>{{ project_change_detail.project.endDate}}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b>  Revised End Date:</b></td>
         <td>{{ project_change_detail.endDate }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Book:</b></td>
         <td>{{ project_change_detail.project.book }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Prev Total Value:</b></td>
         <td>{{ project_change_detail.project.totalValue }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Revised Total Value:</b></td>
         <td>{{ project_change_detail.revisedTotal }}</td>
    </tr>
    <tr>
        <td style="width: 200px;" ><b>Previous Planned Effort:</b></td>
         <td>{{ project_change_detail.project.plannedEffort }}</td>
    </tr>
    <tr>
         <td style="width: 200px;" ><b> Revised Planned Effort:</b></td>
         <td>{{ project_change_detail.revisedEffort }}</td>
    </tr>
 </table>
</div>