{% load static from staticfiles %}

<div class="LeaveDetails" >

<table class=" table table-hover view_details" >
    </tr>
         <td style="width: 200px;" ><b> Project Name:</b></td>
         <td>{{ project_change_detail.project.name }}</td>
    </tr>

    <tr>
         <td style="width: 200px;" ><b> SFID:</b></td>
         <td>{{ project_change_detail.project.salesForceNumber }}</td>
    </tr>
    </tr>
         <td style="width: 200px;" ><b> Practice:</b></td>
         <td>{{ project_change_detail.practice }}</td>
    </tr>
         <td style="width: 200px;" ><b> Customer:</b></td>
         <td>{{ project_change_detail.customer }}</td>
    </tr>
         <td style="width: 200px;" > <b>Start Date:</b></td>
         <td>{{ project_change_detail.startDate }}</td>
    </tr>
         <td style="width: 200px;" ><b> End Date:</b></td>
         <td>{{ project_change_detail.endDate }}</td>
    </tr>
         <td style="width: 200px;" ><b> Book:</b></td>
         <td>{{ project_change_detail.project.book }}</td>
    </tr>
         <td style="width: 200px;" ><b> Revised Total Value:</b></td>
         <td>{{ project_change_detail.revisedTotal }}</td>
    </tr>
         <td style="width: 200px;" ><b> Planned Effort:</b></td>
         <td>{{ project_change_detail.revisedEffort }}</td>


 </table>
</div>