{% extends 'projectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block DPactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}
{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		{% for field in form %} 
		{% if field.errors %}
			{{ field.label }}: {{ field.errors|striptags }}
		{% endif %}
		{% endfor %}								
	</div>
{% endif %}
	<div class="table-responsive col-lg-12">
	<table class="table">
		{% for field in form %}
			<tr>
				<td class="col-lg-1">
						{{ field.label }}
						{% if field.field.required %}
							<span class="required">*</span>
						{% endif %}
						{% if field.label == 'Chapters' %}
							<br />
							<span>
								<h5><small>Use <b><kbd>ctrl + click<kbd></b> to select multiple chapters</small></h5>
							</span>
						{% endif %}
				</td>
				<td class="col-xs-12 col-md-12 col-lg-2">{{ field }}</td>
			</tr>
		{% endfor %}
	</table>
	</div>
<script>
	$(document).ready(
		function() {
			// Initializing the chapters value
			noBook = $("#id_Define_Project-book :selected").text();
			if(noBook == "---------") {
				$("select#id_Define_Project-chapters").html('');
			}
			// To Filter the chapters based on the selected book
			$("select#id_Define_Project-book").change(function() {
			var url = "/myansrsource/getchapters/"+ $(this).val();
			var options = '';
			$.getJSON(url, function(json_chapters) {
				var chapters = json_chapters;
				for (var i = 0; i < chapters.length; i++) {
					options += '<option value="' + chapters[i].pk + '">' + chapters[i].fields['name'] + '</option>';
				}
				$("select#id_Define_Project-chapters").html(options);
				$("select#id_Define_Project-chapters option:first").attr('selected', 'selected');
			});
		});
	});
    var app = app || {};

    (function() {

    }());
</script>
{% endblock %}{% endblock %}


