{% extends 'projectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block DPactiveClass %}active{% endblock %}
{% block childform %}{% block masterform %}


{% if form.errors %}
	<div class="alert alert-danger" role="alert">
            {% for field in form %} 
                {% if field.errors %}
                <ul><li>{{ field.label }}: {{ field.errors|striptags }}</li></ul>
                {% endif %}
		{% endfor %}								
	</div>
{% endif %}

                    <div class="panel pb-15">
                        <!-- first widget (vertical tabs) -->

                        <div class="panel-body">
            <div class="col-sm-10 center-block">
                <div class="table-responsive">
                    <table class="table">
                        {% for field in form %}
                            <tr>
                                <td class="col-lg-6">
                                        {% if field.label == 'New Development' %}
                                             Project Stage
                                        {% else %}
                                            {{ field.label }}
                                        {% endif %}
                                        {% if field.field.required %}
                                            <span class="required">*</span>
                                        {% endif %}
                                </td>
					{% if field.label == 'Contract Signed' or field.label == 'Internal Project' or field.label == 'New Development' %}
                                <td class="col-lg-6">
						{% for radio in field %}
							{% if field.label == 'New Development' %}
								<span class="col-lg-1">{{ radio.tag }}</span>
								<span class="col-lg-4"><small><b>{{ radio.choice_label }}</b></small></span>
							{% else %}
								<span class="col-lg-1">{{ radio.tag }}</span>
								<span class="col-lg-4"><small><b>{{ radio.choice_label }}</b></small></span>
							{% endif %}
						{% endfor %}
					{% else %}
                                <td class="col-lg-6">
						{{ field }}
					{% endif %}
				</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            </div>
        </div>
<script>
    var app = app || {};

    (function() {

    }());

</script>
{% endblock %}{% endblock %}
