{% load static from staticfiles %}

<div class="LeaveDetails" >

<table class=" table table-hover view_details" >
    <tr>
         <td style="width: 400px;" ><b> Project Name:</b></td>
         <td>{{ project_change_detail.project.name }}</td>
    </tr>
    {% if BL == '1' %}
      <tr>
           <td style="width: 400px;" > <b>Project Start Date:</b></td>
           <td>{{ project_change_detail.startDate }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project End Date:</b></td>
           <td>{{ project_change_detail.endDate }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Total Value:</b></td>
           <td>{{ project_change_detail.revisedTotal }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Planned Effort:</b></td>
           <td>{{ project_change_detail.revisedEffort }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Sales Force Number:</b></td>
           <td>{{ project_change_detail.salesForceNumber }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Customer Contact:</b></td>
           <td>{{ project_change_detail.customerContact }}</td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b>Project Closed:</b></td>
           {% if project_change_detail.closed == True %}
             <td>Yes</td>
           {% endif %}
           {%if project_change_detail.closed == False %}
             <td>No</td>
           {% endif %}
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Signed:</b></td>
           {% if project_change_detail.signed == True %}
             <td>Yes</td>
           {% endif %}
           {%if project_change_detail.signed == False %}
             <td>No</td>
           {% endif %}
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Sow Document:</b></td>
           <td><a href="/media/{{ project_change_detail.Sowdocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
      </tr>
      <tr>
           <td style="width: 400px;" ><b> Project Estimation Document:</b></td>
           <td><a href="/media/{{ project_change_detail.estimationDocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
      </tr>

{% else %}
    {% if project_change_detail.reason and project_change_detail.reason != '0' %}
    <tr>
         <td style="width: 400px;" ><b> Prev StartDate:</b></td>
         <td>{{ project_change_detail.project.startDate }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" > <b>Revised Start Date:</b></td>
         <td>{{ project_change_detail.startDate }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Prev End Date:</b></td>
         <td>{{ project_change_detail.project.endDate}}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b>  Revised End Date:</b></td>
         <td>{{ project_change_detail.endDate }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Prev Total Value:</b></td>
         <td>{{ project_change_detail.project.totalValue }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Total Value:</b></td>
         <td>{{ project_change_detail.revisedTotal }}</td>
    </tr>
    <tr>
        <td style="width: 400px;" ><b>Previous Planned Effort:</b></td>
         <td>{{ project_change_detail.project.plannedEffort }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Planned Effort:</b></td>
         <td>{{ project_change_detail.revisedEffort }}</td>
    </tr>
    {% endif %}

    {% if project_change_detail.startdate_dropdown and project_change_detail.startdate_dropdown != '1' %}


    <tr>
         <td style="width: 400px;" ><b> Prev StartDate:</b></td>
         <td>{{ project_change_detail.project.startDate }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" > <b>Revised Start Date:</b></td>
         <td>{{ project_change_detail.startDate }}</td>
    </tr>
    <tr>
        <td style="width: 400px;" ><b> Startdate change reason:</b></td>
         <td>{{ project_change_detail.startdate_dropdown }}</td>
    </tr>

    {% endif %}
    {% if project_change_detail.enddate_dropdown and project_change_detail.enddate_dropdown != '1' %}


    <tr>
         <td style="width: 400px;" ><b> Prev End Date:</b></td>
         <td>{{ project_change_detail.project.endDate}}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b>  Revised End Date:</b></td>
         <td>{{ project_change_detail.endDate }}</td>
    </tr>
     <tr>
        <td style="width: 400px;" ><b> Enddate change reason:</b></td>
         <td>{{ project_change_detail.enddate_dropdown }}</td>
    </tr>
    {% endif %}
    {% if project_change_detail.amount_dropdown and project_change_detail.amount_dropdown != '1' %}


    <tr>
         <td style="width: 400px;" ><b> Prev Total Value:</b></td>
         <td>{{ project_change_detail.project.totalValue }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Total Value:</b></td>
         <td>{{ project_change_detail.revisedTotal }}</td>
    </tr>
    <tr>
        <td style="width: 400px;" ><b> Amount change reason:</b></td>
         <td>{{ project_change_detail.amount_dropdown }}</td>
    </tr>
    {% endif %}
    {% if project_change_detail.effort_dropdown and project_change_detail.effort_dropdown != '1'  %}
    <tr>
        <td style="width: 400px;" ><b>Previous Planned Effort:</b></td>
         <td>{{ project_change_detail.project.plannedEffort }}</td>
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Planned Effort:</b></td>
         <td>{{ project_change_detail.revisedEffort }}</td>
    </tr>
    <tr>
        <td style="width: 400px;" ><b> Effort change reason:</b></td>
         <td>{{ project_change_detail.effort_dropdown }}</td>
    </tr>
    {% endif %}

    {% if project_change_detail.close_dropdown and project_change_detail.close_dropdown != '1'  %}
    <tr>
        <td style="width: 400px;" ><b>Project Closed:</b></td>
        {% if project_change_detail.project.closed == True %}
          <td>Yes</td>
        {% endif %}
        {%if project_change_detail.project.closed == False %}
          <td>No</td>
        {% endif %}
    </tr>
    <tr>
         <td style="width: 400px;" ><b>Revised Project Closed:</b></td>
         {% if project_change_detail.closed == True %}
           <td>Yes</td>
         {% endif %}
         {%if project_change_detail.closed == False %}
           <td>No</td>
         {% endif %}
    </tr>
    <tr>
        <td style="width: 400px;" ><b>Project Closed change reason:</b></td>
         <td>{{ project_change_detail.close_dropdown }}</td>
    </tr>
    {% endif %}

    {% if project_change_detail.salesForceNumber and project_change_detail.salesForceNumber != 1%}
    {% if project_change_detail.salesForceNumber != project_change_detail.project.salesForceNumber %}
        <tr>
            <td style="width: 400px;" ><b>Prev Sales Force Number:</b></td>
             <td>{{ project_change_detail.project.salesForceNumber }}</td>
        </tr>
        <tr>
            <td style="width: 400px;" ><b>Revised Sales Force Number:</b></td>
             <td>{{ project_change_detail.salesForceNumber }}</td>
        </tr>
    {% endif %}
    {% endif %}

    {% if project_change_detail.customerContact and project_change_detail.customerContact != '1' %}
    {% if project_change_detail.customerContact != project_change_detail.project.customerContact %}
        <tr>
            <td style="width: 400px;" ><b>Prev Customer Contact:</b></td>
             <td>{{ project_change_detail.project.customerContact}}</td>
        </tr>
        <tr>
            <td style="width: 400px;" ><b>Revised Customer Contact:</b></td>
             <td>{{ project_change_detail.customerContact }}</td>
        </tr>
    {% endif %}
    {% endif %}


    {% if project_change_detail.signed == True and project_change_detail.project.signed != True or project_change_detail.signed == False and project_change_detail.project.signed != False %}
    {% if project_change_detail.signed == False and project_change_detail.project.signed != False or project_change_detail.signed == True and project_change_detail.project.signed != True %}
    {% if project_change_detail.signed or project_change_detail.signed != '1' %}
    <tr>
        <td style="width: 400px;" ><b>Previous Signed:</b></td>
        {% if project_change_detail.project.signed == True %}
          <td>Yes</td>
        {% endif %}
        {%if project_change_detail.project.signed == False %}
          <td>No</td>
        {% endif %}
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Signed:</b></td>
         {% if project_change_detail.signed == True %}
           <td>Yes</td>
         {% endif %}
         {%if project_change_detail.signed == False %}
           <td>No</td>
         {% endif %}
    </tr>
    {% endif %}
    {% endif %}
    {% endif %}


    {% if project_change_detail.Sowdocument%}
    <tr>
        <td style="width: 400px;" ><b>Prev Sow Document</b></td>
        {% if project_document_detail.Sowdocument%}
         <td><a href="/media/{{ project_document_detail.Sowdocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
        {% else %}
          <td> None </td>
        {% endif %}
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Sow Document:</b></td>
         <td><a href="/media/{{ project_change_detail.Sowdocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
    </tr>
    {% endif %}

    {% if project_change_detail.estimationDocument%}
    <tr>
        <td style="width: 400px;" ><b>Prev Estimation Document</b></td>
        {% if project_document_detail.Estimationdocument %}
              <td><a href="/media/{{ project_document_detail.Estimationdocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
        {% else %}
          <td> None </td>
        {% endif %}
    </tr>
    <tr>
         <td style="width: 400px;" ><b> Revised Estimation Document:</b></td>
         <td><a href="/media/{{ project_change_detail.estimationDocument }}" target="_blank"><span class="glyphicon glyphicon-file"></span></i></a></td>
    </tr>
    {% endif %}
    {% endif %}

 </table>
</div>
