{% extends 'reportMaster.inc' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load humanize %}
{% block pageTitle %}BTG Hours Summary {% endblock %}
{%block childcontent %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
<form action="" method="post">
    {% csrf_token %}
    <div class="panel pb-15">

        <div class="panel-body">

            <table class="table table-striped myansr-table" id="active_projects">
                <thead>
                <tr>
                    <th> Project ID</th>
                    <th> Project Name</th>
                    <th> Project Value</th>
                    <th> Start Date</th>
                    <th> End Date</th>
                    <th> Delivery Manager</th>
                    <th> Portfolio Manager</th>
                    <th> BU Head</th>
                    <th> Planned Hrs</th>
                    <th> Hrs Consumed</th>
                    <th> Available Hrs</th>
                    <th> Extra Hours</th>
                    <th> Required Hours</th>
                    <th> Last Updated</th>
                    <th class="hidden">Project_id</th>
                    <th> Action</th>
                    {% if prtm_queryset or bu_queryset %}
                    <th class="hidden">Remark</th>
                    {% endif %}
                    <th class="hidden">ids_ id</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in project_details %}
                <tr>
                    <td class="ws-mw">
                        <a id="{{obj.id}}"
                           href="#modal-container-detail{{obj.project_id__projectId}}" data-toggle="modal"
                           title="Action"
                           class="pull-left detail">
                            {{obj.project_id__projectId}}
                        </a>
                        <!--Record pop up-->
                        <div class="modal fade" id="modal-container-detail{{obj.project_id__projectId}}" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header vd_bg-blue vd_white">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            x
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            DETAIL
                                        </h4>
                                    </div>
                                    <div class="modal-body min-height-400" id="modal_body">

                                        <table>
                                            <tr>
                                                <th> Project ID</th>
                                                <th></th>
                                                <th> Project Name</th>
                                                <th> BTG Hours</th>
                                                <th> Updated On</th>
                                                <th> Status</th>
                                            </tr>
                                            {% for xyz in project_all %}
                                            {% if xyz.project_id == obj.project_id%}
                                            <tr>
                                                <td>{{obj.project_id__projectId}}<td>
                                                <td>{{obj.project_id__name}}</td>
                                                <td>{{xyz.BTG_Hours }}</td>
                                                <td>{{xyz.updatedOn}}</td>
                                                <td>
                                                    {% if xyz.is_approved == '1' %}
                                                    <label for="approved" class="ansr-orange-mod">Approved </label>
                                                    {% elif xyz.is_approved == '2' %}
                                                    <label for="rejected" class="ansr-orange-mod">Rejected</label>
                                                    {% elif xyz.is_approved == null %}
                                                    <label for="rejected" class="ansr-orange-mod"></label>
                                                    {% else %}
                                                    <label for="rejected" class="ansr-orange-mod">Open</label>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="modal-footer background-login">
                                        <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal"> Close
                                        </button>
                                    </div>
                                </div><!-- ./modal-footer -->
                            </div>
                        </div>
                    </td>
                    <!--<td>{{obj.project_id__projectId}}</td>-->
                    <td class="ws-mw">{{obj.project_id__name}}</td>
                    <td class="ws-mw">{{obj.project_id__totalValue}}</td>
                    <td class="ws-mw">{{obj.project_id__startDate}}</td>
                    <td class="ws-mw">{{obj.project_id__endDate}}</td>
                    <td class="ws-mw">{{obj.deliveryManager_id__first_name}} {{obj.deliveryManager_id__last_name}}</td>
                    <td class="ws-mw">{{obj.portfolio_manager_id__first_name}} {{obj.portfolio_manager_id__last_name}}
                    </td>
                    <td class="ws-mw">{{obj.project_id__bu_id__new_bu_head__first_name}}
                        {{obj.project_id__bu_id__new_bu_head__last_name}}
                    </td>
                    <td class="ws-mw">{{obj.project_id__plannedEffort}}</td>
                    <td class="ws-mw">{{obj.total_efforts}}</td>
                    <td class="ws-mw">{{obj.avaliable_efforts}}</td>
                    <td class="ws-mw">{{obj.extra_efforts}}</td>

                    {% if obj.dm1 == 1%}
                    {% if obj.btgs %}
                    <td contenteditable="true">
                        <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                               contenteditable="true" value="{{obj.btgs}}">
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                                   contenteditable="true">
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        <div class="checkbox checkbox-success radio-mod btn-xs">
                            <input id="approve_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="approve"
                                   class="approve" value="approved">
                            <label for="approve_{{obj.project_id}}_{{obj.ids}}" class="ansr-orange-mod">Approve</label>
                        </div>
                        <div class="checkbox checkbox-danger radio-mod btn-xs">
                            <input id="reject_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="reject"
                                   class="reject" value="rejected_1">
                            <label for="reject_{{obj.project_id}}_{{obj.ids}}">Reject</label>
                        </div>
                        {% endif %}
                    </td>
                    {% elif obj.dm2 == 2%}
                    {% if obj.btgs %}
                    <td contenteditable="true">
                        <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                               contenteditable="true" value="{{obj.btgs}}">
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                                   contenteditable="true">
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        <div class="checkbox checkbox-success radio-mod btn-xs">
                            <input id="approve_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="approve"
                                   class="approve" value="approved">
                            <label for="approve_{{obj.project_id}}_{{obj.ids}}" class="ansr-orange-mod">Approve</label>
                        </div>
                        <div class="checkbox checkbox-danger radio-mod btn-xs">
                            <input id="reject_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="reject"
                                   class="reject" value="rejected_1">
                            <label for="reject_{{obj.project_id}}_{{obj.ids}}">Reject</label>
                        </div>
                        {% endif %}
                    </td>
                    {% elif obj.dm3 == 3 %}
                    {% if obj.btgs %}
                    <td contenteditable="true">
                        <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                               contenteditable="true" value="{{obj.btgs}}">
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                                   contenteditable="true">
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        <div class="checkbox checkbox-success radio-mod btn-xs">
                            <input id="approve_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="approve"
                                   class="approve" value="approved">
                            <label for="approve_{{obj.project_id}}_{{obj.ids}}" class="ansr-orange-mod">Approve</label>
                        </div>
                        <div class="checkbox checkbox-danger radio-mod btn-xs">
                            <input id="reject_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="reject"
                                   class="reject" value="rejected_1">
                            <label for="reject_{{obj.project_id}}_{{obj.ids}}">Reject</label>
                        </div>
                        {% endif %}
                    </td>
                    {% elif obj.dm4 == 4 %}
                    {% if obj.btgs %}
                    <td aria-readonly="true"> {{obj.btgs}}
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}" hidden>
                        </div>
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}" hidden>
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        <div class="checkbox checkbox-success radio-mod btn-xs">
                            <input id="approve_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="approve"
                                   class="approve" value="approved">
                            <label for="approve_{{obj.project_id}}_{{obj.ids}}" class="ansr-orange-mod">Approve</label>
                        </div>
                        <div class="checkbox checkbox-danger radio-mod btn-xs">
                            <input id="reject_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="reject"
                                   class="reject" value="rejected_1">
                            <label for="reject_{{obj.project_id}}_{{obj.ids}}">Reject</label>
                        </div>
                        {% endif %}
                    </td>
                    {% elif obj.dm5 == 5 %}
                    {% if obj.btgs %}
                    <td aria-readonly="true"> {{obj.btgs}}
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}" hidden>
                        </div>
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}" hidden>
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        <div class="checkbox checkbox-success radio-mod btn-xs">
                            <input id="approve_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="approve"
                                   class="approve" value="approved">
                            <label for="approve_{{obj.project_id}}_{{obj.ids}}" class="ansr-orange-mod">Approve</label>
                        </div>
                        <div class="checkbox checkbox-danger radio-mod btn-xs">
                            <input id="reject_{{obj.project_id}}_{{obj.ids}}" type="checkbox" name="reject"
                                   class="reject" value="rejected_1">
                            <label for="reject_{{obj.project_id}}_{{obj.ids}}">Reject</label>
                        </div>
                        {% endif %}
                    </td>
                    {% elif obj.dm6 == 6%}
                    {% if obj.btgs %}
                    <td contenteditable="true">
                        <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                               contenteditable="true" value="{{obj.btgs}}">
                    </td>
                    {% else %}
                    <td width="10px" height="10px">
                        <div class="form-group">
                            <input class="btg" id="btg_{{forloop.counter}}" type="text" pattern="[0-9]{10}"
                                   contenteditable="true">
                        </div>
                    </td>
                    {% endif %}
                    <td class="ws-mw">{{obj.updatedon}}</td>
                    <td class="project_ids hidden" id="project_{{forloop.counter}}">{{obj.project_id}}_{{obj.ids}}</td>
                    <td class="ws-mw">
                        {% if obj.approved == '1' %}
                        <label for="approved" class="ansr-orange-mod">Approved </label>
                        {% elif obj.approved == '2' %}
                        <label for="rejected" class="ansr-orange-mod">Rejected</label>
                        {% elif obj.approved == null %}
                        <label for="rejected" class="ansr-orange-mod"></label>
                        {% else %}
                        {% endif %}
                    </td>

                    {% endif%}
                    {% if prtm_queryset or bu_queryset%}
                    <td class="hidden">
                        <button type="button" id="Modal_{{obj.project_id}}"
                                class="btn btn-default feedback_{{obj.project_id}}" data-toggle="modal"
                                data-target="#myModal_{{obj.project_id}}"><span
                                class="glyphicon glyphicon-comment"></span></button>
                        <div class="modal fade" id="myModal_{{obj.project_id}}" tabindex="-1" role="dialog"
                             aria-labelledby="myModal_{{obj.project_id}}" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header vd_bg-blue vd_white">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                                                class="fa fa-times"></i></button>
                                        <h4 class="modal-title" id="myModal_{{obj.project_id}}">Reason</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Enter Your Reason</label>
                                                    <div class="col-sm-7 controls">
                                                        <input class="input-border-btm" id="feedback_{{obj.project_id}}"
                                                               name="feedback_{{obj.project_id}}" type="text"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer background-login">
                                        <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close
                                        </button>
                                        <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </td>
                    {% endif %}

                    <td class="id_ids hidden" id="ids_{{forloop.counter}}">{{obj.ids}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if prtm_queryset and drm_queryset and bu_queryset %}
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button">Submit</button>
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button1">Save
            </button>
            {% elif prtm_queryset %}
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button">Submit</button>
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button1">Save
            </button>
            {% elif bu_queryset %}
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button">Submit</button>
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button1">Save
            </button>
            {% elif drm_queryset%}
            <button type="button" class="btn btn-success pull-right pull-right-space" id="submit_button1">Save</button>
            {% endif %}

        </div>
    </div>
</form>


<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        "use strict";
        $('#active_projects').dataTable({
            searching: true,
            scrollCollapse: true,
            destroy: true,
        });
    });

    $(document).ready(function () {
        $("#submit_button1").click(function () {
            window.onbeforeunload = null;
            var MyRows = $('#active_projects').find('tbody').find('tr');
            details = {}
            for (var i = 0; i < MyRows.length; i++) {
                var value = $(MyRows[i]).find('input.btg').val();
                var project_id_value = $(MyRows[i]).find('td.project_ids').text();
                if (value !== "") {
                    details[project_id_value] = value

                }
            }
            $.ajax({
                url: "/myansrsource/reports/project-report",
                data: {'project_id': JSON.stringify(details)},
                type: 'POST',
                // dataType: "json",
                success: function (data) {
                    window.location = window.location;
                }
            });
        });
    });

    // $(".detail").click(function(){
    //         var project_id = this.id
    //         $.ajax({
    //             url:"{% url 'projectdetail' %}",
    //             data: {"id": project_id},
    //             type: "get",
    //             success: function(data){
    //             $("#modal_body").html(data);
    //             },
    //         });
    //     });

        $("input:checkbox").click(function () {
            window.onbeforeunload = null;
            var checkbox_id = this.id;
            var checkbox_detail = checkbox_id.split("_");
            var flag = {"approve": "reject", "reject": "approve"};
            var next_flag = flag[checkbox_detail[0]] + "_" + checkbox_detail[1];
            if ($(this).attr("checked")) {

                $(this).attr("checked", false);
                $("#" + next_flag + "").attr("checked", false);
            }
            else {

                $(this).attr("checked", true);
                $("#" + next_flag + "").attr("checked", false);
            }
        });
        $("#submit_button").on("click", function () {
            var idSelect = function () {
                return this.id;
            };
            var checkedBoxId = $(":checkbox:checked").map(idSelect).get();
            var approve_list = [];
            var reject_list = [];
            var feedbackval = [];
            for (var i = 0; i < checkedBoxId.length; i++) {
                var checkbox_detail = checkedBoxId[i].split("_")
                    if (checkbox_detail[0] == "approve") {
                        feedbackval.push($('#feedback_' + checkbox_detail[1]).val() + '_' + checkbox_detail[1] + '_' + checkbox_detail[2])
                        approve_list.push(checkbox_detail[1] + '_' + checkbox_detail[2]);

                    } else {
                        feedbackval.push($('#feedback_' + checkbox_detail[1]).val() + '_' + checkbox_detail[1] + '_' + checkbox_detail[2])
                        reject_list.push(checkbox_detail[1] + '_'+ checkbox_detail[2])



                }
            }
        swal({
                title: "Are you sure?",
                text: "Do you want to submit your approval?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Submit it!",
                cancelButtonText: "No, cancel it.",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "{% url 'ProjectReport' %}",
                        data: {"approve": approve_list, "reject": reject_list, "feedback": feedbackval},
                        type: "post",
                        success: function (data) {
                            window.location = window.location;

                        },

                    });
                }
            });
        return false;
    });










</script>
{% endblock %}
