{% extends 'reportMaster.inc' %}
{% load bootstrap3 %}
{% load fontawesome %}

{%block childcontent %}
<div class="row">
	<div class="col-md-12">
        <form id="loginForm"  action="" method="POST" enctype="multipart/form-data" class="noPrint">
            {% csrf_token %}
            {% bootstrap_messages %}
            <table class="table table-condensed">
                <tr>
                    {% for field in btgForm %}
                        <th>{{ field.label }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}</td> 
                    {% endfor %}
                    <td class="col-lg-1"><button type="submit" class="btn btn-primary" value="submit" name="submit">
                        {% fontawesome_icon 'line-chart' large=True %}
                        Get Report
                    </button></td>
                    <td class="col-lg-1">
                        {% if fresh != 0 and fresh != 1 %}
                            <input type="hidden" value="export" name="status" />
                            <button type="submit" class="btn btn-success">
                        {% else %}
                            <button type="submit" class="btn btn-success" disabled>
                        {% endif %}
                                {% fontawesome_icon 'file-excel-o' large=True %}
                                Export to Excel
                            </button>
                    </td>
                </tr>
            </table>
        </form>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan=5 class="text-center">Project</th>
                <th></th>
                <th colspan=3 class="text-center">Actual Effort</th>
                <th colspan=3></th>
                <th colspan=2 class="text-center">RR</th>
                <th colspan=3 class="text-center">Invoicing</th>
                <th colspan=3></th>
            </tr>
            <tr>
                <th>Name</th> 
                <th class="text-right">Value</th> 
                <th class="text-right">Effort</th> 
                <th>Start Date</th> 
                <th>End Date</th> 
                <th>Team Lead</th> 
                <th class="text-right">Last Month</th> 
                <th class="text-right">Current Month</th> 
                <th class="text-right">PTD</th> 
                <th class="text-right">Planned BTG</th> 
                <th class="text-right">BTG</th> 
                <th class="text-right">Projected Total Efforts</th> 
                <th class="text-right">Last month</th> 
                <th class="text-right">Current month</th> 
                <th class="text-right">Last month</th> 
                <th class="text-right">Current month</th> 
                <th class="text-right">PTD</th> 
                <th class="text-right">Actual for current month</th> 
                <th class="text-right">PTD Accrual</th> 
                <th>Onverrun / Underrun</th> 
            </tr>
            </thead>
            {% if not data %}
                <tr>
                    <td colspan="21" class="text-center"><h4><small><b>You don't have any projects to look out for</b></small></h4></td>
                </tr>
            {% else %}
                {% for basicData in data %}
                    <tr>
                        <td>{{ basicData.project__projectId }} : {{ basicData.project__name }}</td> 
                        <td class="text-right">${{ basicData.project__totalValue }}</td> 
                        <td class="text-right">{{ basicData.project__plannedEffort }}</td> 
                        <td>{{ basicData.project__startDate }}</td> 
                        <td>{{ basicData.project__endDate }}</td>
                        <td> 
                            {% for eachTL in basicData.tl %}
                                {% if forloop.last %}
                                    {{ eachTL.user__username }}
                                {% else %}
                                    {{ eachTL.user__username }},
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">0</td> 
                        <td class="text-right">Underrun</td> 
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
	</div>
</div>
{% endblock %}
