{% extends 'reportMaster.inc' %}
{% load bootstrap3 %}

{%block childcontent %}
<div class="row">
	<div class="col-md-12">
        <form id="loginForm"  action="" method="POST" enctype="multipart/form-data" class="noPrint">
            {% csrf_token %}
            {% bootstrap_messages %}
            <table class="table table-condensed">
                <tr>
                    {% for field in form %}
                        <th>{{ field.label }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}</td> 
                    {% endfor %}
                    <td><button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-file"></span> Get Report
                    </button></td>
                </tr>
            </table>
        </form>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project Name</th> 
                <th>Start Date</th> 
                <th>End Date</th> 
                <th>Planned Effort</th> 
                <th>Total Value</th> 
            </tr>
            </thead>
            {% if fresh %}
                <tr>
                    <td colspan="8" class="text-center"><h4><small><b>Select a project to get the report</b></small></h4></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ basicData.name }}</td> 
                    <td>{{ basicData.startDate }}</td> 
                    <td>{{ basicData.endDate }}</td> 
                    <td>{{ basicData.plannedEffort }}</td> 
                    <td>{{ basicData.totalValue }}</td> 
                </tr>
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>CR#</th> 
                <th>Reason</th> 
                <th>End Date</th> 
                <th>P.O.</th> 
                <th>Revised Effort</th> 
                <th>Revised Total</th> 
                <th>SalesForce Number</th> 
                <th>Signed</th> 
            </tr>
            </thead>
            {% if crData %}
                {% for eachData in crData %}
                    <tr>
                        <td>{{ eachData.crId }}</td> 
                        <td>{{ eachData.reason }}</td> 
                        <td>{{ eachData.endDate }}</td> 
                        <td>{{ eachData.po }}</td> 
                        <td>{{ eachData.revisedEffort }}</td> 
                        <td>{{ eachData.revisedTotal }}</td> 
                        <td>{{ eachData.salesForceNumber }}</td> 
                        <td>{{ eachData.signed }}</td> 
                    </tr>
                {% endfor %}
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="8" class="text-center"><h4><small><b>Select a project to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center"><h4><small><b>No change request logged till now</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Milestone Name</th> 
                <th>Milestone Date</th> 
                <th>Financial</th> 
                <th>Value</th> 
                <th>Completed</th> 
            </tr>
            </thead>
            {% if msData %}
                {% for eachData in msData %}
                    <tr>
                        <td>{{ eachData.description }}</td> 
                        <td>{{ eachData.milestoneDate }}</td> 
                        <td>{{ eachData.financial }}</td> 
                        <td>{{ eachData.amount }}</td> 
                        <td>{{ eachData.closed }}</td> 
                    </tr>
                {% endfor %}
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="8" class="text-center"><h4><small><b>Select a project to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center"><h4><small><b>No milestones set till now</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Member Name</th> 
                <th>Designation</th> 
                <th>Planned Effort</th> 
                <th>Actual Effort</th> 
                <th>Deviation(%)</th> 
            </tr>
            </thead>
            {% if tsData %}
                {% for eachData in tsData %}
                    <tr>
                        <td>{{ eachData.teamMember }}</td> 
                        <td>{{ eachData.designation }}</td> 
                        <td>{{ eachData.planned }}</td> 
                        <td>{{ eachData.actual }}</td> 
                        {% if eachData.deviation >= 0 %}
                            <td style="color: green"><b>{{ eachData.deviation }}</b></td> 
                        {% else %}
                            <td style="color: red"><b>{{ eachData.deviation }}</b></td> 
                        {% endif %}
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan=5 class="text-center"><h4><small>Total Planned Effort : <b>{{ plannedTotal }}</b></small></h4></td>
                    </tr>
                    <tr>
                        <td colspan=5 class="text-center"><h4><small>Total Actual Effort : <b>{{ actualTotal }}</b></small></h4></td>
                    </tr>
                    <tr>
                        {% if deviation >= 0 %}
                            <td colspan=5 class="text-center"><h4><small>Deviation(%) : <b style="color: green">{{ deviation }}</b></small></h4></td>
                        {% else %}
                            <td colspan=5 class="text-center"><h4><small>Deviation(%) : <b style="color: red">{{ deviation }}</b></small></h4></td>
                        {% endif %}
                    </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="5" class="text-center"><h4><small><b>Select a project to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center"><h4><small><b>No timesheet logged till now</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
	</div>
</div>
{% endblock %}
