{% extends 'reportMaster.inc' %}
{% load bootstrap3 %}

{%block childcontent %}
<div class="row">
	<div class="col-md-12">
        <form id="loginForm"  action="" method="POST" enctype="multipart/form-data" class="noPrint">
            {% csrf_token %}
            {% bootstrap_messages %}
            <table class="table table-condensed">
                <tr>
                    {% for field in form %}
                        <th>{{ field.label }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}</td> 
                    {% endfor %}
                    <td><button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-file"></span> Get Report
                    </button></td>
                </tr>
            </table>
        </form>
        <legend>External Projects</legend>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project Code</th> 
                <th>Project Name</th> 
                <th>Billed Hours</th> 
            </tr>
            </thead>
            {% if data.externalOthers %}
                {% for eachData in data.externalOthers %}
                    <tr>
                        <td>{{ eachData.project__projectId }}</td> 
                        <td>{{ eachData.project__name }}</td> 
                        <td>{{ eachData.total }}</td> 
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><h4><small><b>Total Billed Hours : {{ data.externalOthersTotal }}</b></small></h4></td>
                </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>Select a month to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>No Billed hours recorded</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project Code</th> 
                <th>Project Name</th> 
                <th>Idle Hours</th> 
            </tr>
            </thead>
            {% if data.externalIdle %}
                {% for eachData in data.externalIdle %}
                    <tr>
                        <td>{{ eachData.project__projectId }}</td> 
                        <td>{{ eachData.project__name }}</td> 
                        <td>{{ eachData.total }}</td> 
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><h4><small><b>Total Idle Hours : {{ data.externalIdleTotal }}</b></small></h4></td>
                </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>Select a month to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>No Idle hours recorded</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <legend>Internal Projects</legend>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project Code</th> 
                <th>Project Name</th> 
                <th>Billed Hours</th> 
            </tr>
            </thead>
            {% if data.internalOthers %}
                {% for eachData in data.internalOthers %}
                    <tr>
                        <td>{{ eachData.project__projectId }}</td> 
                        <td>{{ eachData.project__name }}</td> 
                        <td>{{ eachData.total }}</td> 
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><h4><small><b>Total Billed Hours : {{ data.internalOthersTotal }}</b></small></h4></td>
                </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>Select a month to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>No Billed hours recorded</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Project Code</th> 
                <th>Project Name</th> 
                <th>Idle Hours</th> 
            </tr>
            </thead>
            {% if data.externalIdle %}
                {% for eachData in data.externalIdle %}
                    <tr>
                        <td>{{ eachData.project__projectId }}</td> 
                        <td>{{ eachData.project__name }}</td> 
                        <td>{{ eachData.total }}</td> 
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><h4><small><b>Total Idle Hours : {{ data.externalIdleTotal }}</b></small></h4></td>
                </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>Select a month to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center"><h4><small><b>No Idle hours recorded</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Team Member Name</th> 
                <th>Non-Project Hours</th> 
            </tr>
            </thead>
            {% if data.nonProd %}
                {% for eachData in data.nonProd %}
                    <tr>
                        <td>{{ eachData.teamMember__username }}</td> 
                        <td>{{ eachData.total }}</td> 
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><h4><small><b>Total Non-Project Hours : {{ data.nonProdTotal }}</b></small></h4></td>
                </tr>
            {% else %}
                {% if fresh %}
                    <tr>
                        <td colspan="2" class="text-center"><h4><small><b>Select a month to get the report</b></small></h4></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center"><h4><small><b>No members have logged their timesheet</b></small></h4></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
	</div>
</div>
{% endblock %}
