{% extends 'reportMaster.inc' %}
{% load bootstrap3 %}
{% load fontawesome %}

{%block childcontent %}
<div class="row">
	<div class="col-md-12">
        <form id="loginForm"  action="" method="POST" enctype="multipart/form-data" class="noPrint">
            {% csrf_token %}
            {% bootstrap_messages %}
            <table class="table table-condensed">
                <tr>
                    {% for field in form %}
                        <th>{{ field.label }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}</td> 
                    {% endfor %}
                    <td class="col-lg-1"><button type="submit" class="btn btn-primary" value="submit" name="submit">
                        {% fontawesome_icon 'line-chart' large=True %}
                        Get Report
                    </button></td>
                    <td class="col-lg-1">
                        {% if fresh != 0 and fresh != 1 %}
                            <input type="hidden" value="export" name="status" />
                            <button type="submit" class="btn btn-success">
                        {% else %}
                            <button type="submit" class="btn btn-success" disabled>
                        {% endif %}
                                {% fontawesome_icon 'file-excel-o' large=True %}
                                Export to Excel
                            </button>
                    </td>
                </tr>
            </table>
        </form>
        {% if member %}
            <h3><small><b>
                    <span>Member: {{ member }} </span>  
                    <span>From: {{ startDate }} </span>
                    <span>To: {{ endDate }}</b></span>
            </b></small></h3>
        {% endif %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th colspan="6"></th>
                <th>Total </th> 
                <th>Avg. </th> 
                <th>Min. </th> 
                <th>Max. </th> 
                <th>Median </th> 
                <th colspan="2"></th>
            <th>
            <tr>
                <th>Project Code</th> 
                <th>Project Name</th> 
                <th>Book</th> 
                <th>Chapter</th> 
                <th>Task / Activity</th> 
                <th>Total Hours</th> 
                <th colspan="5" class="text-center">Productivity</th>
                <th>Norm</th> 
                <th>Status</th> 
            </tr>
            </thead>
            {% if fresh == 1 %}
                <tr>
                    <td colspan="11" class="text-center"><h4><small><b>Please select a member and time frame to get the report</b></small></h4></td>
                </tr>
            {% elif fresh == 0 %}
                <tr>
                    <td colspan="11" class="text-center"><h4><small><b>No reports found for this timeframe</b></small></h4></td>
                </tr>
            {% else %}
                {% for eachData in data %}
                    <tr>
                        <td>{{ eachData.project__projectId }}</td> 
                        <td>{{ eachData.project__name }}</td> 
                        <td>{{ eachData.project__book__name }}</td> 
                        <td>{{ eachData.chapter__name }}</td> 
                        <td>{{ eachData.task__name }} {{ eachData.activity__name }}</td> 
                        <td>{{ eachData.totalHours }}</td> 
                        <td>{{ eachData.totalValue }}</td> 
                        <td>{{ eachData.avgProd }}</td> 
                        <td>{{ eachData.minProd }}</td> 
                        <td>{{ eachData.maxProd }}</td> 
                        <td>{{ eachData.medianProd }}</td> 
                        <td>{{ eachData.project__maxProductivityUnits }}</td> 
                        {% if eachData.hold %}
                           <td>{% fontawesome_icon 'chevron-circle-up' large=True color='green' %}</td>
                        {% else %}
                           <td>{% fontawesome_icon 'chevron-circle-down' large=True color='red' %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="4" class="text-center"><h3><small><b>Total Non Project Hour(s)</b></small></h3><td>
                        <td><h3><small><b>{{ grandTotal.nTotal }}</b></small></h3><td>
                    <tr>
                    <tr>
                        <td colspan="4" class="text-center"><h3><small><b>Total Project Hour(s)</b></small></h3><td>
                        <td><h3><small><b>{{ grandTotal.pTotal }}</b></small></h3><td>
                    <tr>
            {% endif %}
        </table>
	</div>
</div>
{% endblock %}
