{% extends 'master.html' %}

{% load bootstrap3 %}
{% load fontawesome %}

{% block siteTitle %}myansrsource:Timesheet Entry{% endblock %}

{% block content  %}

<div class="car-parent">
<div class="translate-left" id="translate-left"></div>
<div class="timesheet-carousel" id="timesheet-carousel">
    <div class="car-inner2-strip">
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>
        <div class="ts_week">20-Jun - 26-Jun </div>

    </div>
</div>
<div class="translate-right" id="translate-right"></div>
</div>





<legend class="clearfix pad-bot-10 bb0">
 <div class="col-md-1">
 <form id="prevWeek" method="get" action="" enctype="multipart/form-data">
	<input type="hidden" name="week" value="prev" />
	<input type="hidden" name="enddate" value="{{ weekendDate|date:"dmY" }}" />
	<input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
	{% if disabled == 'prev' %}
		<button type="submit" value="submit" disabled="disabled" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
	{% else %}
		<button type="submit" value="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
	{% endif %}
 </form>
 </div>

	<div class="col-md-7 text-right"><b>Enter Timesheet :</b> <i>{% block startDate %}{% endblock %} - {% block endDate %}{% endblock %}</i></div>

 <div class="col-md-4 text-right">
 <form id="nextWeek" method="get" action="" enctype="multipart/form-data">
	<input type="hidden" name="week" value="next" />
	<input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
	<input type="hidden" name="endDate" value="{{ weekendDate|date:"dmY" }}" />
	{% if disabled == 'next' %}
		<button type="submit" value="submit" disabled="disabled" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</button>
	{% else %}
		<button type="submit" value="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</button>
	{% endif %}
 </form>
 </div>
</legend>

<div class="text-center">
	<b>{% bootstrap_messages %}</b>
</div>
{% block timesheetContent %}{% endblock %}

<script>
    $(document).ready(function(){


{#        $('#fruitscarousel').carousel(parseInt($('#carousel-inner > div').length) - 1);#}

        var newWidth = parseInt($('.car-inner2-strip > div').length * 100) + 2;
        $('.car-inner2-strip').css('width', newWidth.toString() + 'px')
        var maxScrollwidth  = newWidth  - parseInt($('.timesheet-carousel').css('width').split("px")[0]) ;

        var leftScrollVal = maxScrollwidth;
        var rightScrollVal = 0;
        $('.car-inner2-strip').css('left', -leftScrollVal);



{#        alert(newWidth.toString() + 'px');#}
{#        $('.car-inner2').css('width', toString(parseInt($('.car-inner2 > span').length) * 110) + 'px')#}


        $('#translate-left').click(function () {
            if (leftScrollVal > 2){
                $('.car-inner2-strip').css('left',-(leftScrollVal-50));
                leftScrollVal -= 50;
                rightScrollVal += 50;
            }
            else{
                alert('no space');
            }

        })

        $('#translate-right').click(function () {
            if (rightScrollVal > 0){
                $('.car-inner2-strip').css('left',-(leftScrollVal+50));
                rightScrollVal -= 50;
                leftScrollVal += 50;
            }
            else{
                alert('no space');
            }


        })





    });
</script>

{% endblock %}


