{% extends 'timesheetMaster.inc'  %}

{% block startDate %}
{{ weekstartDate }}
{% endblock %}

{% block currentEndDate %}
{{ weekendDate }}
{% endblock %}

{% block endDate %}
{{ weekendDate }}
{% endblock %}

{% block timesheetContent %}
<table class="table table-condensed">
{% for timesheets in currentTimesheet %}
	{% if forloop.first %}
	<thead>
		<legend>Billable</legend>
		<th>Project</th>
		<th>Chapter</th>
		<th>Location</th>
		<th>Task</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Total</th>
		<th>Manager Feedback</th>
	</thead>
	{% endif %}
	<tbody>
		<tr>
			<td>{{ timesheets.project__name }}</td>
			<td>
				{% if timesheets.chapter__name == None %}
					Overall
				{% else %}
					{{ timesheets.chapter__name }}
				{% endif %}
			</td>
			<td>{{ timesheets.location__name }}</td>
			<td>{{ timesheets.task }}</td>
			<td>{{ timesheets.mondayH }}</td>
			<td>{{ timesheets.tuesdayH }}</td>
			<td>{{ timesheets.wednesdayH }}</td>
			<td>{{ timesheets.thursdayH }}</td>
			<td>{{ timesheets.fridayH }}</td>
			<td>{{ timesheets.saturdayH }}</td>
			<td>{{ timesheets.totalH }}</td>
			<td>{{ timesheets.managerFeedback }}</td>
		</tr>
	</tbody>
{% endfor %}
</table>
<table class="table table-condensed">
{% for timesheets in currentActivity %}
	{% if forloop.first %}
	<thead>
		<legend>Non-Billable</legend>
		<th>Activity</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Total</th>
		<th>Manager Feedback</th>
	</thead>
	{% endif %}
	<tbody>
		<tr>
			<td>{{ timesheets.activity }}</td>
			<td>{{ timesheets.mondayH }}</td>
			<td>{{ timesheets.tuesdayH }}</td>
			<td>{{ timesheets.wednesdayH }}</td>
			<td>{{ timesheets.thursdayH }}</td>
			<td>{{ timesheets.fridayH }}</td>
			<td>{{ timesheets.saturdayH }}</td>
			<td>{{ timesheets.totalH }}</td>
			<td>{{ timesheets.managerFeedback }}</td>
		</tr>
	</tbody>
{% endfor %}
</table>
{% endblock  %}
