{% extends 'timesheetMaster.html'  %}

{% load bootstrap3 %}
{% block startDate %}
{{ weekstartDate }}
{% endblock %}

{% block endDate %}
{{ weekendDate }}
{% endblock %}
{% block container %}"container container-timesheet" {% endblock %}
{% block timesheetContent %}

<style type="text/css">



</style>

  <form id="timesheet" method="post" action="" enctype="multipart/form-data">

                    <div class="panel pb-15">
                        <!-- first widget (vertical tabs) -->

                        <div class="panel-body">
	{% csrf_token %}
    <div id="timesheet-billable">
	<legend>
	Project Effort
		<span class="pull-right">
			<a type="submit" value="submit" class="btn btn-success btn-xs" id="timesheet-billable-add-btn">
				<span class="glyphicon glyphicon-plus"></span>
				Add
			</a>
		</span>
	</legend>

    {{ tsFormset.management_form }}
	{% for eachError in tsErrorList %}
		{% if eachError.items|length > 0 %}
			<div class="alert alert-danger" role="alert">
				{% for k, v in eachError.items %}
                <li>{{ k }} : {{ v|striptags }}</li>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	<table class="table table-condensed table-responsive" id="project_table" >
	{% for form in tsFormset %}
		{{ form.errors }}
		{% if forloop.first %}
		<thead>
		<tr>
			<td colspan="2" class="text-right">
				<h6>
                    <strong>Swipe Card Hours</strong>
				</h6>
			</td>
			{% for k, v in attendance.items %}
				<td class="text-center">
				<b>{{ v }}</b>
				</td>
			{% endfor %}
		</tr>
		<tr>
			<td colspan="2" class="text-right">
				<strong>Timesheet Hours</strong>
			</td>
			<td class="text-center">
                <strong class="ts-mon-total-hr">{{ tsTotal.mondayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-tue-total-hr">{{ tsTotal.tuesdayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-wed-total-hr">{{ tsTotal.wednesdayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-thu-total-hr">{{ tsTotal.thursdayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-fri-total-hr">{{ tsTotal.fridayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-sat-total-hr">{{ tsTotal.saturdayTotal }}</strong>
			</td>
			<td class="text-center">
                <strong class="ts-sun-total-hr">{{ tsTotal.sundayTotal }}</strong>
			</td>
		</tr>

		<tr>
			<th class="res-10-per">Project <span class="required">*</span></th>
			<th class="res-10-per">Task <span class="required">*</span></th>
			<th class="res-10-per">Mon</th>
			<th class="res-10-per">Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th><th>Sun</th>
			<th>Total</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>
		{% endif %}

		<tr>
			{% for field in form.hidden_fields %}
				{% if 'id' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}
				{% if 'pt' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}

			{% endfor %}


<!-- Timesheet Hours section -->


			{% for data in form.visible_fields %}
			{% spaceless %}
			{% if data.label in shortDays %}

					<td style="position:relative">



						{% for data in form.visible_fields %}
							{% if 'hold' in data.label %}
								
									<a class="btn btn-default day-popover-button no-hover-background {% if data.value %} disabled {% endif %} fixed-btn-size" href="javascript:;">
							{% endif %}
						{% endfor %}

							{% for tdata in form.hidden_fields %}
								{% if data.label|lower in tdata.id_for_label and 'H' in tdata.id_for_label %}
                                    {% with dayclass=data.label|add:"-t" %}
                                        

                                            <!-- <span class="b-hours {{ dayclass }} set-zero" data-original-title="">{% if tdata.value > 0 %} {{ tdata.value }} {% else %} 0 {% endif %}</span>H -->



                                            <input type="text" name="" class="text-right b-hours set-zero {{ dayclass }} timesheet-input-small hours-input" value="{% if tdata.value > 0 %} {{ tdata.value }} {% else %} 0 {% endif %}">
                                        
                                    {% endwith %}
									{{ tdata }}
								{% endif %}
							{% endfor %}
						</a>


					</td>


				{% elif data.label == 'Total' %}
					<td>
						{% for data in form.visible_fields %}
							{% if 'hold' in data.label %}
								<a class="lh-30 btn-default row-total-view {% if data.value %} disabled {% endif %} fixed-btn-size" href="javascript:;">
							{% endif %}
						{% endfor %}



							{% for data in form.hidden_fields %}

								{% if 'totalH' in data.id_for_label %}
								    {% for Ndata in form %}
									{% if Ndata.label == 'Task' %}
									    {% if Ndata.value == 'I' %}
										 {% if data.value > 0 %}
										    <input type="hidden" class="r-total-idle-hours set-zero" value="{{ data.value }}" />
										    <input type="hidden" class="r-total-billable-hours set-zero" value="0" />
										 {% else %}
										    <input type="hidden" class="r-total-idle-hours set-zero" value="0" />
										 {% endif %}
									    {% else %}
										 {% if data.value > 0 %}
										    <input type="hidden" class="r-total-billable-hours set-zero" value="{{ data.value }}" />
										    <input type="hidden" class="r-total-idle-hours set-zero" value="0" />
										 {% else %}
										    <input type="hidden" class="r-total-billable-hours set-zero" value="0" />
										    <input type="hidden" class="r-total-idle-hours set-zero" value="0" />
										 {% endif %}
									    {% endif %}
									{% endif %}
								    {% endfor %}
									
										<span class="t-hours set-zero">{% if data.value > 0 %} {{ data.value }} {% else %} 0 {% endif %}</span>H
									
									{{ data }}
								{% endif %}
							{% endfor %}
						</a>
					</td>
				{% elif data.label == 'Feedback' %}
			       		<td>
						{% if  data.value == None or data.value == '' %}
							<button type="button" class="btn btn-default" disabled='disabled'>
						{% else %}
							{% with apIdT="#myModal-"|add:data.id_for_label %}
								{% for data in form.visible_fields %}
									{% if 'hold' in data.label %}
										<button type="button" class="btn btn-default {% if data.value %} disabled {% endif %}" data-toggle="modal" data-target={{ apIdT }}>
									{% endif %}
								{% endfor %}
							{% endwith %}
						{% endif %}
							<span class="glyphicon glyphicon-comment"></span>
						</button>
						{% with apId="myModal-"|add:data.id_for_label %}
						<div class="modal fade" id={{ apId }} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<b>Your Feedback</b>
										</div>
										<div class="modal-body">
											{{ data.value }}
										</div>
									</div>
								</div>
							</div>
						{% endwith %}
					</td>
				{% elif 'Questions' not in data.label and 'Hours' not in data.label and 'id' not in data.label and 'Feedback' not in data.label and 'approved' not in data.label and 'hold' not in data.label %}
					{% if 'Project' in data.label or 'Location' in data.label or 'Chapter' in data.label or 'Task' in data.label  or 'Delete' in data.label %}


					{% for holdData in form.visible_fields %}
						{% if 'hold' in holdData.label or 'approved' in data.label %}
							<td {% if holdData.value %} class="ansr-disabled" {% endif %}>{{ data }}</td>
						{% endif %}
					{% endfor %}
					{% endif %}
                		{% endif %}
            		{% endspaceless %}
			{% endfor %}

<!-- end of bloody for loop -->


               {% for field in form.hidden_fields %}
                            {% if 'project_value' in field.label %}
                                <td style="display: none">{{ field }}</td>
                            {% endif %}
                        {% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
    </div>



</div>
</div>

<div class="panel pb-15">
    <!-- first widget (vertical tabs) -->

    <div class="panel-body">

    <div id="timesheet-non-billable">
	<legend>
	Non - Project Effort
	<span class="pull-right">
		<a type="submit" value="submit" id="timesheet-non-billable-add-btn" class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-plus"></span>
			Add
		</a>
	</span>
	</legend>


<!-- Some sort of alert -->
	{{ atFormset.management_form }}
	{% for eachError in atErrorList %}
		{% if eachError.items|length > 0 %}
			<div class="alert alert-danger" role="alert">
				{% for k, v in eachError.items %}
                <li>{{ k }} : {{ v|striptags }}</li>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	<table class="table table-condensed table-responsive" id="non_project_table" >
	{% for form in atFormset %}
		{{ form.errors }}
		{% if forloop.first %}
		<thead>
		        <tr>
					<th class="res-14-per">Activity</th>
		            <th>Mon</th>
		            <th>Tue</th>
		            <th>Wed</th>
		            <th>Thu</th>
		            <th>Fri</th>
		            <th>Sat</th>
		            <th>Sun</th>
		            <th class="res-14-per">Total</th>
		            <th>Delete</th>
		        </tr>
		</thead>
		<tbody>
		{% endif %}
		<tr>
			{% for field in form.hidden_fields %}
				{% if 'id' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}
			{% endfor %}
			{% for data in form %}
		    		{% if 'id' not in data.label and 'Feedback' not in data.label and 'approved' not in data.label and 'hold' not in data.label %}
					{% if 'Activity' in data.label or 'Mon' in data.label or 'Tue' in data.label or 'Wed' in data.label  or 'Thu' in data.label or 'Fri' in data.label or 'Sat' in data.label or 'Sun' in data.label or 'Total' in data.label or 'Delete' in data.label  %}
					{% for holdData in form.visible_fields %}
						{% if 'hold' in holdData.label %}
							<td {% if holdData.value or prevWeekBlock %} class="ansr-disabled" {% endif %}>{{ data }}</td>
						{% endif %}
					{% endfor %}
					{% endif %}
				{% elif 'Feedback' in data.label %}
			       		<td>
						{% if  data.value == None or data.value == '' or prevWeekBlock == True %}
						<button type="button" class="btn btn-default" disabled='disabled'>
						{% else %}
						{% with apIdT="#actModal-"|add:data.id_for_label %}
							{% for data in form.visible_fields %}
								{% if 'hold' in data.label %}
									{% if data.value %}
										<button type="button" class="btn btn-default disabled" data-toggle="modal" data-target={{ apIdT }}>
									{% else %}
										<button type="button" class="btn btn-default" data-toggle="modal" data-target={{ apIdT }}>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endwith %}
						{% endif %}
							<span class="glyphicon glyphicon-comment"></span>
						</button>
						{% with apId="actModal-"|add:data.id_for_label %}
							<div class="modal fade" id={{ apId }} tabindex="-1" role="dialog" aria-labelledby="actModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<b>Your Feedback</b>
										</div>
										<div class="modal-body">
											{{ data.value }}
										</div>
									</div>
								</div>
							</div>
						{% endwith %}
					</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
    </div>
    <div class="row">
        <div class="col-md-4 pull-right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr>
		    <td>Billable  $ >0 </td>
		    <td class="non_zero_value text-right"> {{non_zero_value}}</td>
                </tr>
				 <tr>
		    <td>Billable  $ == 0 </td>
		    <td class="zero_value text-right"> {{zero_value}}</td>
                </tr>
				  <tr>
		    <td>Billable </td>
		    <td class="total-billable-hours text-right"> {{ bTotal }}</td>
                </tr>
                <tr>
                    <td>Leave</td>
		    <td class="total-leave-hours text-right">{{ leave_hours }}</td>
                </tr>
                <tr>
                    <td>Non-Billable</td>
		    <td class="total-non-billable-hours text-right">{{ othersTotal }}</td>
                </tr>
				<tr>
					<td>Total</td>
                    <td class="timesheet-grand-total text-right">{{ total }}</td>
				</tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
    <input type="hidden" name="enddate" value="{{ weekendDate|date:"dmY" }}" />

		</div><!-- ./panel tags -->

	</div>

<div style="margin-bottom:15px;" class="clearfix">
        {% if hold_button %}
            <a id="submitTS" value="submit" name="submit" class="btn btn-danger pull-right pull-right-space" disabled="disabled">Submit</a>
            <button type="submit" value="save" name="save" id="saveTS" class="btn btn-danger pull-right" disabled="disabled">Save</button>
        {% else %}
            <a id="submitTS" value="submit" name="submit" class="btn btn-danger pull-right pull-right-space">Submit</a>
            <button type="submit" value="save" name="save" id="saveTS" class="btn btn-danger pull-right">Save</button>
        {% endif %}
        </div>
	<script>

 		$(document).on("click", "#submitTS", function(e) {
            swal({
              title: "Are you sure?",
              text: "Once submitted, your timesheet will be approved by the system and cannot be modified. If you want to save for now and change it later, Please click 'No, Cancel' and press the save button. Otherwise Please click 'Yes, Please'",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#37950B",
              confirmButtonText: "Yes, Please!",
              closeOnConfirm: false,
              cancelButtonText: "No, Cancel!",
              closeOnCancel: false
            },
            function(isConfirm) {
                if (isConfirm) {
                    var count = 0 ;
                     $('[id^=id_form][id$=DELETE]' ).each(function(){
                        if (this.checked) {
                            console.log(this.id);
                            count +=1;
                        }
                    });
                    if($( "#project_table > tbody > tr " ).length == count ) {
                            swal("warning!"," You Can't Submit Your Time Sheet Without Entering Details For Project ");
                            e.preventDefault();
                    }
                    else  {
                        $("#timesheet").submit();
                        swal("Done!", "Your timesheet is submitted", "success");
                    }
                }
                else
                  swal("Stay Cool", "You can still edit your timesheet", "success");
            });
         });

        $(function() {
            $( "#saveTS" ).click(function() {
                $( "#saveTS" ).hide();
            });

        });



        // Script to hide popover on click of element other than popover
        $('html').on('click', function(e) {
              if (typeof $(e.target).data('original-title') == 'undefined' &&
                 !$(e.target).parents().is('.popover.in')) {
                $('[data-original-title]').popover('hide');
              }
            });


        $(document).ready(function(){
        	$('body').addClass("nav-left-hide remove-navbar nav-left-medium");
        })


	</script>


 </form>




<style type="text/css">

.table>thead>tr>th{border-bottom: 0px;}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{padding: 5px;}
.lh-30{line-height: 30px;}
.popover.fade.bottom{background-color: rgba(255, 255, 255, 0);border:0px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0);}
.popover.fade.bottom .arrow{display: none;}
.popover-content{height:0px;width:0px;padding:0px}
</style>


{% endblock %}
