{% extends 'master.html' %}

{% load bootstrap3 %}
{% load fontawesome %}

{% block siteTitle %}Timesheet{% endblock %}



{% block pageTitle %}
    Timesheet : <b>{{ weekstartDate|date:"d-M" }} - {{ weekendDate|date:"d-M" }}</b>
{% endblock %}


{% block content  %}








{#<div class="timesheet-carousel text-center hidden">#}
{#    <div class="carousel slide row" data-ride="carousel" data-wrap='false' data-type="multi" data-interval="false" id="fruitscarousel">#}
{##}
{#        <div class="carousel-inner" id="carousel-inner">#}
{##}
{##}
{##}
{##}
{#                <div class="item active">#}
{#              {% for info_dict in ts_final_list %}#}
{#                {% if forloop.counter0|divisibleby:6 %}#}
{#                    {% ifnotequal forloop.counter0 0 %}#}
{#                        </div>#}
{#                        <div class="item">#}
{#                    {% endifnotequal %}#}
{##}
{#                {% endif %}#}
{##}
{##}
{##}
{#                    <div class="col-md-2 week-container">#}
{#                        <a href="entry?wkstart={{ info_dict.wkstart }}&wkend={{ info_dict.wkend }}">#}
{#                                {% if info_dict.filled %}#}
{##}
{#                                    {% if info_dict.hold == True %}#}
{#                                        <div class="timesheet-week ">#}
{#                                            <span class="week-start-date">{{ info_dict.for_week }}</span>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="timesheet-week timesheet-incomplete">#}
{#                                                <span class="week-start-date">{{ info_dict.for_week }}</span>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                {% else %}#}
{#                                    <div class="timesheet-week timesheet-not-filled">#}
{#                                        <span class="week-start-date">{{ info_dict.for_week }}</span>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                        </a>#}
{#                    </div>#}
{##}
{##}
{#            {% endfor %}#}
{#                {% if mondays_list|length|divisibleby:6 %}#}
{#                {% else %}#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{##}
{##}
{#        </div>#}
{##}
{#        <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>#}
{#        <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>#}
{##}
{#    </div>#}
{#</div><!-- ./carousel for week -->#}


{{mondays_list}}


<legend class="clearfix pad-bot-10 bb0">

<div class="pull-right">
 <div class="pull-left">
 <form id="prevWeek" method="get" action="" enctype="multipart/form-data">
    <input type="hidden" name="week" value="prev" />
 <input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
    <input type="hidden" name="enddate" value="{{ weekendDate|date:"dmY" }}" />
    {% if disabled == 'prev' %}
        <button type="submit" value="submit" disabled="disabled" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    {% else %}
        <button type="submit" value="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    {% endif %}
 </form>
 </div>


<style type="text/css">
.btn.left-text{text-align: left;}
.week-selector{margin: 0px 5px;}
.week-selector button, .week-selector li a{min-width: 200px;}
.week-selector li:not(:last-child){border-bottom: 1px solid #ccc;}
.week-selector li:not(:last-child) a{padding-bottom: 5px;padding-top: 5px;}
.week-selector a:hover{background-color: #949494 !important}
/*.unfilled{
    background: #fd6666;
    height: 15px;
    width: 15px;
    float: right;
    border-radius: 50%;
    margin-top: 2px;
}*/
a.unfilled:before, button.unfilled:before{
    content: "";
    display: block;
    background: #fd6666;
    height: 15px;
    width: 15px;
    float: right;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px;
}
a.filled:before, button.filled:before{
    content: "";
    display: block;
    background: #6ab592;
    height: 15px;
    width: 15px;
    float: right;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px;
}
a.incomplete:before, button.incomplete:before{
    content: "";
    display: block;
    background: #fbac74;
    height: 15px;
    width: 15px;
    float: right;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 5px;
}
.week-selector .dropdown-menu{
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

</style>







<div class="dropdown week-selector pull-left">
  <button class="btn btn-default dropdown-toggle left-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="fa fa-calendar" style="margin-right:5px;color:#999"></i>
    {{ weekstartDate|date:"d-M" }} - {{ weekendDate|date:"d-M" }}
    <!-- <span class="caret"></span> -->
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       {% for info_dict in ts_final_list reversed %}
           <li>
                {% if info_dict.filled %}
                    {% if info_dict.hold == True %}
                         <a href="entry?startdate={{ info_dict.wkstart }}&enddate={{ info_dict.wkend }}" data-value="action" class="filled">
                           {{ info_dict.for_week }}
                         </a>
                    {% else %}
                        <a href="entry?startdate={{ info_dict.wkstart }}&enddate={{ info_dict.wkend }}" data-value="action" class="incomplete">
                           {{ info_dict.for_week }}
                         </a>
                    {% endif %}

                {% else %}
                    <a href="entry?startdate={{ info_dict.wkstart }}&enddate={{ info_dict.wkend }}" data-value="action" class="unfilled">
                            {{ info_dict.for_week }}
                    </a>
                {% endif %}
            </li>
      {% endfor %}

  </ul>
</div>




<script type="text/javascript">

/*    $(".dropdown-menu li a").click(function(){
        $(this).parents(".dropdown").find('.btn').html($(this).text());
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });  */

</script>





    <!-- <div class="col-md-7 text-right"><b>Enter Timesheet :</b> <i>{% block startDate %}{% endblock %} - {% block endDate %}{% endblock %}</i></div> -->

 <div class="pull-left text-right">
 <form id="nextWeek" method="get" action="" enctype="multipart/form-data">
    <input type="hidden" name="week" value="next" />
    <input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
    <input type="hidden" name="enddate" value="{{ weekendDate|date:"dmY" }}" />
    {% if disabled == 'next' %}
        <button type="submit" value="submit" disabled="disabled" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    {% else %}
        <button type="submit" value="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    {% endif %}
 </form>
 </div>






</div>











</legend>

<div class="text-center">
	<b>{% bootstrap_messages %}</b>
</div>
{% block timesheetContent %}{% endblock %}

<script>
    $(document).ready(function(){
        $('#fruitscarousel').carousel(parseInt($('#carousel-inner > div').length) - 1);
    });
</script>

{% endblock %}


