{% extends 'projectMaster.inc' %}

{% block timesheetActive %}class="active"{% endblock %}

{% block content %}
<div class="jumbotron shadow">
	<legend><h2><small>Approve / Hold Exceptions</small></h2></legend>
    {% if timesheetInfo %}
        {% for eachInfo in timesheetInfo %}
            <form id="approveTS" method="post" action="">
            {% csrf_token %}
                <table class="table table-condensed">
                    <thead>
                        {% with "member"|add:forloop.counter as member %}
                            {{ member }}
                            <input type="hidden" name="member" value="{{ eachInfo.member }}"> 
                            <input type="hidden" name="wkstart" value="{{ eachInfo.wkstart }}"> 
                            <input type="hidden" name="wkend" value="{{ eachInfo.wkend }}">
                        {% endwith %} 
                        <th>{{ eachInfo.member }}</th>
                        <th class="text-right">{{ eachInfo.wkstart }} - {{ eachInfo.wkend }}</th>
                        <th class="text-right">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default btn-sm"><input type="radio" name="approve"><b>Approve</b></label>
                                <label class="btn btn-default btn-sm active"><input type="radio" name="hold" checked><b>Hold</b></label>
                                <label class="btn btn-default btn-sm"><input type="radio" name="reject"><b>Reject</b></label> 
                            </div>
                            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> <b>View TS</b></button>
                        </th>
                    </thead>
                    <tbody>
                        {% if eachInfo.projects %}
                            {% for eachProject in eachInfo.projects %}
                                <tr>
                                    <td>{{ eachProject.project }}</td>
                                    <td class="text-right"><b>{{ eachProject.billed }}</b> Billed Hour(s)</td>
                                    <td class="text-right"><b>{{ eachProject.idle }}</b> Idle Hour(s)</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="2" class="text-right">
                                <h3><small><b>{{ eachInfo.np }}</b> Non-Project Hour(s)</small></h3>
                            </td>
                            <td class="text-right">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        {% endfor %}
    {% endif %}
    <div class="text-right">
        <button type="submit" class="btn btn-info btn-md"><i class="fa fa-upload"></i> <b>Update Status</b></button>
    </div>
</div>
{% endblock %}
