{% extends 'timesheetMaster.inc'  %}

{% block siteTitle %}Timesheet{% endblock %}


{% block pageTitle %}

Approve Timesheet


<div class="pull-right positioner">
            <div class="pull-left">
             <form id="prevWeek" method="get" action="" enctype="multipart/form-data">
                <input type="hidden" name="week" value="prev">
             <input type="hidden" name="startdate" value="19122016">
                <input type="hidden" name="enddate" value="25122016">
               
                    <button type="submit" value="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
               
             </form>
             </div>

            <div id="timesheet-approve-dropdrown" class="dropdown pull-left">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-calendar" style="margin-right:10px;color:#999"></i>19-Dec - 25-Dec</button>
              <ul class="dropdown-menu">
                <li><a href="#">19-Dec - 25-Dec</a></li>
                <li><a href="#">19-Dec - 25-Dec</a></li>
                <li><a href="#">19-Dec - 25-Dec</a></li>
              </ul>
            </div>


            <div class="pull-left text-right">
             <form id="nextWeek" method="get" action="" enctype="multipart/form-data">
                <input type="hidden" name="week" value="next">
                <input type="hidden" name="startdate" value="19122016">
                <input type="hidden" name="enddate" value="25122016">
               
                    <button type="submit" value="submit" disabled="disabled" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
               
             </form>
             </div>
</div><!-- ./positioner -->




{% endblock %}


{% block content %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">



<div class="panel pb-15">
    <div class="panel-body">


<table class="table table-striped" id="timesheet-approve-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Billable (Hrs)</th>
      <th>Non-Billable (Hrs)</th>
      <th>Leave (Hrs)</th>
      <th class="text-center">Options</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd gradeX">
      <td><a href="#myModal" class="timesheet-approve-user-details">Sanjay</a></td>
      <td>5</td>
      <td> 4</td>
      <td>65</td>

          

<td class="timesheet-approve-options text-center">

    <div class="checkbox checkbox-success radio-mod btn-xs">
        <input id="approve4845" type="checkbox" name="approve" class="approve" value="approved_4845">
        <label for="approve4845" class="ansr-orange-mod noselect">
        Approve
        </label>
    </div>

    <div class="checkbox checkbox-danger radio-mod btn-xs">
        <input id="reject4845" type="checkbox" name="reject" class="reject" value="rejected_4845">
        <label for="reject4845" class="noselect">
        Reject
        </label>
    </div>    

</td>

    <td class="menu-action">
      <a data-toggle="modal" data-target="#myModal" class="btn menu-icon vd_bd-yellow vd_yellow"> 
        <i class="fa fa-envelope"></i> 
      </a> 
    </td>



    </tr>
    <tr class="even gradeC">
      <td><a href="#myModal" class="timesheet-approve-user-details">Vivek</a></td>
      <td>5</td>
      <td>5</td>
      <td>65</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd gradeA">
      <td><a href="#myModal" class="timesheet-approve-user-details">Jeevan</a></td>
      <td>45</td>
      <td>65</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>



    </div>
</div>



<div class="panel pb-15">
    <div class="panel-body">

<table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Project</th>
                          <th>Chapter</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                        </tr>
                      </thead>
                      <tbody>


                        <tr>
                          <td>The name of the project</td>
                          <td>The name of the chapter</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                        </tr>

                        <tr>
                          <td>The name of the project</td>
                          <td>The name of the chapter</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                        </tr>

                        <tr>
                          <td>The name of the project</td>
                          <td>The name of the chapter</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1</td>
                        </tr>


                      </tbody>
                    </table>

    </div>
</div>








<!-- Modal Area -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body"> 
                            <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Feedback</label>
                              <div class="col-sm-7 controls">
                                <textarea class="input-border-btm" type="text"></textarea>
                              </div>

                            </div>
                            
                            
                          </form>
                        
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <button type="button" class="btn vd_btn vd_bg-green">Save changes</button>
                        </div>
                      </div>
                      <!-- /.modal-content --> 
                    </div>
                    <!-- /.modal-dialog --> 
                  </div>











<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>



<script type="text/javascript">
        $(document).ready(function() {
                "use strict";

                $('#timesheet-approve-table').dataTable();

                /* Toggle checkbox */

                $('.timesheet-approve-options label').click(function(){
                  if($(this).parent().find('input[type="checkbox"]').prop("checked") == false){
                    $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
                  }
                })

        } );
</script>




{% endblock %}









