{% extends 'timesheetMaster.inc'  %}

{% load bootstrap3 %}
{% block startDate %}
{{ weekstartDate }}
{% endblock %}

{% block endDate %}
{{ weekendDate }}
{% endblock %}

{% block timesheetContent %}
  <form id="timesheet" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
    <div id="timesheet-billable">
	<legend>
	Project Effort 
	<span class="pull-right">
		<a type="submit" value="submit" class="btn btn-success btn-xs" id="timesheet-billable-add-btn">
			<span class="glyphicon glyphicon-plus"></span>
			Add Project effort Item
		</a>
	</span>
	</legend>

    {{ tsFormset.management_form }}
	{% for eachError in  ErrorList %}
		{% if eachError.items|length > 0 %}
			<div class="alert alert-danger" role="alert">
				{% for k, v in eachError.items %}
					{{ k }} : {{ v|striptags }}
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	<table class="table table-condensed table-responsive">
	{% for form in tsFormset %}
		{{ form.errors }}
		{% if forloop.first %}
		<thead>
            	<tr>
			{% for field in form.hidden_fields %}
				{% if 'id' in field.label %}
					<td style="display: none">{{ field.label }}</td>
				{% endif %}
			{% endfor %}
			{% for data in form.visible_fields %}
				{% if 'Questions' not in data.label and 'Hours' not in data.label and 'id' not in data.label %}
				{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %}
					<th class="res-14-per">
				{% else %}
					<th>
				{% endif %}
				{{ data.label }}
				{% if data.field.required %}
					<span class="required">*</span>
				{% endif %}
					</th>
				{% endif %}
			{% endfor %}
            	</tr>
		</thead>
		<tbody>
		{% endif %}
		<tr>
			{% for field in form.hidden_fields %}
				{% if 'id' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}
				{% if 'pt' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}
			{% endfor %}
			{% for data in form.visible_fields %}
                {% spaceless %}
				{% if data.label == 'Mon' or data.label == 'Tue' or data.label == 'Wed' or data.label == 'Thu' or data.label == 'Fri' or data.label == 'Sat' or data.label == 'Sun' %}
					<td> 
						<a class="btn btn-default day-popover-button" href="javascript:;">
							{% for tdata in form.hidden_fields %}
								{% if data.label|lower in tdata.id_for_label and 'Q' in tdata.id_for_label %}
									{% for typeData in form.hidden_fields %}
										{% if 'projectType' in typeData.id_for_label %}
										{% if data.value > 0 %}
											<span class="b-questions">{{data.value}}</span>
											<span class="project-unit">{{typeData.value}}</span>
										{% else %}
											<span class="b-questions">0</span> 
											{% if typeData.value == None %}
												<span class="project-unit">Q</span>
											{% else %}
												<span class="project-unit">{{ typeData.value }}</span>
											{% endif %}
										{% endif %}
										{% endif %}
									{% endfor %}
									{{ tdata }}
								{% endif %}
							{% endfor %}
							-
							{% for tdata in form.hidden_fields %}
								{% if data.label|lower in tdata.id_for_label and 'H' in tdata.id_for_label %}
									{% if data.value > 0 %}
										<span class="b-hours">{{ data.value }}</span>H
									{% else %}
										<span class="b-hours">0</span>H
									{% endif %}
									{{ tdata }}
								{% endif %}
							{% endfor %}
						</a>
					</td>
				{% elif data.label == 'Total' %}
					<td>
						<a class="btn btn-default row-total-view" href="javascript:;">
							{% for data in form.hidden_fields %}
								{% if 'totalQ' in data.id_for_label %}
									{% for typeData in form.hidden_fields %}
										{% if 'projectType' in typeData.id_for_label %}
										{% if data.value > 0 %}
											<span class="t-questions">{{ data.value }}</span>
											<span class="project-unit">{{ typeData.value }}</span>
										{% else %}
											<span class="t-questions">0</span>
											{% if typeData.value == None %}
												<span class="project-unit">Q</span>
											{% else %}
												<span class="project-unit">{{ typeData.value }}</span>
											{% endif %}
										{% endif %}
										{% endif %}
									{% endfor %}
									{{ data }}
								{% endif %}
							{% endfor %}
							-
							{% for data in form.hidden_fields %}

								{% if 'totalH' in data.id_for_label %}
								    {% for Ndata in form %}
									{% if Ndata.label == 'Task' %}
									    {% if Ndata.value == 'I' %}
										 {% if data.value > 0 %}
										    <input type="hidden" class="r-total-idle-hours" value="{{ data.value }}" />
										    <input type="hidden" class="r-total-billable-hours" value="0" />
										 {% else %}
										    <input type="hidden" class="r-total-idle-hours" value="0" />
										 {% endif %}
									    {% else %}
										 {% if data.value > 0 %}
										    <input type="hidden" class="r-total-billable-hours" value="{{ data.value }}" />
										    <input type="hidden" class="r-total-idle-hours" value="0" />
										 {% else %}
										    <input type="hidden" class="r-total-billable-hours" value="0" />
										    <input type="hidden" class="r-total-idle-hours" value="0" />
										 {% endif %}
									    {% endif %}
									{% endif %}
								    {% endfor %}
									{% if data.value > 0 %}
										<span class="t-hours">{{ data.value }}</span>H
									{% else %}
										<span class="t-hours">0</span>H
									{% endif %}
									{{ data }}
								{% endif %}
							{% endfor %}
						</a>
					</td>
				{% elif 'Feedback' in data.label %}
			       		<td>	
						<a class="btn btn-default">
							<span class="glyphicon glyphicon-comment"></span>
						</a>
					</td>
				{% elif 'Questions' not in data.label and 'Hours' not in data.label and 'id' not in data.label and 'Feedback' not in data.label %}
					<td>{{ data }}</td>
                		{% endif %}
            		{% endspaceless %}
			{% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
    </div>
    <div id="timesheet-non-billable">
	<legend>
	Non - Project Effort
	<span class="pull-right">
		<a type="submit" value="submit" id="timesheet-non-billable-add-btn" class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-plus"></span>
			Add Non-project effort Item
		</a>
	</span>
	</legend>
	{{ atFormset.management_form }}
	<table class="table table-condensed table-responsive">
	{% for form in atFormset %}
		{% if forloop.first %}
		<thead>
            	<tr>
		{% for field in form.hidden_fields %}
			{% if 'id' in field.label %}
				<td style="display: none">{{ field.label }}</td>
			{% endif %}
		{% endfor %}
                {% for data in form %}
		    {% if 'id' not in data.label %}
		    {% if forloop.counter == 1 or forloop.counter == 9 %}
		    	<th class="res-14-per">
		    {% else %}
			<th>
		    {% endif %}
                    	{{ data.label }}
                    {% if data.field.required %}
                        <span class="required">*</span>
		    {% endif %}
                    </th>
                    {% endif %}
                {% endfor %}
            	</tr>
		</thead>
		<tbody>
		{% endif %}
		<tr>
			{% for field in form.hidden_fields %}
				{% if 'id' in field.label %}
					<td style="display: none">{{ field }}</td>
				{% endif %}
			{% endfor %}
			{% for data in form %}
		    		{% if 'id' not in data.label %}
					<td>{{ data }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
    </div>
    <div class="row">
        <div class="col-md-4 pull-right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr>
		    <td>Project Billable</td>
		    <td class="total-billable-hours">{{ bTotal }}</td>
                </tr>
                <tr>
                    <td>Project Idle</td>
		    <td class="total-idle-hours">{{ idleTotal }}</td>
                </tr>
                <tr>
                    <td>Others</td>
		    <td class="total-non-billable-hours">{{ othersTotal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="startdate" value="{{ weekstartDate|date:"dmY" }}" />
    <input type="hidden" name="enddate" value="{{ weekendDate|date:"dmY" }}" />
    {% if hold == True  %}
 	<button type="submit" value="submit" class="btn btn-info pull-right" disabled="disabled">
    {% else %}
 	<button type="submit" value="submit" class="btn btn-info pull-right">
    {% endif %}
	 Save Timesheet
 </button>
 </form>
{% endblock %}
