{% extends 'timesheetEntry.html'  %}

{% block siteTitle %}Timesheet{% endblock %}

{% load permissions %}
{% block pageTitle %}
Approve Timesheet

{% endblock %}



{% block switch_dates %}
{% if not exception_message %}
<div class="dropdown week-selector pull-left">
  <button class="btn btn-default dropdown-toggle left-text" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="fa fa-calendar" style="margin-right:5px;color:#999"></i>
    {{ weekstartDate|date:"d-M" }} - {{ weekendDate|date:"d-M" }}
    <!-- <span class="caret"></span> -->
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       {% for date_range in week_collection  %}
           <li>{% with result=status_dict|get_item:date_range %}
               {% for k,v in result.items %}
                    {% if k == 'status'  and v == 'approved' %}
                         <a href="approve?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="filled">
                           {{ date_range }}
                         </a>
                    {% else %}
                        {% if k == 'status' and v == 'partial' %}
                                <a href="approve?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="incomplete">
                                   {{ date_range}}
                                 </a>
                        {% endif %}
                        {% if  k == 'status' and v == 'not_approved'  %}
                            <a href="approve?startdate={{ result.wkstart }}&enddate={{ result.wkend }}" data-value="action" class="unfilled">
                                    {{ date_range}}
                            </a>
                        {% endif %}
                    {% endif %}
               {% endfor %} {%endwith %}
           </li>
      {% endfor %}

  </ul>
</div>

{% endif %}

{% endblock %}



{% block timesheetContent %}
{% if not exception_message %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

<div>
<table class="table table-striped myansr-table">
<thead>
<tr><th>Legend</th><th>Submission Status</th><th>Approval Status</th></tr>
</thead>
<tbody>
<tr><td class="fa fa-circle" style="color:green;"></td><td>Submitted</td><td>Approved</td></tr>
<tr><td class="fa fa-circle" style="color:orange;"></td><td>Saved</td><td>Pending Approval</td></tr>
<tr><td class="fa fa-circle" style="color:red;"></td><td>Not Submitted</td><td>Rejected</td></tr>
</tbody>
</table>
</div>

<div class="panel pb-15">

    <div class="panel-body">
                <button id="reminder_mail" class="btn btn-xs vd_btn vd_bg-blue pull-right" style="margin-bottom: 5px;">Send Reminder</button>
                <form method="post" action=""> {% csrf_token %}



{% if ts_list %}

                    {% for project in ts_list %}
                        {% for project,user_list in project.items %}
                        <table class="table table-striped myansr-table" id="timesheet-approve-table">
                            <b>Project Name: {{ project }}</b>
                          <thead>
                            <tr>
                              <th>Employee Id</th>
                              <th>Name</th>
                              <th>MON</th>
                              <th>TUE</th>
                              <th>WED</th>
                              <th>THRU</th>
                              <th>FRI</th>
                              <th>SAT</th>
                              <th>SUN</th>
                              <th>Total Effort</th>
                              <th>Submission Status</th>
                              <th>Approval Status</th>
                              <th class="text-center">Options</th>
                              <th>Feedback</th>
                            </tr>
                          </thead>
                          <tbody>


                          {% for data in user_list %}
                              {% for k,v in data.items %}
                              <tr class="odd gradeX approve-reject-options">
                                  <td>{{ k }}</td>
                                  <td>
                                  <a class="timesheet-approve-user-details employee" data-toggle="modal" data-target="#timesheet-approve-report" data-value="{{ v.teamMember__id }}:{{ project }}" style="cursor: pointer;">{{ v.teamMember__first_name }} {{ v.teamMember__last_name }}</a>
                                  </td>
                                  <td>{{ v.mondayH }}</td>
                                  <td>{{ v.tuesdayH }}</td>
                                  <td>{{ v.wednesdayH }}</td>
                                  <td>{{ v.thursdayH }}</td>
                                  <td>{{ v.fridayH }}</td>
                                  <td>{{ v.saturdayH }}</td>
                                  <td>{{ v.sundayH }}</td>
                                  <td>{{ v.totalH }}</td>
                                  {% if v.approved == False and v.hold == False %}
                                    <td><p class="fa fa-circle" style="color:orange;"></p></td>
                                    <td><p>Yet to submit</p></td>
                                  {% elif v.managerFeeback%}
                                    {% if v.approved == False and v.hold == False %}
                                        <td><p class="fa fa-circle" style="color:orange;"></p></td>
                                        <td><p class="fa fa-circle" style="color:red;"></p></td>
                                    {% endif %}
                                  {% elif v.managerFeeback%}
                                    {% if v.approved == True and v.hold == False %}
                                        <td><p class="fa fa-circle" style="color:orange;"></p></td>
                                        <td><p class="fa fa-circle" style="color:red;"></p></td>
                                    {% endif %}
                                  {% elif v.approved == False and v.hold == True %}
                                    <td><p class="fa fa-circle" style="color:green;"></p></td>
                                    <td><p class="fa fa-circle" style="color:orange;"></p></td>
                                  {% elif v.approved == True and v.hold == True %}
                                    <td><p class="fa fa-circle" style="color:green;"></p></td>
                                    <td><p class="fa fa-circle" style="color:green;"></p></td>
                                  {% endif %}
                                    <td class="timesheet-approve-options text-center radio-padding-mod">
                              {% if v.approved == True and v.hold == True %}
                                       <button type="button" class="btn btn-success btn-xs">Approved</button>
                              {% elif v.managerFeedback%}
                                        {% if v.approved == False and v.hold == False %}
                                            <button type="button" class="btn btn-danger btn-xs">Rejected</button>
                                        {% endif %}
                              {% elif v.managerFeedback%}
                                        {% if v.approved == True and v.hold == False %}
                                            <button type="button" class="btn btn-danger btn-xs">Rejected</button>
                                        {% endif %}
                              {% elif v.approved == False and v.hold == False %}
                                  <div class="checkbox checkbox-success radio-mod btn-xs disabled">
                                        <input id="approve_{{v.teamMember__id}}"  type="checkbox" name="approve[]" class="approve" value="{{v.teamMember__id}}_{{project}}" disabled>
                                        <label for="approve_{{v.teamMember__id}}" class="ansr-orange-mod noselect disable-select ansr-brown">
                                        Approve
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-danger radio-mod btn-xs disabled">
                                        <input id="reject_{{v.teamMember__id}}" type="checkbox" name="reject[]" class="reject" value="{{v.teamMember__id}}_{{project}}" disabled>
                                        <label for="reject_{{v.teamMember__id}}" class="noselect disable-select ansr-brown">
                                        Reject
                                        </label>
                                    </div>
                              {% else %}
                                  <div class="checkbox checkbox-success radio-mod btn-xs">
                                        <input id="approve_{{v.teamMember__id}}"  type="checkbox" name="approve[]" class="approve" value="{{v.teamMember__id}}_{{project}}">
                                        <label for="approve_{{v.teamMember__id}}" class="ansr-orange-mod noselect disable-select ansr-brown">
                                        Approve
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-danger radio-mod btn-xs">
                                        <input id="reject_{{v.teamMember__id}}" type="checkbox" name="reject[]" class="reject" value="{{v.teamMember__id}}_{{project}}">
                                        <label for="reject_{{v.teamMember__id}}" class="noselect disable-select ansr-brown">
                                        Reject
                                        </label>
                                    </div>
                              {% endif %}

                            </td>
                                 <td class="menu-action">
                                      <a data-toggle="modal" data-target="#myModal_{{v.teamMember__id}}" class="btn menu-icon vd_bd-yellow vd_yellow ansr-brown">
                                        <i class="fa fa-comments-o"></i>
                                      </a>
                                    </td>
                                <div class="modal fade" id="myModal_{{v.teamMember__id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{v.teamMember__id}}" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header vd_bg-blue vd_white" >
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><i class="fa fa-times"></i></button>
                                          <h4 class="modal-title" id="myModalLabel_{{v.teamMember__id}}" >Feedback</h4>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <div class="form-group">
                                                <label class="col-sm-4 control-label">Enter Your Feedback</label>
                                                <div class="col-sm-7 controls">
                                                  <textarea class="input-border-btm" name="feedback_{{v.teamMember__id}}" type="text"></textarea>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer background-login">
                                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                                        </div>
                                      </div>
                                      <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                  </div>


                                </tr>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                          {% endfor %}


  </tbody>
</table>
            <input type="submit" name="submit" class="btn btn-sm vd_btn vd_bg-green pull-right" value="Submit">
        {% else %}
        <span>Sorry None Of Your Team Members Have Submitted Their Time Sheet For this Week </span>
        {% endif %}
        <input type="hidden" name="weekstartDate" id="weekstartDate" value="{{weekstartDate|date:"dmY"}}">
        <input type="hidden" name="weekendDate" id="weekendDate" value="{{weekendDate|date:"dmY"}}">


</form>
</div>
</div>








<!-- Modal Area III -->


                  <div class="modal fade" id="timesheet-approve-report" tabindex="-1" role="dialog" aria-labelledby="timesheet-approve-report" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="timesheet-approve-report-body">Timesheet Overview : <span class="timesheet-member-name"></span></h4>
                        </div>
                        <div class="modal-body">
                    <table class="table table-hover project-table">
                      <thead>
                        <tr>
                          <th>Project ID</th>
                          <th>Project Name</th>
                          <th>Employee ID</th>
                          <th>Employee Name</th>
                          <th>Chapter/Course</th>
                          <th>Task</th>
                          <th>Effort</th>
                        </tr>
                      </thead>
                      <tbody>


                        <tr class="project-time-row">
                          <td class="project">Project ID</td>
                          <td class="project_name">Project Name</td>
                          <td class="employee_id">Employee ID</td>
                          <td class="employee_name">Employee Name</td>
                          <td class="chapter">chapter/course</td>
                          <td class="task">Task</td>
                          <td class="effort">effort</td>
                        </tr>


                      </tbody>
                    </table>




                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>
                          <!--<button type="button" class="btn vd_btn vd_bg-green">Save changes</button>-->
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>

<!-- ./Modal Area III -->




<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>



<script type="text/javascript">

var project_time_row = $('.project-time-row').html();
var total_row = $('.total-row').html();



// Functions

var time_iterate = function(e){

  var time_obj = e;

  $('.project-time-row').html('');

  // Append employee name to modal header
if(!jQuery.isEmptyObject(time_obj.tsData) ){
  $('.timesheet-member-name').html(time_obj.tsData[0]['first_name'] +'  ' + time_obj.tsData[0]['last_name'] + ' ('+ time_obj.tsData[0]['employee_id'] +')');

  // tsdata iteration

  for (var time_key in time_obj['tsData']){
    if (time_obj['tsData'].hasOwnProperty(time_key)){



      // Get length

      var obj_length = time_obj.tsData.length;


      // Populate project row

        $('.project-table tbody').append('<tr class="project-time-row"></tr>')
        $('.project-time-row:last-child').append(project_time_row);
        $('.project-time-row:last-child td.project').html(time_obj.tsData[time_key]['project']);
        $('.project-time-row:last-child td.project_name').html(time_obj.tsData[time_key]['project_name']);
        $('.project-time-row:last-child td.employee_id').html(time_obj.tsData[time_key]['employee_id']);
        $('.project-time-row:last-child td.employee_name').html(time_obj.tsData[time_key]['first_name']);
        $('.project-time-row:last-child td.chapter').html(time_obj.tsData[time_key]['chapter']);
        $('.project-time-row:last-child td.task').html(time_obj.tsData[time_key]['task']);
        $('.project-time-row:last-child td.effort').html(time_obj.tsData[time_key]['totalH']);
    }
  } // ./ ts data iteration

} else {
    $('.timesheet-member-name').html(time_obj.atData[0]['teamMember__first_name'] +'  ' + time_obj.atData[0]['teamMember__last_name'] + ' ('+ time_obj.atData[0]['teamMember__employee__employee_assigned_id'] +')');
}

} // ./time_iterate function

var employeeTime = function(){
   $('.employee').on('click', function()  {

        // Enabling approve and reject checkboxes
        $(this).parent().parent().find('a.menu-icon').removeAttr('disabled');
        if ($(this).parent().parent().hasClass('approve-reject-options')) {
          $(this).parent().parent().find('input[type="checkbox"]').removeAttr('disabled');
          $(this).parent().parent().find('label').removeAttr(' data-toggle data-placement data-original-title');
        }

        $.ajax({
          url: '/myansrsource/timesheet/time_sheet_employee',
          type: 'GET',
          dataType :'json',
          data: {"user_id":this.getAttribute('data-value') ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
          success: function (data) {
          time_iterate(data);
          },

        });
  });  
}

$(document).ready(function() {
                "use strict";


             $('#timesheet-approve-table').dataTable( {
                "paging":   false,
                "ordering": false,
                "info":     false
});
            $("[data-toggle='tooltip']").tooltip();

            /* Toggle checkbox */

            $('.timesheet-approve-options label').click(function(){
              if($(this).parent().find('input[type="checkbox"]').prop("checked") == false){
                $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
              }
            })

            // Firing once
            employeeTime();


            // firing after pagination change
            $('#timesheet-approve-table').on('draw.dt', function() {
              employeeTime();
            });



        jQuery('.approve , .reject ').click(function(e){
            var class_name = this.id;
            var user_id = class_name.split('_')
            if(this.className == 'approve') {
                $('#reject_'+user_id[1]).prop('checked', false);
                $('#cancel_'+user_id[1]).prop('checked', false);
                $('.reject_all').prop('checked', false);
            }
            else if (this.className == 'reject') {
                $('#myModal_'+user_id[1]).modal('show')
                $('#approve_'+user_id[1]).prop('checked', false);

            }
            else if (this.className == 'cancel') {
                $('#approve_'+user_id[1]).prop('checked', false);
                $('#reject_'+user_id[1]).prop('checked', false);

            }


        });

      $('#reminder_mail').on('click', function()  {

                  swal({   title: "Send Reminder?",
                    text: "Press YES to send a reminder mail",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "YES",
                    cancelButtonText: "NO",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax({
                          url: '/myansrsource/timesheet/send_reminder_mail',
                          type: 'GET',
                          dataType :'json',
                          data: {"user_id":{{request.user.id}} ,"start_date":$('#weekstartDate').val(),"end_date":$('#weekendDate').val() },
                          success: function (data) {
                                if (data['status'] == true )
                                    swal("Ok", "Reminder Mail is sent Successfully!", "success");
                                else
                                sweetAlert("Oops...", "Something went wrong!", "error");
                          },

                        });
                      }});

      });


} ); // ./doc-ready
</script>
{% else %} <span> Sorry You Don't have Any Direct Report</span>

{% endif %}
{% endblock %}










