{% extends 'viewProjectMaster.inc' %}

{% block createProjectActive %}class="active"{% endblock %}
{% block MPactiveClass %}active{% endblock %}
{% block viewProjectContent %}
<form id="summary" method="POST" action="">
	{% csrf_token %}
	<div class="table-responsive col-lg-12">
	<table class="table table-bordered">
		<thead>
			<th class="text-center">Choose</th>
			<th class="text-center">Project Name</th>
			<th class="text-center">Project Status</th>
		</thead>
		{% for eachProject in projects %}
			<tr>
				<td class="col-lg-2">
					{% if forloop.first %}
					<input type="radio" class="form-control" name="project" value="{{ eachProject.id }}" checked>
					{% else %}
					<input type="radio" class="form-control" name="project" value="{{ eachProject.id }}">
					{% endif %}
				</td>
				<td style="padding-top: 18px" class="text-center">
					{{ eachProject.name }}
				</td>
				<td class="text-center">
				        {% if eachProject.closed %}	
						<h4><span class="label label-default my-project">Closed</span></h4>
					{% else %}
						<h4><span class="label label-default holiday">Open</span></h4>
					{% endif %}
				</td>
			<tr>
		{% endfor %}
	</table>
	</div>
	<div class="text-right">
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-list"></span>
			Get Summary
		</button>
	</div>
</form>
<script>
    var app = app || {};

    (function() {

    }());
</script>

{% endblock %}
