{% extends 'viewProjectMaster.inc' %}

{% load fontawesome %}
{% block pageTitle %}View Project Summary{% endblock %}
{% block PSactiveClass %}active{% endblock %}
{% block steps %}
    {% if show_header %}
        {{ block.super }}
    {% else %}
    {% endif %}
{% endblock %}

{% block viewProjectContent %}
<legend><b>Summary</b>
    <span class="float-right"><h3><small><b>{{ basicInfo.projectId }} :  {{ basicInfo.name }}</b></small></h3></span>
</legend>
<div class="panel panel-default">
	<div class="panel-heading overflowHidden">
		<b>
			<span class="col-lg-6">Project Definition</span>
		</b>
	</div>
	<div class="panel-body">
	<table class="table table-condensed">
		<thead>
				<th>Type</th>
				<th>Business Unit</th>
				<th>Customer</th>
				<th>Customer Contact</th>
				<th>Book / Tile</th>
				<th>Is it an internal Project?</th>
				<th>Is this a new project?</th>
				<th>Is this contract signed?</th>
				<th>P.O.</th>
		</thead>
		<tbody>
		<tr>
			<td>{{ basicInfo.projectType__description }}</td>
			<td>{{ basicInfo.bu__name }}</td>
			<td>{{ basicInfo.customer__name }}</td>
			<td>{{ basicInfo.customerContact__username }}</td>
			<td>{{ basicInfo.book__name }}</td>
			<td>
				{% if basicInfo.internal == True  %}
					Yes
				{% else %}
					No
				{% endif %}
			</td>
			<td>
				{% if basicInfo.currentProject == True %}
					Yes
				{% else %}
					No
				{% endif %}
			</td>
			<td>
				{% if basicInfo.signed == True %}
					Yes
				{% else %}
					No
				{% endif %}
			</td>
			<td>{{ flagData.po }}</td>
		</tr>
		</tbody>
	</table>
	</div>
		<div class="panel panel-default">
	<div class="panel-heading overflowHidden">
		<b>
			<span class="col-lg-6">Project Additional detail</span>
		</b>
	</div>
			<div class="panel-body">
		<table class="table table-condensed">
		<thead>
				<th>Delivery manager</th>
				<th>PM Delegate</th>
				<th>Project Finance Type</th>
		</thead>
		<tbody>
		<tr>
			<td>{{ basicInfo.deliveryManager}}</td>
			<td>{{ basicInfo.pmDelegate }}</td>
			<td>{{ basicInfo.projectFinType }}</td>
		</tr>
		</tbody>
	</table>
	</div>
<div class="panel panel-default">
	<div class="panel-heading overflowHidden"><b><span class="col-lg-6">Project Basic Information</span></b></div>
	<div class="panel-body">
	<table class="table table-condensed">
		<thead>
				<th>Planned Effort</th>
				<th>Contigency Effort</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Total Value</th>
				<th>SalesForce Number</th>
		</thead>
		<tbody>
		<tr>
			<td>{{ flagData.plannedEffort }}</td>
			<td>{{ flagData.contingencyEffort }}</td>
			<td>{{ flagData.startDate }}</td>
			<td>{{ flagData.endDate }}</td>
			<td>{{ flagData.totalValue }}</td>
			<td>{{ flagData.salesForceNumber }}</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading overflowHidden">
		<b>
			<span class="col-lg-6">Team Member(s)</span>
		</b>
	</div>
<div class="panel-body">
	<table class="table table-condensed">
		<thead>
			<th>Member</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Planned Effort</th>
			<th>%</th>
		</thead>
        {% if teamMember %}
		{% for teamData in teamMember %}
		<tr>
			<td>
				{{ teamData.member__username }}
			</td>
			<td>
				{{ teamData.startDate }}
			</td>
			<td>
				{{ teamData.endDate }}
			</td>
			<td>
				{{ teamData.plannedEffort }}
			</td>
			<td>
				{{ teamData.rate }}
			</td>
		</tr>
		{% endfor %}
        {% else %}
        <td colspan="6" class="text-center"><h4><small>No Updates in this section till now</small></h4></td>
        {% endif %}
	</table>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading overflowHidden"><b><span class="col-lg-6">Milestone(s) Financial</span></b></div>
<div class="panel-body">
	<table class="table table-condensed">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Deadline</th>
			<th>Amount</th>
            <th>Completed</th>
			<th>Type</th>
		</thead>
        {% if milestone %}
		{% for milestoneData in milestone %}
		<tr>
			<td>
				{{ milestoneData.name }}
			</td>
			<td>
				{{ milestoneData.description }}
			</td>
			<td>
				{{ milestoneData.milestoneDate }}
			</td>
			<td>
				{{ milestoneData.amount }}
			</td>
            <td>
                {% if milestoneData.closed == True %}
				    <span class="glyphicon glyphicon-ok"></span>
			    {% endif %}
                {% if milestoneData.closed == False %}
                    <span class="glyphicon glyphicon-remove"></span>
			    {% endif %}

            </td>
			<td>

				{% if milestoneData.financial %}
                    Financial
                {% endif %}
			</td>
		</tr>
		{% endfor %}
        {% else %}
        <td colspan="3" class="text-center"><h4><small>No Updates in this section till now</small></h4></td>
        {% endif %}
		</table>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading overflowHidden"><b><span class="col-lg-6">Milestone(s) Delivery</span></b></div>
<div class="panel-body">
	<table class="table table-condensed">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Deadline</th>
			<th>Amount</th>
            <th>Completed</th>
			<th>Type</th>
		</thead>
        {% if milestoneDelivery %}
		{% for milestoneData in milestoneDelivery %}
		<tr>
			<td>
				{{ milestoneData.name }}
			</td>
			<td>
				{{ milestoneData.description }}
			</td>
			<td>
				{{ milestoneData.milestoneDate }}
			</td>
			<td>
				{{ milestoneData.amount }}
			</td>
            <td>
                {% if milestoneData.closed == True %}
                <span class="glyphicon glyphicon-ok"></span>
			    {% endif %}
                {% if milestoneData.closed == False %}
                   <span class="glyphicon glyphicon-remove"></span>
			    {% endif %}

            </td>
			<td>

				{% if not milestoneData.financial %}
                    Non-Financial
                {% endif %}
			</td>
		</tr>
		{% endfor %}
        {% else %}
        <td colspan="3" class="text-center"><h4><small>No Updates in this section till now</small></h4></td>
        {% endif %}
		</table>
</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading overflowHidden"><b><span class="col-lg-6">Change History</span></b></div>
<div class="panel-body">
	<table class="table table-condensed">
		<thead>
			<th>CR Date</th>
			<th>CR Reason</th>
			<th>Revised Total</th>
			<th>Revised Effort</th>
			<th>Project End Date</th>
			<th>Signed</th>
			<th>Closed</th>
			<th>Status</th>
		</thead>
        {% if changes %}
		{% for eachChange in changes %}
		<tr>
			<td>
				{{ eachChange.updatedOn }}
			</td>
			<td>
				{{ eachChange.reason }}
			</td>
			<td>
				{{ eachChange.revisedTotal }}
			</td>
			<td>
				{{ eachChange.revisedEffort }}
			</td>
			<td>
				{{ eachChange.endDate }}
			</td>
			<td>
                {% if eachChange.signed %}
                       Yes
                {% else %}
                       No
                {% endif %}
			</td>
			<td>
                {% if eachChange.closed %}
                       Yes
                {% else %}
                       No
                {% endif %}
			</td>
			<td>{%if eachChange.approved == '0' %}Active{% endif %}{% if eachChange.approved == '1' %}Approved{% endif %}{% if eachChange.approved == '2' %} Rejected {% endif %} </td>
		</tr>
		{% endfor %}
        {% if closedOn %}
        <tr>
            <td colspan="6" class="text-center"><h4><small><b>Project Closed on {{ closedOn }}</b></small></h4></td>
        </tr>
        {% endif %}
        {% else %}
        <td colspan="6" class="text-center"><h4><small>No Updates in this section till now</small></h4></td>
        {% endif %}

	</table>
</div>
</div>
{% if show_header %}
<a href="view-project" class="btn btn-info">
        <i class="fa fa-arrow-circle-left"></i>
	<b>Choose another project</b>
</a> {% endif %}

 {% if not show_header %}
<script type="text/javascript">

$(function() {
       $('body').addClass("nav-left-hide remove-navbar nav-left-medium");

});

</script>
{% endif %}
{% endblock %}
