{% extends 'master.inc' %}

{% load bootstrap3 %}

{% block siteTitle %}myansrsource:Welcome{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-10 col-md-12 col-xs-12
            col-lg-offset-1 jumbotron shadow"> 
            <div class="col-lg-12 col-md-12 col-xs-12">
                <legend><b>Welcome&nbsp;to&nbsp;myansrsource&nbsp;</b></legend>
                Congratulations you have been successfully registered in myansrsource. Your information has to completed by the HR team so that you can log timesheets. Please get in touch with the HR team immediately.<br /><br />
                Send a mail to the Project Manager and the HR team member saying that you have not yet been setup on the system. Please complete the same immediately.
				<div class="text-right">
					<a href="{% url 'logout'  %}" class="btn btn-sm btn-danger">
                            {% fontawesome_icon 'sign-out' large=True %}
							<b>Logout</b>
					</a>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
