/* Ansr Stylesheet */

/* Common */
.shadow {
	background-color: white; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px #333;
	-webkit-box-shadow:5px 5px 5px #333;
	-o-box-shadow:5px 5px 5px #333
}
body {
	padding-top: 70px;
}
.required { 
	color: #FF0000; 
}

/* Menu */
.ansrLogo { 
	max-width: 225px;
	margin-top: -7px;
	margin-right: 3px;
}
.ansrMenuShadow {
	border-bottom: 1px solid #aaa;	
}
.ansrLogout {
	font-weight: bold;
	color: red;
	padding-right: 5px;
}
.ansrLogoutIcon {
	font-weight: bold;
	color: red;
}

/* Body */
/* Login Page */
.ansrLoginForm { 
	position: absolute; 
	top: 20%;
}

/* Footer */
.ansrFooterText {
	text-align:center; 
	position: absolute; 
	top: 25%;
}


/* Overriding Boostrap table styles */

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
	border-top: none;
}

.table thead>tr>th{
	font-size: small;
}


