{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}

{% if record_added %}
<h4> your dispute raised</h4>
{% else %}


			<!-- Ajax -->
		 <div id="ajax_loader_apply_leave" class="ajax_bck"><div class="ajax_load_image"></div></div>
		 <form id="modal-container-252304" class="form-horizontal" method="post" enctype="multipart/form-data">

		  {% csrf_token %}
			<!-- <div id='ajax_loader_apply_leave'></div> -->
			<div style="color:red" id="LeaveForm_errors"></div><br>

			<form class="form-horizontal" role="form">
					{% for field in form.visible_fields %}
					<div class="form-group">


					<label class="control-label col-sm-2" >{{ field.label_tag }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %}</label>


					<div class="col-sm-10">{{ field }}{% if field.help_text %} {{ field.help_text }} {% endif %}
						{% if field.errors %}<p style="color:red;">{{ field.errors|striptags }}</p>{% endif %}
					</div>
				</div>
			 {% endfor %}

 <div class="form-group">
	 <div class="col-sm-offset-2 col-sm-6">
		 <button type="submit" class="btn btn-danger">Submit Dispute</button>
	 </div>


 </div>
 {% if errors %}
 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		{% for non_field_error in errors %}
		<div style="color:red;"><h5> {{non_field_error}}</h5></div>
		{% endfor %}

	 {% endif %}
	 {% for field in form.hidden_fields %}
		 {{field}}
	 {% endfor %}
	</div>
 </div>
</form>


	{% endif %}



		   <script>

				  $("form#modal-container-252304").submit(function(){

						 var formData = new FormData($(this)[0]);
						 form_id = $(this)[0].id;
						 form_element = $(this);
						ajax_loader_element = $('#ajax_loader_apply_leave');

						 swal({   title: "Are you sure?",
							text: "Do you want to submit your leave application?",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#DD6B55",
							confirmButtonText: "Yes, Submit it!",
							cancelButtonText: "No, cancel it.",
							closeOnConfirm: true,
							closeOnCancel: true
							},
							function(isConfirm){
								if (isConfirm) {

								 ShowAjaxLoader(ajax_loader_element, form_element.width(), form_element.height());
								 $.ajax({
									url: "/leave/raisedispute/",
									type: 'post',
									data: formData,
									success: function (data) {

									   if (data.record_added) {
											 swal("Done!", data.success_msg, "success");
											$("#modal_body__dispute").html('');
											window.location.reload();
										 }
									   else{
										$("#modal_body_dispute").html(data);
									   }
										HideAjaxLoader($('#ajax_loader_apply_leave'));

									},
									error: function(XMLHttpRequest, textStatus, errorThrown) {
												$("#LeaveForm_errors").html("Oops! Something went wrong on the server. The details are below: "
													+ "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a>.");
												HideAjaxLoader(ajax_loader_element);
											},

									cache: false,
									contentType: false,
									processData: false
								 });
								}
							   });

						 return false;
					 });


			  </script>
