{% extends 'master.inc' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}myansrsource:Leave{% endblock %}
<!DOCTYPE html>
{% block ansrMenu %}
 <li><a href="/myansrsource/dashboard">
    {% fontawesome_icon 'university' large=True %}
    Dashboard
 </a></li>
 <li class="ansrLogout"><a href="{% url 'logout' %}">
    {% fontawesome_icon 'sign-out' large=True color='red' %}
    <span class="ansrLogout">Logout</span>
  </a></li>
{% endblock %}
{% block content  %}


    <link href="/static/css/site.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/leave_style.css" rel="stylesheet">

    <div id="ajax_loader_cancel_leave" class="ajax_bck"><div class="ajax_load_image"></div></div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h3>Leave Details</h3>
    			</div>
    			<div class="modal-body" id="myModaldata">
    				<div class="container col-md-12">
    					<div class="row">

    					</div>
    				</div>
    			</div>
    			<div class="modal-footer">
    				<button class="btn" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>



    <!--  Start Apply/cancel Leave popup-->
    <div class="row margin-correct">
        <div class="col-md-12">
            <div class="modal fade" id="modal-container-252304" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method='POST'  id='post-form' action=".">
                        <div class="modal-header">

                            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">
								x
							</button>

                            <h4 class="modal-title" id="myModalLabel">
								Please Enter Your Leave
							</h4>
                        </div>
                        <div class="modal-body min-height-300" id="modal_body">
                          loading...............
                        </div>
                        <div class="modal-footer">

                          <p class="text-left manager-name">Manager : {{manager}}</p>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--  End Apply/cancel leave pop-->



    <div class="container Lv-themeTxtColor ">

        <!--      My Leaves Start -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center template-header">Welcome to the <b>ansr</b>source leave portal</h3>
                          <hr>
            </div>

        </div>
<div id='message'></div>
        <!--	Start Menu -->
        <div class="row">
            <div class="col-md-12 ">

                <div class="Lv-ApLvHeader">
                    <div class="row margin-correct">

                        <div class="col-md-6">
                          {%if managerFlag%}
                          <form id="loginForm"  action="" method="POST" enctype="multipart/form-data" class="noPrint">
                              {% csrf_token %}
                              {% bootstrap_messages %}

                                      {% for field in form %}
                                          {{ field }}
                                      {% endfor %}


                          <button type="submit" class="btn btn-primary btn-sm" value="submit" name="click">
                            <input type="hidden" value="generate" name="status" class="input-sm" />
                            Reportee Dashboard
                          </button>
                        </form>
                        {% endif %}
                        </div>
                        <div class="col-md-6 apply-export">


                          <!-- <a href="#" class="pull-right btn btn-sm btn-danger">Export</a> -->

                          <a id="modal-252334" href="#modal-container-252304" role="button" data-toggle="modal" title="Apply Leave"  class="pull-right btn btn-sm btn-danger btn-ansr-orange">
                            Apply Leave
                          </a>



                        </div>

                    </div>
                </div><!-- Lv-ApLvHeader -->

                <hr>

            </div>
        </div>
        <!--	End Menu -->





        <!--	Start content-->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-5 pad-right-0 pad-0">
                <div class="row">
                    <div class="col-md-12   ">
                        <div class="LvTitle"> <!-- invisible -->
                            <b>My Leaves:</b>
                        </div>
                    </div>
                </div>
                <div class="MyLeavesContainer">

                  <h4>{{userfullname}} - {{employeeId}}</h4>

                    <br>

                    <div class="row pad5 progress-bar-container" id="earned_leave">
                        <div class="col-md-12">
                            <div class="row Lv-Type-Selected">
                                <div class="col-md-4"> <!--Pad-topX10-->


                                            Earned <span class="total-leave-count-earned">(0)</span>

                                </div>
                                <div class="col-md-8"> <!--Pad-topX10-->
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">

                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar " style="width:0%">

                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="sick_leave">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">


                                            Sick <span class="total-leave-count-sick">(0)</span>

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="casual_leave">
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4">


                                            Casual <span class="total-leave-count-casual">(0)</span>

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="Bereavement">
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4">


                                          Bereavement

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      {% if gender %}
                      {% else %}
                    <div class="row pad5 progress-bar-container" id="child_care">
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4">
                                    {% if male %}
                                    Paternity
                                    {% else %}

                                          Maternity
                                          {%endif%}

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    <div class="row pad5 progress-bar-container" id="comp_off">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">


                                            Comp Off earned

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="comp_off_apply">
                        <div class="col-md-12">
                            <div class="row ">
                                <div class="col-md-4">


                                          Comp Off Avail

                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="loss_of_pay">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                            Loss Of Pay
                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="sabbatical">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                            Sabbatical
                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">


                                        </div>
                                        <div class="Lv-ProgressBar-TotalDays total"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row pad5 progress-bar-container" id="pay_off">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                            Pay Off
                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">
                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad5 progress-bar-container" id="work_from_home">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                            Work From Home
                                </div>
                                <div class="col-md-8">
                                    <div class="progress Lv-progress">
                                        <div class="progress-bar progress-bar-success Lv-progress-bar approved" role="progressbar" style="width:0%">
                                        </div>
                                        <div class="progress-bar progress-bar-warning Lv-progress-bar applied" role="progressbar" style="width:0%">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad15X margin-correct">

                        <div class="col-sm-12">
                            <div class="row ">
                                <div class="MyLvTot"><span class="glyphicon glyphicon-stop"></span><span class="Lv-TxtWhite">&nbsp;Balance</span></div>
                                <div class="MyLvAppr"><span class="glyphicon glyphicon-stop"></span><span class="Lv-TxtWhite">&nbsp;Applied</span></div>
                                <div class="MyLvAppl"><span class="glyphicon glyphicon-stop"></span><span class="Lv-TxtWhite">&nbsp;Approved</span></div>
                                <div class="MyLvTotl"><span class="total-count"></span><span class="Lv-TxtWhite">&nbsp;<b>(Total)</b></span></div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- End MyLeavesContainer -->

            </div>
            <!--  End  My Leaves -->


            <!-- Start My Transactions -->
            <div class="col-md-7 pad-left-0 pad-0">
                <div class="row">
                    <div class="col-md-12 " >
                        <div class="LvTitle form-inline">

							 <b>Transactions:</b> <span id="leave_name">Earned Leave</span>


                        </div>
                        <div class="Lv-TransactionsContainer">


<div class="Transactions-header clearfix">
                          <span class="pull-right">
                           <label for="month_select">Select status&nbsp;:&nbsp;</label>
                           <select class="Lv-Tr-SelectMonth" id="month_select">
                             {
                               <option>All</option>
                               <option>Open</option>

                           <option>Approved</option>
                           <option>Rejected</option>
                           <option>Cancelled</option>

                           </select>
                           </span>
</div>



<div class="leave-data-container">
                            <table class="table table-bordered table-responsive table-hover">
                                <tr class="">
                                    <th>No</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Days</th>
                                </tr>


                            </table>
</div>



                        </div>
                        <!--  End Lv-TransactionsContainer-->



                    </div>
                </div>
            </div>
            <!-- End My Transactions-->


          </div><!-- end of col-sm-12-->
        </div>
        <!--	End content-->


    </div>
    <!-- End Main Container-->






<script>

function refreshBackground() {
        window.location.reload();
    }
$(document).ready(function() {

gridLoad('earned_leave');

  var totalcount = 0;
  {% for leave in leave_summary%}
  var leaveType='{{leave.leave_type__leave_type}}';
  {% if male %}
  if(leaveType=="maternity_leave"){
    leaveType='None'
  }

  {% else %}
  if(leaveType=="paternity_leave"){
    leaveType='None'
  }
  {% endif %}
  switch(leaveType){
    case 'earned_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      totalcount = applied + approved + total;
      $('.total-leave-count-earned').text("("+totalcount+")");
      if(applied!=0){
        $('#earned_leave .applied').text(applied);
      }
      if(approved!=0){
      $('#earned_leave .approved').text(approved);
      }
      if(total!=0){
      $('#earned_leave .total').text(total +' days');
      }
      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#earned_leave .applied').css({'width' : applied_perc+"%"});
        $('#earned_leave .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#earned_leave .applied').css({'width' : "0%"});
        $('#earned_leave .approved').css({'width' : "0%"});
      }

      break;
    }

    case 'sick_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      totalcount = applied + approved + total;
      $('.total-leave-count-sick').text("("+totalcount+")");
      if(applied!=0){
        $('#sick_leave .applied').text(applied);
      }
      if(approved!=0){
      $('#sick_leave .approved').text(approved);
      }
      if(total!=0){
      $('#sick_leave .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#sick_leave .applied').css({'width' : applied_perc+"%"});
        $('#sick_leave .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#sick_leave .applied').css({'width' : "0%"});
        $('#sick_leave .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'casual_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      totalcount = applied + approved + total;
      $('.total-leave-count-casual').text("("+totalcount+")");
      if(applied!=0){
        $('#casual_leave .applied').text(applied);
      }
      if(approved!=0){
      $('#casual_leave .approved').text(approved);
      }
      if(total!=0){
      $('#casual_leave .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#casual_leave .applied').css({'width' : applied_perc+"%"});
        $('#casual_leave .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#casual_leave .applied').css({'width' : "0%"});
        $('#casual_leave .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'loss_of_pay':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#loss_of_pay .applied').text(applied);
      }
      if(approved!=0){
      $('#loss_of_pay .approved').text(approved);
      }
      if(total!=0){
      $('#loss_of_pay .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#loss_of_pay .applied').css({'width' : applied_perc+"%"});
        $('#loss_of_pay .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#loss_of_pay .applied').css({'width' : "0%"});
        $('#loss_of_pay .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'bereavement_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#Bereavement .applied').text(applied);
      }
      if(approved!=0){
      $('#Bereavement .approved').text(approved);
      }
      if(total!=0){
       $('#Bereavement .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#Bereavement .applied').css({'width' : applied_perc+"%"});
        $('#Bereavement .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#Bereavement .applied').css({'width' : "0%"});
        $('#Bereavement .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'sabbatical':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#sabbatical .applied').text(applied);
      }
      if(approved!=0){
      $('#sabbatical .approved').text(approved);
      }
      if(total!=0){
       $('#sabbatical .total').text("");
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#sabbatical .applied').css({'width' : applied_perc+"%"});
        $('#sabbatical .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#sabbatical .applied').css({'width' : "0%"});
        $('#sabbatical .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'pay_off':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#pay_off .applied').text(applied);
      }
      if(approved!=0){
      $('#pay_off .approved').text(approved);
      }
      if(total!=0){
      $('#pay_off .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#pay_off .applied').css({'width' : applied_perc+"%"});
        $('#pay_off .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#pay_off .applied').css({'width' : "0%"});
        $('#pay_off .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'work_from_home':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#work_from_home .applied').text(applied);
      }
      if(approved!=0){
      $('#work_from_home .approved').text(approved);
      }
      if(total!=0){
      $('#work_from_home .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#work_from_home .applied').css({'width' : applied_perc+"%"});
        $('#work_from_home .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#work_from_home .applied').css({'width' : "0%"});
        $('#work_from_home .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'comp_off_avail':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#comp_off_apply .applied').text(applied);
      }
      if(approved!=0){
      $('#comp_off_apply .approved').text(approved);
      }
      if(total!=0){
      $('#comp_off_apply .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#comp_off_apply .applied').css({'width' : applied_perc+"%"});
        $('#comp_off_apply .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#comp_off_apply .applied').css({'width' : "0%"});
        $('#comp_off_apply .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'comp_off_earned':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#comp_off .applied').text(applied);
      }
      if(approved!=0){
      $('#comp_off .approved').text(approved);
      }
      if(total!=0){
      $('#comp_off .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#comp_off .applied').css({'width' : applied_perc+"%"});
        $('#comp_off .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#comp_off .applied').css({'width' : "0%"});
        $('#comp_off .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'paternity_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#child_care .applied').text(applied);
      }
      if(approved!=0){
      $('#child_care .approved').text(approved);
      }
      if(total!=0){
      $('#child_care .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#child_care .applied').css({'width' : applied_perc+"%"});
        $('#child_care .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#child_care .applied').css({'width' : "0%"});
        $('#child_care .approved').css({'width' : "0%"});
      }
      break;
    }

    case 'maternity_leave':
    {
      var applied=({{leave.applied}}>0) ? {{leave.applied}}:0;
      var approved=({{leave.approved}}>0) ? {{leave.approved}}:0;
      var total=({{leave.balance}}>0) ? {{leave.balance}}:0;

      if(applied!=0){
        $('#child_care .applied').text(applied);
      }
      if(approved!=0){
      $('#child_care .approved').text(approved);
      }
      if(total!=0){
      $('#child_care .total').text(total +' days');
      }

      if(applied || approved || total){
        applied_perc = (applied/(applied + approved + total))*100;
        approved_perc = (approved/(applied + approved + total))*100;
        $('#child_care .applied').css({'width' : applied_perc+"%"});
        $('#child_care .approved').css({'width' : approved_perc+"%"});
      }
      else{
        $('#child_care .applied').css({'width' : "0%"});
        $('#child_care .approved').css({'width' : "0%"});
      }
      break;
    }

  }

  {% endfor %}




  //ajax request for registering a leave on modal popup open
  $("#modal-container-252304").on('shown.bs.modal', function(){

  $.ajax(
        {
            type : "GET",
            url : '/leave/add/',
            data :{'user_id':{{userid}}} ,
            success : function(data)
            {
                $("#modal_body").html(data);


              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                $("#modal_body").html("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");
                HideAjaxLoader(ajax_loader_element);
              },
            }
          );
          });

function removeSelection(){
  $("#earned_leave .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#child_care .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#sick_leave .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#casual_leave .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#Bereavement .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#loss_of_pay .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#pay_off .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#work_from_home .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#comp_off .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#comp_off_apply .col-md-12 .row").removeClass("Lv-Type-Selected");
  $("#sabbatical .col-md-12 .row").removeClass("Lv-Type-Selected");


}



function gridLoad(name){
  getLeaveName = {'sabbatical':'Sabbatical', 'comp_off_avail':"Comp Off avail",'paternity_leave':'Paternity','maternity_leave':'Maternity', 'comp_off_earned':'Comp Off Earned', 'work_from_home':"Work From Home",'pay_off':"Pay Off",'loss_of_pay':"Loss Of Pay", 'bereavement_leave':"Bereavement Leave", 'casual_leave':"Casual Leave",'sick_leave': 'Sick Leave', 'earned_leave': 'Earned Leave' };
  leavename = getLeaveName[name];
  $("#leave_name").text(leavename);
  $('.table-bordered').empty();
  $.ajax(
        {
            type : "GET",
            url : '/leave/transaction/',
            data :{'leave':name,'type':$('#month_select').val(),user_id:{{userid}}} ,
            success : function(data)
            {
                $('.table-bordered').append(data);

              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                $("#modal_body").html("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");

              },
            }
          );


}

$('#earned_leave .col-md-12 .row').click(function(){
removeSelection()
 $('#earned_leave .col-md-12 .row').addClass("Lv-Type-Selected");
 gridLoad("earned_leave");

});

$('#sick_leave .col-md-12 .row').click(function(){
removeSelection();
 $('#sick_leave .col-md-12 .row').addClass("Lv-Type-Selected");
  gridLoad("sick_leave");

});

  $('#casual_leave .col-md-12 .row').click(function(){
   removeSelection();
   $('#casual_leave .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("casual_leave");

  });

  $('#Bereavement .col-md-12 .row').click(function(){
   removeSelection();
   $('#Bereavement .col-md-12 .row').addClass("Lv-Type-Selected");
  gridLoad("bereavement_leave");
  });

  $('#loss_of_pay .col-md-12 .row').click(function(){
   removeSelection();
   $('#loss_of_pay .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("loss_of_pay");
  });

  $('#comp_off_apply .col-md-12 .row').click(function(){
   removeSelection();
   $('#comp_off_apply .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("comp_off_avail");
  });

  $('#comp_off .col-md-12 .row').click(function(){
   removeSelection();
   $('#comp_off .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("comp_off_earned");
  });

  $('#pay_off .col-md-12 .row').click(function(){
   removeSelection();
   $('#pay_off .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("pay_off");
  });

  $('#work_from_home .col-md-12 .row').click(function(){
    removeSelection();
   $('#work_from_home .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("work_from_home");
  });

  $('#sabbatical .col-md-12 .row').click(function(){
    removeSelection();
   $('#sabbatical .col-md-12 .row').addClass("Lv-Type-Selected");
   gridLoad("sabbatical");
  });


$('#child_care .col-md-12 .row').click(function(){
  removeSelection();
 $('#child_care .col-md-12 .row').addClass("Lv-Type-Selected");
 {% if male %}
 gridLoad("paternity_leave");

 {% else %}
  gridLoad("maternity_leave");
 {% endif %}

});

  $("#month_select").change(function(){
    name = $("#leave_name").text();
    LeaveName = {'Sabbatical':'sabbatical', "Comp Off avail":'comp_off_avail','Maternity Leave':'maternity_leave',
    'Paternity':'paternity_leave', 'Comp Off Earned':'comp_off_earned', "Work From Home":'work_from_home',"Pay Off":'pay_off',
    "Loss Of Pay":'loss_of_pay', "Bereavement Leave":'bereavement_leave', "Casual Leave":'casual_leave', 'Sick Leave':'sick_leave',
    'Earned Leave':'earned_leave' };
  gridLoad(LeaveName[name]);
  });

});

  function ShowAjaxLoader(element, width, height){
      element.show();
      element.width(width).height(height);
      return false;
    }
    function HideAjaxLoader(element){
      element.fadeOut();
      return false;
    }

var ajax_loader_element = $('#ajax_loader_cancel_leave');

    function CancelLeave(val, leavecount){
    	swal({
    		title: "Are you sure?",
    		text: "Do you want to cancel your leave?",
    		type: "warning",
    		showCancelButton: true,
    		confirmButtonColor: "#DD6B55",
    		confirmButtonText: "Yes, cancel.",
    		closeOnConfirm: true,
    		cancelButtonText: "No, return to previous page.",
    		closeOnCancel: true
    	},
    	function(isConfirm) {
    		if (isConfirm) {
           ShowAjaxLoader(ajax_loader_element, 1200, 1200);
              $.ajax(
                    {
                        type : "GET",
                        url : '/leave/cancel/',
                        data :{'leaveid':val, 'leavecount':leavecount} ,
                        success : function(data)
                        {

                            swal("Done!", "Your leave is cancelled", "success");

                            window.location.reload();
                            HideAjaxLoader(ajax_loader_element);
                          },
                          error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                            + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");
                              HideAjaxLoader(ajax_loader_element);
                          },
                        }
                      );


    		}
    		else
    				swal("Please click ok", "We have canceled your operation :). Thank You.", "success");

    });
}





function showDetails(leave_id){
  $.ajax(
        {
            type : "GET",
            url : '/leave/details/',
            data :{'leaveid':leave_id} ,
            success : function(data)
            {
              $('.LeaveDetails').remove()
              $('#myModal').modal({show:true})
              $('#myModaldata').append(data);

              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");

              },
            }
          );
}
</script>

<script type="text/javascript">

// Height change for right side column

leave_height = function(){
  lv_height = $('.MyLeavesContainer').css('height');
  $('.Lv-TransactionsContainer').css('height', lv_height);
}

$(window).load(function(){
  leave_height();

  $(window).resize(function(){
    leave_height();
  })
  $('.progress-bar-container div .row').click(function(){
    leave_height();
  })

})

</script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>





<!-- Start In-Page Styles -->

<style>

.table-hover>tbody>tr:hover{background-color: #FFF}
.table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr.success:hover>th, .table-hover>tbody>tr:hover>.success, .table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover{background-color: #DADADA}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #C1E8EF;
    background: #EBF5FB;
}
.table>tbody>tr.success>td, .table>tbody:hover>tr.success>td{background-color: #F4FEFF}

#F4FEFF
.template-header{margin-top: 55px;}

</style>

<link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
