{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}
{% block siteTitle %}Daily Interview Report{% endblock %}
{% block pageTitle %}Skill Set{% endblock %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
{% block content  %}
<link href="/static/css/site.min.css" rel="stylesheet">
<link href="/static/css/leave_style.css" rel="stylesheet">
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Team Members </h3>
                  </div>
                    <div id='message'></div>
        <!--	Start Menu -->
        <div class="row">
            <div class="col-md-12 ">

                <div class="Lv-ApLvHeader">
                    <div class="row margin-correct">

                        <div class="col-md-6">

                          <div id='message'></div>
        <!--	Start Menu -->


                          <form id="loginForm"  action="" method="GET" enctype="multipart/form-data" class="noPrint">
                              {% csrf_token %}
                              {% bootstrap_messages %}

                                      {% for field in form %}
                                          {{ field }}
                                      {% endfor %}



                        </form>
                        </div>


                    </div>
                </div><!-- Lv-ApLvHeader -->

                <hr>

            </div>
        </div>
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-2 pull-right">

                      <select name="" class="input-sm" id="department">
                          <option value="-----------" id="dept">Department</option>
                        {% for department in department %}
                            <option value="{{department}}">{{department}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-sm-2 pull-right">
                      <select name="" class="input-sm" id="designation">
                           <option value="-----------" id="desg">Designation</option>
                        {% for designation in designation_all %}

                            <option value="{{designation}}">{{designation}}</option>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                      <input name="" type="hidden" />
                    </div>

                  </div>

                    <table class="table table-striped" id="data-tables">
                        <h3 class="col-sm-12 text-right"><input type="button" id="export" class="btn vd_bg-green vd_white width-10" value="Export"></h3>
                      <thead style="color: #fff;background: #444">
                        <tr>
                          <th class="hidden">ID</th>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Designation</th>
                          <th>Skills</th>
                          <th>Joining date</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for element in lists %}
                        <tr>
                          <td class="hidden">{{element.id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.department}}</td>
                          <td>{{element.designation}}</td>
                          <td>{% for skill in element.skills %}
                              {{ skill }} </br>{% endfor %}</td>
                          <td>{{element.doj}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>

                    </table>


                  </div>
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->


<script type="text/javascript">

    $("#department").on('change', function() {
    $("#dept").hide();
    value = this.value

    $.ajax({
    type: "GET",
    url : '/skillset/dept',
    data : {'value':value},
    success : function(data){
    var content = $(data).find("#data-tables").html();
    $("#data-tables").html(content)
    }
    });
    });

    $("#designation").on('change', function() {
    $("#desg").hide();
    value = this.value

    $.ajax({
    type: "GET",
    url : '/skillset/designation',
    data : {'value':value},
    success : function(data){
    var content = $(data).find("#data-tables").html();
    $("#data-tables").html(content)
    }
    });
    });

    $(document).ready(function() {
      $("#export").click(function(e) {
        e.preventDefault();

        //getting data from our table
        var data_type = 'data:application/vnd.ms-excel';
        var table = document.getElementById('data-tables');
        var table_html = table.outerHTML.replace(/ /g, '%20');

        var a = document.createElement('a');
        a.href = data_type + ', ' + table_html;
        a.download = 'exported_table_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
        a.click();
      });
    });




</script>
<script type="text/javascript">

$(window).load(function(){
    $('.select2.select2-container').removeAttr('style');
})

</script>


{% endblock %}