{% extends 'master.html' %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load permissions %}
{% load static from staticfiles %}
{% block siteTitle %}Daily Interview Report{% endblock %}
{% block pageTitle %}Skill Set{% endblock %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
{% block content  %}

<link href="/static/css/site.min.css" rel="stylesheet">
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

<style type="text/css">
  #data-tables_filter{display: none;}
</style>

            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                    {% if request.user|has_group:'myansrsourceHR' == True or request.user|has_group:'myansrsourcePM' == True  %}
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Team Members </h3>
                  </div>
                    {% endif %}
                            {% if request.user|has_group:'myansrsourceHR' == True or request.user|has_group:'myansrsourcePM' == True  %}
                              <div class="panel-body">
                              <div class="row">


                                <div class="col-sm-2 pull-right">

                                  <select name="" class="input-sm" id="department">
                                      <option value="-----------" id="dept">Department</option>
                                    {% for department in department %}
                                        <option value="{{department}}">{{department}}</option>
                                    {% endfor %}
                                  </select>
                                </div>

                                <div class="col-sm-2 pull-right">
                                  <select name="" class="input-sm" id="designation">
                                       <option value="-----------" id="desg">Designation</option>
                                    {% for designation in designation_all %}

                                        <option value="{{designation}}">{{designation}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-2 pull-right">
                                  <select name="" class="input-sm" id="skills">
                                       <option value="-----------" id="skill">Skills</option>
                                    {% for skills in skills_all %}

                                        <option value="{{skills}}">{{skills}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                  <form id="loginForm"  action="" method="GET" enctype="multipart/form-data" class="noPrint">
                                        {% csrf_token %}
                                        {% bootstrap_messages %}
                                                {% for field in form %}
                                                    {{ field }}
                                                {% endfor %}
                                  </form>
                                </div>

                              </div>

                                  {% endif %}

<hr>
                    {% if request.user|has_group:'myansrsourceHR' == True or request.user|has_group:'myansrsourcePM' == True  %}
                    <input type="button" id="export" class="btn btn-sm vd_bg-green vd_white pull-right" value="Export">
                    {% endif %}

                    <table class="table table-striped" id="data-tables">
                      <thead style="color: #fff;background: #444">
                        <tr>
                          <th class="hidden">ID</th>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Designation</th>
                          <th>Skills</th>
                          <th>Level</th>
                          <th>Joining date</th>
                        </tr>
                      </thead>
                      <tbody id="data-table-body">
                      {% if request.user|has_group:'myansrsourceHR' == True or request.user|has_group:'myansrsourcePM' == True  %}
                      <h3> Total count:<b id="count"></b></h3>
                      {% endif %}
                      {% for element in lists %}
                        <tr>
                          <td class="hidden">{{element.id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.department}}</td>
                          <td>{{element.designation}}</td>
                          <td>{% for skill in element.skills %}{{ skill.skills_name }}</br>{% endfor %}</td>
                          <td>{% for skill in element.skills %}{{ skill.skills_type }}</br>{% endfor %}</td>
                          <td>{{element.doj}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>

                    </table>

                    <hr>

                  </div>
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->


<script type="text/javascript">

    var json_lists = {{ json_list|safe }}
    var arr_len = json_lists.length;
    document.getElementById("count").innerHTML = arr_len;

    $("#department").on('change', function() {
    $("#dept").hide();
    $("#select2-id_user-container").text("");
    temp = ""
    $("#designation").val(temp);
    $("#skills").val(temp);
    dept = $('#department option:selected').val();
        var input, filter, table, tr, td, i;

         input = dept;
         filter = input.toUpperCase();
         table = document.getElementById("data-table-body");
         tr = table.getElementsByTagName("tr");
         z = 0;
         //  Loop through all table rows, and hide those who don't match the search query
         for (i = 0; i < tr.length; i++) {
            json_dept = json_lists[i].department
            if(json_dept == input){
                z++;
                document.getElementById("count").innerHTML = z;
               $(tr[i]).show();
            }
            else{
               document.getElementById("count").innerHTML = z;
               $(tr[i]).hide();
            }
           }
    });

    $("#designation").on('change', function() {
    $("#desg").hide();
    $("#select2-id_user-container").text("");
    temp = ""
    $("#department").val(temp);
    $("#skills").val(temp);
    desg = $('#designation option:selected').val();
    var input, filter, table, tr, td, i;

         input = desg;
         filter = input.toUpperCase();
         table = document.getElementById("data-table-body");
         tr = table.getElementsByTagName("tr");
         z = 0;
         //  Loop through all table rows, and hide those who don't match the search query
         for (i = 0; i < tr.length; i++) {
            json_desg = json_lists[i].designation
            if(json_desg == input){
                z++;
                document.getElementById("count").innerHTML = z;
               $(tr[i]).show();
            }
            else{
               document.getElementById("count").innerHTML = z;
               $(tr[i]).hide();
            }
           }
    });

    $("#skills").on('change', function() {
    $("#skill").hide();
    $("#select2-id_user-container").text("");
    temp = ""
    $("#department").val(temp);
    $("#designation").val(temp);
    $('#data-table-body').empty();
    var skills_name = [];
    var skills_type = [];
    skill = $('#skills option:selected').val();
    z = 0;
    for(i=0;i<arr_len ;i++){
            var len_of_skills = json_lists[i].skills.length;
            for(j=0;j<len_of_skills;j++){
                if(skill == json_lists[i].skills[j].skills_name){
                    skills_name.push(json_lists[i].skills[j].skills_name)
                    skills_type.push(json_lists[i].skills[j].skills_type)
                    }
            }
            if(skills_name.length != 0){
                z++;
                document.getElementById("count").innerHTML = z;
                $('#data-table-body').append("<tr><td>" + json_lists[i].name + "</td><td>" + json_lists[i].department + "</td><td>" + json_lists[i].designation + "</td><td>"+skills_name.join().split(",").join("<br />")+ "</td><td>" + skills_type.join().split(",").join("<br />") + "</td><td>" + json_lists[i].doj + "</td></tr>");
            }
            else{
            document.getElementById("count").innerHTML = z;
            }
        skills_name = []
        skills_type = []
        }
    });

    $('#id_user').on('change',function(){
    value = this.value

    $.ajax({
    type: "GET",
    url : '/skillset/user',
    data : {'value':value},
    success : function(data){
    var content = $(data).find("#data-tables").html();
    $("#data-tables").html(content)
    }
    });
    });

    $(document).ready(function() {
      $("#export").click(function(e) {
        e.preventDefault();
        var data_type = 'data:application/vnd.ms-excel';
        var table = document.getElementById('data-tables');
        var table_html = table.outerHTML.replace(/ /g, '%20');
        var a = document.createElement('a');
        a.href = data_type + ', ' + table_html;
        a.download = 'exported_table_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
        a.click();
      });
    });

</script>


{% endblock %}