<li class="dropdown-header">Karle-Level 0</li>
{% for location in  karle_ground_floor %}
    <li><a href="#" id='{{ location.0}}'>{{ location.1}}</a></li>
{% endfor %}

<li role="separator" class="divider"></li>
<li class="dropdown-header">karle-Level 2</li>
{% for location in  karle_second_floor %}
    <li><a href="#" id='{{ location.0}}'>{{ location.1}}</a></li>
{% endfor %}

<li role="separator" class="divider"></li>
<li class="dropdown-header">BTP</li>
{% for location in  btp %}
    <li><a href="#" id='{{ location.0}}'>{{ location.1}}</a></li>
{% endfor %}

<script>
$(document).ready(function() {
    a = new Timer("#timerText");

     function  InitiateTimer() {
		  a.set(15, 00);
		  a.run();
		}

    $('#rooms_list>li>a').click(function () {
        a.stop();
        var room_id = $(this).attr('id')
        var room_name = $(this).text();
        UpdateBookingDetails();
	});

    var MyInterval = setTimeout(function(){
        room_id = $('#selected_room_id').attr('value');
        room_name = $('#room_name_title').text();
        UpdateBookingDetails();
        alert();
    }, 10000);




	function UpdateBookingDetails() {

{#        clearInterval(MyInterval);#}
        room_id = $('#selected_room_id').attr('value');
        room_name = $('#room_name_title').text();

		$.ajax({
				url: 'http://127.0.0.1:8000/bookings/get-bookings-details/',
				type: 'GET',
				cache: false,
                data: {'room_id':room_id},
				success: function (data) {
						if (data.html_data) {
                            $('#room_name_title').html(room_name);
							$('#container').html(data.html_data);
                            $('#selected_room_id').attr('value', room_id);
                            MyInterval;
                            InitiateTimer();
						}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert("Server error!");
				},
		});
	}



    function Timer(element) {

	  var minutes, seconds, finalTimeInSeconds, displayMinutes, displaySeconds, interval = 1000, self = this, timeLeftToNextSecond = 1000;

	  this.set = function(inputMinutes, inputSeconds) {

		finalTimeInSeconds = inputMinutes * 60 + inputSeconds;
		minutes = (Math.floor(finalTimeInSeconds / 60));
		seconds = finalTimeInSeconds % 60;

		this.print();
	  }

	  this.add = function(inputMinutes, inputSeconds) {

		finalTimeInSeconds += inputMinutes * 60 + inputSeconds;
		finalTimeInSeconds = (finalTimeInSeconds < 0) ? 0 : finalTimeInSeconds;
		minutes = (Math.floor(finalTimeInSeconds / 60));
		seconds = finalTimeInSeconds % 60;

		this.print();
	  }

	  this.subtract = function(inputMinutes, inputSeconds) {

		finalTimeInSeconds -= inputMinutes * 60 + inputSeconds;
		finalTimeInSeconds = (finalTimeInSeconds < 0) ? 0 : finalTimeInSeconds;
		minutes = (Math.floor(finalTimeInSeconds / 60));
		seconds = finalTimeInSeconds % 60;

		this.print();
	  }

	  this.reset = function() {

		this.set(0, 0);
	  }

	  this.print = function() {

		displayMinutes = (minutes.toString().length == 1) ? "0" + minutes : minutes; //ternary operator: adds a zero to the beggining
		displaySeconds = (seconds.toString().length == 1) ? "0" + seconds : seconds; //of the number if it has only one caracter.

		$(element).text(displayMinutes + ":" + displaySeconds);
	  }

	  this.run = function() {

		ac = setInterval(function() {

		  secondStarted = new Date;
		  self.subtract(0, 1);
		  interval = 1000;
		}, interval);
	  }

	  this.stop = function() {

		clearInterval(this.ac);

	  }

} // Timer function end

}); // dom ready end
</script>