 {% load book_my_room_template_tags %}
 <div id="BookingsAjaxLoader" class="ajax_bck_bookings"><div class="ajax_load_image_bookings"></div></div>
  <div class="panel panel-default clearfix room-booking-content">

    <div class="time-panel clearfix">

      <div class="col-sm-3 col-md-2"></div>
      <div class="col-sm-9 col-md-10 time-slots">

        <div class="col-sm-2">
            <span>8:00</span>
            <span>9:00</span>
        </div>

        <div class="col-sm-2">
            <span>10:00</span>
            <span>11:00</span>
        </div>
        <div class="col-sm-2">
            <span>12:00</span>
            <span>13:00</span>
        </div>
        <div class="col-sm-2">
            <span>14:00</span>
            <span>15:00</span>
        </div>
        <div class="col-sm-2">
            <span>16:00</span>
            <span>17:00</span>
        </div>
        <div class="col-sm-2">
            <span>18:00</span>
            <span>19:00</span>
        </div>

      </div>

    </div><!--end of time-panel-->


<div class="rooms-and-time clearfix">

<form id="BookMeetingForm" method="post" enctype="multipart/form-data">
		 <!--<form action="{% url 'add_grievance' %}" method="post">-->
		  {% csrf_token %}
  {% for room_obj in rooms_list %}
    <div class="room-and-time clearfix">
        <div class="col-sm-3 col-md-2">{{room_obj.room_name}}</div>
        <div class="col-sm-9 col-md-10 selectors">
          {% for block in TimingsList %}
          <div class="col-sm-2 checkbox-removed">
            {% for time in block %}

          {% with  res_obj=for_date|Concat:time|BookedBy:room_obj %}
              {% if res_obj %}
                <span>
                    <input type="checkbox" name="BookingTime" id="{{room_obj.id}}-{{time}}" disabled />
                        {% if res_obj.booked_by == request.user %}
                            <label for="{{room_obj.id}}-{{time}}" class="user-selected" data="{{ res_obj }}"></label>
                        {% else  %}
                            <label for="{{room_obj.id}}-{{time}}" data="{{ res_obj }}"></label>
                        {% endif %}
                    <div class="booked-by">
                        <h4>Booked By</h4>
                        <p>{{res_obj.booked_by.first_name}} {{res_obj.booked_by.last_name}}</p>
                    </div>
                </span>
              {% else %}
                <span>
                    <input type="checkbox" name="BookingTime" id="one{{room_obj}}{{time}}" data-value='{{time}}' value="{{room_obj.id}}/{{time}}"/>
                    <label for="one{{room_obj}}{{time}}"></label>
                </span>
              {% endif %}
            {% endwith %}

            {% endfor %}
          </div>
          {% endfor %}

        </div>
    </div><!--end of room-and-time-->
    {% endfor %}

<div style="margin-top:30px;">
      <div id="legend" class="col-sm-8">
        <p class="pull-left"><span></span>Available</p>
        <p class="pull-left blocked"><span></span>Booked</p>
        <p class="pull-left user-booked"><span></span>Your Bookings</p>
        <p class="pull-left booked"><span></span>Selected</p>

      </div>

     <input type="submit" class="btn btn-sm btn-success pull-right" value="Submit" />
        <button id="reset-btn" type="reset" class="btn btn-sm btn-danger pull-right">Reset</button>
</div>

</form>





</div><!--end of rooms-and-time-->


<hr>

<div class="row bookings margin-0">
	<h4>Your Bookings <small> (Only future bookings are displayed here)</small></h4>
    <div class="form-inline approve-reject pull-right">
            <div class="checkbox checkbox-success">
                                          <input id="release_all" type="checkbox" name="release_all" class="release_all">
                                          <label for="release_all" class="lh-16">
                                             Release All
                                          </label>
                                      </div>
	{% if bookings_list %}
		{% for obj in bookings_list %}
			<div class="col-sm-12 booking" id="BookingObject-{{obj.id}}">
				<div class="col-sm-3">{{obj.room.get_location_display}}-{{obj.room.room_name}}</div>
				<div class="col-sm-7">{{obj.from_time|date}}, {{obj.from_time|time:"H:i"}} - {{obj.to_time|time:"H:i"}}</div>
{#				<div class="col-sm-4">#}
{#					<input type="text" name="" class="form-control">#}
{#				</div>#}
				<div class="col-sm-2">
					<button class="CancelBooking btn btn-danger btn-sm pull-right" data-value="{{obj.id}}">Release</button>
				</div>
			</div>
		{% endfor %}
		{% else %}
			<div class="col-sm-12 booking">
				<h5>No bookings found...</h5>
			</div>

		{% endif %}
</div>


<!--<div id="submit-section" class="col-sm-12">
  <p class="pull-left booker">V L Nagaraj - Media Team</p>

</div>-->

</div><!--end of panel-->

<script>
    var cancel_data = { 'cancel_id' : []};
	$(document).ready(function(){

        function push_all () {
            $(".CancelBooking").each(function() {
            <!--console.log($(this).attr('data-value'));-->
                cancel_data['cancel_id'].push($(this).attr('data-value'));

            });
            console.log("data" +JSON.stringify(cancel_data));
            return false;
        }
        $("#release_all").change(function() {
            if(this.checked) {
                var r = confirm("Do You Want To Release All Your Bookings ? ");
                if (r == true) {
                    push_all();
                    $(".CancelBooking").trigger( "click" )
                }
            }
        });



		$('#reset-btn').click(function(){
				$('input[type="checkbox"]').attr('checked', false);
			});
		});

        $("#BookMeetingForm").submit(function(){

            var formData = new FormData($(this)[0]);
						var for_date = $('#id_for_date').val();
						var confirmation_text = "";
						formData.append('for_date', for_date);
						if ($("input[name=BookingTime]:checked").length <= 0){
							swal({title:"", text:"Sorry! You haven't selected any meeting room.", type:'warning'});
							return false;
						}
						else if($("input[name=BookingTime]:checked").length == 1){
							confirmation_text = "Are you sure you want to book this room?";
						}
						else{
							confirmation_text = "Are you sure you want to book these rooms?";
						}

								swal({
										title: '',
										text: confirmation_text,
										type: "warning",
										showCancelButton: true,
										confirmButtonText: 'Yes!',
										confirmButtonColor: "#00BCD4",
										closeOnConfirm: false,
										closeOnCancel: true
										},
                function(isConfirm){
                    // If user clicks on ok;
                    if (isConfirm) {
											 $('.showSweetAlert .sa-button-container button.confirm').html('');
											 $('.showSweetAlert .sa-button-container button.confirm').append("<img style='width:20px;margin: 0px 37px;' src='/static/images/ajax-loader2.gif'>");
											 //$('.showSweetAlert .sa-button-container button.confirm, .showSweetAlert .sa-button-container button.cancel').attr('disabled','true');

														$.ajax({
																url: '/bookings/',
																type: 'POST',
																data: formData,
																success: function (data) {
																		if (data.errors) {
																			//$('.showSweetAlert .sa-button-container button.confirm').attr('disabled','false');
																			swal({
																			type: 'error',
																			title: 'Server Error!',
																			text: data.errors,
																			html: true,
																		});
																		}
																		if (data.record_added == true) {

																			swal({
																				title:'Yay! Booking successful!',
																				type:"success",
																				text:"The page will refresh automatically.",
																				showConfirmButton: false
																				});

																			$(".container").slideUp();
																			setTimeout(function(){
																				$("#BookRoomAndViewDetailsContainer").html("");
																				window.location.reload();
																				}, 2000);
																		}
																},
																error: function(XMLHttpRequest, textStatus, errorThrown) {
																	swal({
																			type: 'error',
																			title: 'Server Error!',
																			html: errorThrown
																		});
																},
																cache: false,
																contentType: false,
																processData: false
														});

												}
                   });
            return false;
        });



				$(".CancelBooking").click(function(){
				    var condition = $( '#release_all').prop( "checked" );
                    if(condition === false) {
                         cancel_data['cancel_id'].push ($(this).attr('data-value'));
                    }

						swal({   title: "",
                text: "Are you sure you want to release this meeting room?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00BCD4",
                confirmButtonText: "Yes!",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
                },
                function(isConfirm){
                    // If user clicks on ok;

                    if (isConfirm) {
											$('.showSweetAlert .sa-button-container button.confirm').html('');
										$('.showSweetAlert .sa-button-container button.confirm').append("<img style='width:20px;margin: 0px 37px;' src='/static/images/ajax-loader2.gif'>");
										$('.showSweetAlert .sa-button-container button.confirm, .showSweetAlert .sa-button-container button.cancel').attr('disabled','true');

														$.ajax({
																url: '/bookings/cancel/',
																type: 'GET',
																 contentType: "application/json; charset=utf-8",
                                                                 dataType: "json",
																 data: cancel_data,

																success: function (data) {
																		if (data.record_updated == true) {
																			swal({
																				title:"Meeting room released!!",
																				type:'success',
																				text:"The page will refresh automatically",
																				showConfirmButton: false
																				});

																			setTimeout(function(){
																				$("#BookRoomAndViewDetailsContainer").html("");
																				window.location.reload();
																				}, 2000);
																		}
																		if (data.user_mismatch == true) {
																				swal('Error', "Malicious activity.You cannot cancel other users bookings.");
																		}
																},
																error: function(XMLHttpRequest, textStatus, errorThrown) {
																		swal({
																			type: 'error',
																			title: 'Server Error!',
																			html: errorThrown
																		});
																},

														});

												}
                   });

            return false;
        });

</script>
