{% extends 'master.inc' %}
{% load bootstrap3 %}

{% block content %}
<!-- write your html inside this block -->

<div class="container">

<h3 class="text-center">Book a Meeting </h3>

<div class="row">



<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div><!-- end of button for mobile toggle -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="input-group date form-group" id="bookings_date_pickers">
              <input class="form-control filter_class input-sm" id="id_from_date" name="from_date" type="text">
              <span class="input-group-addon">
                  <span class="glyphicon-calendar glyphicon"></span>
              </span>
          </div>
          <button class="btn btn-primary btn-sm">Karle 0</button>
          <button class="btn btn-default btn-blue btn-sm">Karle 1</button>
          <button class="btn btn-default btn-blue btn-sm">BTP</button>
        </form>

<div class="nav-btns">
        <button id="reset-btn" class="btn btn-danger btn-sm pull-right">Reset</button>
        <p class="pull-right">Your time is : <b>9:00 - 12:30</b></p>
</div>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div id="BookRoomAndViewDetailsContainer">
<!--  This div will be pupulated using ajax. Ajax request will render template BookMeetingform.html and will update this section with it.
This section updates on click of 3 buttons : Karle 0, karle 2 and BTP -->



</div>

</div><!--row-->

</div><!--end of container-->

{% endblock %}



{% block page_specific_JS %}
<!-- mention page specific js here -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>


<script>

$(document).ready(function(){
  $('#reset-btn').click(function(){
    $('input[type="checkbox"]').attr('checked', false);
  });

  UpdateBookingDetails();

  function UpdateBookingDetails(){

     $.ajax(
              {
                  type : "GET",
                  url : '/bookings/details/',
                  data :"" ,
                  success : function(data)
                  {
                      $("#BookRoomAndViewDetailsContainer").html(data.html_data);
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {
                  $("#BookRoomAndViewDetailsContainer").html("<p style='color:red'>Oops! Something went wrong on the server. The details are below: "
                      + "<br>Status : "+ textStatus + "<br>Exception : " + errorThrown + "<br><br> Please take a screenshot of this message and send it to <a href='mailto:myansrsourceHelpDesk@ansrsource.com'> MyAnsrSource Help Desk</a></p>");
                  //HideAjaxLoader(ajax_loader_element);
                  },
              }
          );


  }

  // Datepicker function

              $('#bookings_date_pickers').datepicker({
								 format: 'yyyy-mm-dd',
								 autoclose: true
							 });


})//end of document.ready


</script>




{% endblock %}
