
{% extends 'master.inc' %}
<title>{% block siteTitle %}myansrsource Grievance Administration{% endblock %}</title>
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}


{% block ansrMenu %}
 <li><a href="/myansrsource/dashboard">
    {% fontawesome_icon 'university' large=True %}
    Dashboard
 </a></li>
 <li class="ansrLogout"><a href="{% url 'logout' %}">
    {% fontawesome_icon 'sign-out' large=True color='red' %}
    <span class="ansrLogout">Logout</span>
  </a></li>
{% endblock %}


{% block breadcrumb %}
<div class="container-fluid pad0">
    <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">

                    <li>
					<a href='/grievances_admin'>Grievances</a>
                    </li>
                    <li class="active">
					Edit - Grievance ID :  <b>{{grievances.grievance_id}}</b>
                    </li>

                </ul>
            </div>
    </div>
</div>
{% endblock %}


{% block content  %}
<link href="/static/css/grievanceAdminStyle.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">

{% load grievances_template_tags %}

    <div class="container-fluid ">

    <div class="row">
      <!-- left column -->
      <div class="col-md-2">
      </div>

      <!-- edit form column -->
    <div class="col-md-8 personal-info">
	<h3 class="text-center"><strong>Edit grievance</strong></h3><hr>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <div class= "alert alert-{{ message.tags }}">
                        <a class="panel-close close" data-dismiss="alert">x</a>
                        <p >{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form class="form-horizontal well" role="form" id="grievance_edit_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-2 ">Registered By:</label>
            <div class="col-lg-10">
               <div class="Gr-edit-Uname">{{grievances.user.first_name}}</div>
            </div>
          </div>
	          <div class="form-group">
            <label class="col-lg-2 ">Category:</label>
             <div class="col-lg-10">
               <div class="Gr-edit-Uname">{{grievances.category}}</div>
            </div>
          </div><hr>
          <div class="form-group">
            <label class="col-lg-2 ">Subject:</label>
            <div class="col-lg-10">
               <div >
                <textarea class="form-control" id="grievance_subject"  name="grievance_subject" rows="3" readonly>{{grievances.subject.strip}}</textarea>

                   </div>
            </div>
          </div><hr>
		  <div class="form-group">
            <label class="col-lg-2 ">Grievance:</label>
            <div class="col-lg-10">
               <div >
                <textarea class="form-control" id="grievance_msg"  name="grievance_msg" rows="10" readonly>{{grievances.grievance.strip}}</textarea>
                   <br><div class="center-block"><b>Registered On :&nbsp;&nbsp;{{grievances.created_date}}</b></div><br>

			   <div class="">
				   {% if grievances.grievance_attachment%} <p><strong>Attachment:</strong></p>
				  <div class="" >
					<!-- Attachments start -->
                    <a target="_blank" href="{{grievances.grievance_attachment.url}}">
                        {% if grievances.grievance_attachment.name|GetFileTypeFromName == 'xls' or grievances.grievance_attachment.name|GetFileTypeFromName == 'xlsx' %}
                            <img alt="An XLS file" src="/static/images/file_type_icons/xls_icon.png" height="50px" width="50px">
                        {% elif grievances.grievance_attachment.name|GetFileTypeFromName == 'csv' %}
                            <img alt="A csv file" src="/static/images/file_type_icons/csv_icon.png" height="50px" width="50px">
                        {% elif grievances.grievance_attachment.name|GetFileTypeFromName == 'pdf' %}
                            <img alt="A pdf file" src="/static/images/file_type_icons/pdf_icon.png" height="50px" width="50px">
                        {% elif grievances.grievance_attachment.name|GetFileTypeFromName == 'doc' or grievances.grievance_attachment.name|GetFileTypeFromName == 'docx'  %}
                            <img alt="A doc file" src="/static/images/file_type_icons/doc_icon.png" height="50px" width="50px">
                        {% elif grievances.grievance_attachment.name|GetFileTypeFromName == 'jpg' or grievances.grievance_attachment.name|GetFileTypeFromName == 'jpeg' or grievances.grievance_attachment.name|GetFileTypeFromName == 'png' %}
                            <img alt="A doc file" src="{{grievances.grievance_attachment.url }}" height="50px" width="50px">

                        {% endif %}
                    </a>
                  </div>
            {% endif %}
            <!-- Attachments end -->

			   </div>

            </div>
			</div>
          </div><hr>

		  <div class="form-group">
            <label class="col-md-2 ">Action Taken</label>
            <div class="col-md-10">
                <div>
              <textarea class="form-control" id="action_taken" name="action_taken"  rows="10" {%if grievances.active == False %} readonly   {%endif%}>{%if not grievances.action_taken == None %}{{grievances.action_taken.strip}}{%endif%}</textarea>
            {%if grievances.action_taken_date%}  <br><div class="center-block"><b>Action Taken  On :&nbsp;&nbsp;{{grievances.action_taken_date}}</b></div> <br>{%endif%}

            </div>
            </div>
          </div>

	    <div class="form-group">
            <label class="col-md-2 "></label>

			  <div class="col-md-10">
				<div class="row">
				    <div class="col-md-12">
                     <!-- Attachments start -->
            {% if grievances.admin_action_attachment%}<p></p><i><b>Attachment : </b></i>  <p></p>
                <a target="_blank" href="{{grievances.admin_action_attachment.url}}">
                    {% if grievances.admin_action_attachment.name|GetFileTypeFromName == 'xls' or grievances.admin_action_attachment.name|GetFileTypeFromName == 'xlsx' %}
                        <img alt="An XLS file" src="/static/images/file_type_icons/xls_icon.png" height="50px" width="50px">
                    {% elif grievances.admin_action_attachment.name|GetFileTypeFromName == 'csv' %}
                        <img alt="A csv file" src="/static/images/file_type_icons/csv_icon.png" height="50px" width="50px">
                    {% elif grievances.admin_action_attachment.name|GetFileTypeFromName == 'pdf' %}
                        <img alt="A pdf file" src="/static/images/file_type_icons/pdf_icon.png" height="50px" width="50px">
                    {% elif grievances.admin_action_attachment.name|GetFileTypeFromName == 'doc' or grievances.admin_action_attachment.name|GetFileTypeFromName == 'docx'  %}
                        <img alt="A doc file" src="/static/images/file_type_icons/doc_icon.png" height="50px" width="50px">
                    {% elif grievances.admin_action_attachment.name|GetFileTypeFromName == 'jpg' or grievances.admin_action_attachment.name|GetFileTypeFromName == 'jpeg' or grievances.admin_action_attachment.name|GetFileTypeFromName == 'png' %}
                        <img alt="A doc file" src="{{grievances.admin_action_attachment.url }}" height="50px" width="50px">
                    {% endif %}
                </a>
            {% endif %}
            <!-- Attachments end -->
					</div>
				</div>
				<div class="row">
				    <div class="col-md-2">
					  <div class="checkbox">
						 {% if grievances.admin_action_attachment%} <label>
							  <input type="checkbox" name = "check_admin_action_attachment" /> Clear
						  </label>{% endif %}
					  </div>
					</div>

					<div class="col-md-10">
					{% if grievances.admin_action_attachment%}  <label for="admin_action_attachment">
							Change:
						</label> {% endif %}
                        {%if grievances.active == True %}
						<input type="file" id="admin_action_attachment" name="admin_action_attachment" class ="file_field" />
						<p class="help-block">
							Allowed file types: jpg, csv, png, pdf, xls, xlsx, doc, docx, jpeg<br>
							Maximum allowed file size: 1MB
						</p>
                        {% endif %}
                        <div class="alert alert-danger alert-dismissable admin_action_attachment" style ="display:none">
                            <a class="panel-close close" data-dismiss="alert">x</a>
                            <p>Please upload Allowed file Types Only</p>
                        </div>
                        <div class="alert alert-danger alert-dismissable size_admin_action_attachment" style ="display:none">
                            <a class="panel-close close" data-dismiss="alert">x</a>
                            <p> Please upload File Size Less Than 1MB</p>
                        </div>
					</div>
				</div>
			  </div>
          </div><hr>






	  <div class="form-group">
            <label class="col-lg-2 ">Satisfaction Level:</label>
            <div class="col-lg-10">
               <div class="Gr-edit-Uname"> {%if grievances.satisfaction_level %}
                   {{grievances.satisfaction_level|satisfaction_level}}{%else%}{{grievances.satisfaction_level}} {% endif %}
               </div>
            </div>
          </div><hr>

		  <div class="form-group">
            <label class="col-lg-2 ">Escalate</label>
            <div class="col-lg-10">
               <div class="Gr-edit-Uname"> {%if grievances.escalate == True %} Yes {%else %} No  {% endif %}</div>
            </div>
          </div><hr>
            {%if grievances.escalate == True %}
              <div class="form-group">
                <label class="col-lg-2 ">Escalated To:</label>
                <div class="col-lg-10">
                   <div class="" >
                        <input type="text" data-role="tagsinput" class="form-control" id="escalate_to"   name="escalate_to" {%if grievances.active == False or grievances.escalate == False  %} readonly   {%endif%}{%if not grievances.escalate_to == None %}value ="{{grievances.escalate_to}}"{%endif%}/>

                   </div>
                    <p class="help-block">
                           In case of multiple email id's, separate them by a comma. Do not use single or double quotes anywhere
                            </p>
                </div>
              </div>
            {% endif %}<hr>

		  <div class="form-group">
            <label class="col-lg-2 ">User Closure Message:</label>
            <div class="col-lg-10">
               <div > <textarea class="form-control" id="user_closure_message"  name="admin_closure_message" rows="10" readonly>{{grievances.user_closure_message.strip}}</textarea>
              {%if grievances.closure_date%}<br><div class="center-block"><b>Closed By User On :&nbsp;&nbsp;{{grievances.closure_date}} </b></div><br>{%endif%}

			   <div class="">

				  <div class="" >
						<!-- Attachments start -->
                {% if grievances.user_closure_message_attachment%}<p></p><i><b>Attachment : </b></i>  <p></p>
                    <a target="_blank" href="{{grievances.user_closure_message_attachment.url}}">
                        {% if grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'xls' or grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'xlsx' %}
                            <img alt="An XLS file" src="/static/images/file_type_icons/xls_icon.png" height="50px" width="50px">
                        {% elif grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'csv' %}
                            <img alt="A csv file" src="/static/images/file_type_icons/csv_icon.png" height="50px" width="50px">
                        {% elif grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'pdf' %}
                            <img alt="A pdf file" src="/static/images/file_type_icons/pdf_icon.png" height="50px" width="50px">
                        {% elif grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'doc' or grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'docx'  %}
                            <img alt="A doc file" src="/static/images/file_type_icons/doc_icon.png" height="50px" width="50px">
                        {% elif grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'jpg' or grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'jpeg' or grievances.user_closure_message_attachment.name|GetFileTypeFromName == 'png' %}
                            <img alt="A doc file" src="{{grievances.user_closure_message_attachment.url }}" height="50px" width="50px">
                        {% endif %}
                    </a>
                {% endif %}
                <!-- Attachments end -->

				  </div>
			   </div>
            </div>
			</div>
          </div><hr>

	  <div class="form-group">
            <label class="col-md-2 ">Admin Closure Message:</label>
            <div class="col-md-10"><div class="">
              <textarea class="form-control" id="admin_closure_message"  name="admin_closure_message" rows="10" {%if  grievances.user_closure_message == None %} readonly {%endif%}>{%if  not grievances.admin_closure_message == None %}{{grievances.admin_closure_message.strip}}{%endif%}</textarea>
              {%if grievances.admin_closure_message_date%} <br><div class="center-block"><b>Closed By Admin On :&nbsp;&nbsp;{{grievances.admin_closure_message_date}} </b></div><br>{%endif%}

            </div></div>
          </div>

	    <div class="form-group">
            <label class="col-md-2 "></label>

			  <div class="col-md-10">
				<div class="row">
				    <div class="col-md-12">

                        <!-- Attachments start -->
                    {% if grievances.admin_closure_message_attachment%}<p></p><i><b>Attachment : </b></i>  <p></p>
                        <a target="_blank" href="{{grievances.admin_closure_message_attachment.url}}">
                            {% if grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'xls' or grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'xlsx' %}
                                <img alt="An XLS file" src="/static/images/file_type_icons/xls_icon.png" height="50px" width="50px">
                            {% elif grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'csv' %}
                                <img alt="A csv file" src="/static/images/file_type_icons/csv_icon.png" height="50px" width="50px">
                            {% elif grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'pdf' %}
                                <img alt="A pdf file" src="/static/images/file_type_icons/pdf_icon.png" height="50px" width="50px">
                            {% elif grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'doc' or grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'docx'  %}
                                <img alt="A doc file" src="/static/images/file_type_icons/doc_icon.png" height="50px" width="50px">
                            {% elif grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'jpg' or grievances.admin_closure_message_attachment.name|GetFileTypeFromName == 'jpeg' or grievances.admin_action_attachment.name|GetFileTypeFromName == 'png' %}
                                <img alt="A doc file" src="{{grievances.admin_closure_message_attachment.url }}" height="50px" width="50px">
                            {% endif %}
                        </a>
                    {% endif %}
                    <!-- Attachments end -->
					</div>
				</div>
				<div class="row">
				    <div class="col-md-2">

					  <div class="checkbox">
						  {% if grievances.admin_closure_message_attachment%}<label>
							  <input type="checkbox" name="check_admin_closure_message_attachment"/> Clear
						  </label> {% endif %}
					  </div>
					</div>

					<div class="col-md-10">
					  {% if grievances.admin_action_attachment%}<label for="admin_closure_message_attachment">
							Change:
						</label> {% endif %}

                            <input type="file" id="admin_closure_message_attachment" name="admin_closure_message_attachment" class ="file_field"/>
                            <p class="help-block">
                                Allowed file types: jpg, csv, png, pdf, xls, xlsx, doc, docx, jpeg<br>
                                Maximum allowed file size: 1MB
                            </p>
                        <div class="alert alert-danger alert-dismissable admin_closure_message_attachment" style ="display:none">
                            <a class="panel-close close" data-dismiss="alert">x</a>
                            <p> Please upload Allowed file Types Only</p>
                        </div>
                        <div class="alert alert-danger alert-dismissable size_admin_closure_message_attachment" style ="display:none">
                            <a class="panel-close close" data-dismiss="alert">x</a>
                            <p> Please upload File Size Less Than 1MB</p>
                        </div>
					</div>
				</div>
			  </div>
          </div><hr>


	  <div class="form-group">
            <label class="col-lg-2 ">Status:</label>
            <div class="col-lg-10">  <div {%if grievances.active == False %} class="Gr-edit-Uname" {%else%} class ='' {%endif%}> {%if grievances.active == False %} Closed{%else%}
                <select  name ="grievance_status" class="form-control d-item ">
                    {% for value, text in grievances_choices %}
                        <option value="{{value}}" {%if grievances.grievance_status.strip ==  value.strip %}  selected ="selected"  {%endif%} >{{ text }}</option>
                    {% endfor %}
                </select>
                {%endif%}
               </div>
            </div>
          </div>
            {%if grievances.active == False %} <input type="hidden"  value="{{ grievances.grievance_status.strip}} " name="grievance_status">   {%endif%}
          <div class="form-group">
            <label class="col-md-2 "></label>
            <div class="col-md-10">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Reset">
            </div>
          </div>
        <br><br><br>
          {%if grievances.active == False %}<input type="hidden" value ={{grievances.id}} name="grievance_id"/>{%endif%}
    </form>
        </div>
    <div class="col-md-2">

    </div>


      </div>

</div></div>

    </div><!-- End main container -->

 <div class="Gr-fixed Div-fixed">
		<div class="row">
		  <div class="col-sm-4 col-md-4 col-lg-4 form-inline Gr-lbl-border">

                     <div class="Gr-edit-fixed-bottom ">
                         <div class="center-block"><b>Registered By:&nbsp;&nbsp;{{grievances.user.first_name}}</b></div>

                     </div>


			</div>



			<div class="col-sm-4 col-md-4 col-lg-4 ">
			     <div class="col-md-12 text-center">
			      <button type="button" id = "save_2" class="btn btn-danger">Save Changes</button>
			    </div>
			</div>

            <div class="col-sm-4 col-md-4 col-lg-4 form-inline Gr-lbl-border">

                     <div class="Gr-edit-fixed-bottom center-block">
                  <b>Status:&nbsp;&nbsp;

                                 {% for value, text in grievances_choices %}
                                    {%if grievances.grievance_status.strip ==  value.strip %}
                                        {{text}}
                                    {%endif%}
                                {% endfor %}
                             </b>

                     </div>
			</div>
		</div>
	  </div>



{% endblock %}

{% block footer %}{% endblock %}

{% block page_specific_JS %}
    <script src="/static/js/bootstrap-tagsinput.min.js"></script>
  <script>
  <!--  the following function is to disable enter key in edit form-->
   function stopRKey(evt) {
          var evt = (evt) ? evt : ((event) ? event : null);
          var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
          if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
   }

   document.onkeypress = stopRKey;

    jQuery(document).ready( function (){
        jQuery('.file_field').change(function(){
            if (jQuery('.'+this.id).is(':visible')) {
                jQuery('.'+this.id).hide();
            }

            if (jQuery('.size_'+this.id).is(':visible')) {
                jQuery('.size_'+this.id).hide();
            }

            if (this.files[0].size > 1000000) {
                    jQuery('.size_'+this.id).show();
                    jQuery(this).val('');
                    return false;
            }

            var file_extension = jQuery(this).val().split('.').pop().toLowerCase();
            if(jQuery.inArray(file_extension, ['jpg', 'csv', 'png','pdf', 'xls', 'xlsx', 'doc', 'docx', 'jpeg']) == -1) {
               jQuery('.'+this.id).show();
               jQuery(this).val('');
            }

        });

        jQuery('#save_2').click(function(){
            jQuery('#grievance_edit_form').submit();
        });

        jQuery('.breadcrumb').click(function(){
            var attrs = { };

            $.each($("form")[0].attributes, function(idx, attr) {
                attrs[attr.nodeName] = attr.nodeValue;
            });


            $("form").replaceWith(function () {
                return $("<div>", attrs).append($(this).contents());
            });
        });
    });
  </script>
{% endblock %}
