
{% extends 'master.html' %}
<title>{% block siteTitle %}myansrsource Grievance Administration{% endblock %}</title>
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}

{% block pageTitle %}Registered Grievances{% endblock %}

{% block content  %}
{% load grievances_template_tags %}

    <link href="/static/css/grievanceAdminStyle.css" rel="stylesheet">
	<link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>
    {% load pagination_tags %}
  <div class="container-fluid">



				<div class="modal fade " id="modal-container-566651" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">

								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									x
								</button>
								<h4 class="modal-title text-center" id="myModalLabel">
									<b>View details</b>
								</h4>
							</div>
							<div class="modal-body clearfix" id="grievance_modal_body">
							</div>
							<div class="modal-footer">


							</div>
						</div>

					</div>

				</div>



		<div class="row">



            <!-- Drag and drop -->
                  <div class="pull-right" style="margin-bottom:-45px;position:relative;z-index:1">
                      <!--Don't attempt to change the class of below div,jquery depends on this to stop form from closing on opening -->
                       <div class="dropdown keep-open" id="filter_form_div">
                       <form class="form-horizontal " id="filter_form" role="form" method="post" >
              {% csrf_token %}

                      <ul class="nav  ">
                          <li class="dropdown pull-right">
                              <a href="#" data-toggle="dropdown" class=""><strong>Filter By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong class="caret"></strong></a>
                              <ul class="dropdown-menu ">
                                   <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                  <h5><b>Grievance Id</b></h5>
                                      {{form.grievance_id}}
                                  </li >
                                  <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                  <h5><b>User</b></h5>
                                      {{form.user}}
                                  </li >

                                  <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                  <h5><b>Category</b></h5>
                                      {{form.category}}
                                  </li>

                                  <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                      <h5><b>Status</b></h5>
                                      {{form.grievance_status}}
                                  </li>

                                  <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                      <h5><b>Date from</b></h5>
                                     {{form.created_date}}
                                  </li>

                                  <li class="divider"></li>
                                  <li class="Gr-DropDownpad">
                                      <h5><b>Date To</b></h5>
                                      {{form.closure_date}}
                                  </li>

                                  <li class="divider"></li>

                                  <li class="Gr-DropDownpad"><input type="button"  id = "submit_button" class="btn btn-primary" value="Search">
                                  <input type="button"  id = "reset_button" class="btn btn-primary" value="Reset"> </li>
                              </ul>
                          </li>
                      </ul>
                 </form>
                           </div>
                  </div><!-- End of filter button -->





			<div class="col-md-12">





                {% if message %}
					{% for message in messages %}
					<p {% if message.tags %} class=" alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
					{% endfor %}
				{% endif %}
				
				<h4 >
					{% if not grievances %}
						Total : 0
					{% elif grievances %}
						Total : {{grievances.count}}
					{%endif%}
				</h4>
			</div>
		</div>





	<p></p>{% if grievances %}
		<div class="row">
		<div class="col-md-12 pad-zero">

			<table class="table table-bordered table-hover">

				<thead>
					<tr>

						<th class="TbHead td-center">
							Grievance ID
						</th>
						<th class="TbHead td-center">
							User
						</th>
						<th class="TbHead td-center">
							Category
						</th>
						<th class="TbHead td-center">
							Subject
						</th>

						<th class="TbHead td-center">
							Escalated
						</th>
						<th class="TbHead td-center">
							Status
						</th>
						<th class="TbHead td-center">
							Registered Date
						</th>
					</tr>
				</thead>
				<tbody>
                     {%  autopaginate grievances 10 %}
                        {%   for object in grievances  %}

<style type="text/css">
  
.table tbody>tr>td {
    max-width: 300px;
    word-wrap: break-word;
}  

</style>

					<tr class="warning">
						<td class="nowrapClass">
                             <a id="modal-566651" href="#modal-container-566651"  data-id ={{object.grievance_id}}  role="button" class="btn grievance_ids  " data-toggle="modal"><b>{{object.grievance_id}}</b></a><a href="edit/{{object.id}}" class="nowrapClass"><b>Edit</b></a>
                            <div class="GrDetails" style = "display:none" >


                                 <div id="{{object.id}}" class="grievance_table pad-five" >
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Grievance Id</b></div>

                                        <div class="col-sm-8 col-md-10"> : {{object.grievance_id}} </div>
                                    </div>
                                     <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Registered By</b></div>

                                        <div class="col-sm-8 col-md-10"> : {{object.user.first_name}} </div>
                                    </div>
                                     <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Registered On </b></div>

                                        <div class="col-sm-8 col-md-10"> : {{object.created_date}} </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2" ><b>Category</b></div>

                                        <div class="col-sm-8 col-md-10"> : {{object.category}} </b></i>  </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Subject</b></div><div class="col-sm-8 col-md-10"> : {{object.subject}}</div>
                                    </div>
                                     <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Grievance</b></div>  <div class="col-sm-8 col-md-10"> : {{object.grievance}}</div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Is Escalated</b></div>
                                        <div class="col-sm-8 col-md-10"> : {%if object.escalate == True %} Yes {%else %} No  {% endif %} </div>
                                    </div>
                                     {%if object.action_taken%}
                                         <div class="col-sm-12">
                                            <div class="col-sm-4 col-md-2"><b>Action Taken</b></div>  <div class="col-sm-8 col-md-10"> : {{object.action_taken}}</div>
                                         </div>
                                     {%endif%}
                                     {%if object.satisfaction_level%} <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Satisfaction Level</b></div>  <div class="col-sm-8 col-md-10"> : {{object.satisfaction_level|satisfaction_level}}</div>
                                    </div>{%endif%}
                                    <div class="col-sm-12">
                                      <div class="col-sm-4 col-md-2"><b>Status</b></div>
                                        <div class="col-sm-8 col-md-10"> :
                                        {% for value, text in grievances_choices %}
                                                {%if object.grievance_status.strip ==  value.strip %}{{ text }}  {%endif%}
                                            {%endfor%}
                                        </div>
                                    </div>
                                      {%if object.active == False %}
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 col-md-2"><b>Closed On</b></div> <div class="col-sm-8 col-md-10"> :  {{object.closure_date}} </div>
                                    </div>

                                         <div class="col-sm-12">
                                            <div class="col-sm-4 col-md-2"><b>User Closure Message</b></div> <div class="col-sm-8 col-md-10"> : {{object.user_closure_message}} </div>
                                         </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-4 col-md-2"><b>Admin Closure Message</b></div> <div class="col-sm-8 col-md-10"> : {{object.admin_closure_message}} </div>
                                         </div>

                                     {%endif%}
                                </div>





                            </div>

						</td>
						<td>
							{{object.user.first_name}}
						</td>
						<td class="">
							{{object.category}}
						</td>
						<td>
							{{object.subject}}
						</td>
						<td>
							{%if object.escalate == True %} Yes {%else %} No  {% endif %}
						</td>

						<td>
                            {%if object.active ==  False %}
										Closed

                            {%else%}
                                {% for value, text in grievances_choices %}
                                    {%if object.grievance_status ==  value and  object.active == True%}
                                        {{ text }}
                                    {%endif%}
                                {%endfor%}
                            {%endif%}
						</td>
						<td class="">
							<span class="date-width">{{object.created_date}}</span>
						</td>
                    </tr>




        {% endfor %}


				</tbody>
			</table>
             {%   for object in grievances  %}


             {% endfor %}
			<div class="text-center"> {% paginate %} </div>

		</div>
	</div>
      {%else%} <p class ="alert alert-warning " style = "text-align: center;"> No Records Found</p>
      {% endif %}

{% endblock  %}

 {% block page_specific_JS %}
    <script src="/static/js/date_validation.js"></script><!-- contains date validation -->

   <script>
		$(document).ready( function (){
        window.history.replaceState( {} , 'Grievance Admin', '/grievances_admin/' );
		jQuery('.breadcrumb').click(function(){
           formToDiv();
        });

        $('.grievance_ids').click(function(){
            var GrDetails = $(this).siblings(".GrDetails").html();
            $("#grievance_modal_body").html(GrDetails);
        });


        $('#id_user ,#id_grievance_id').attr('class','filter_class');
        var none_count = 0;
        <!-- date validation before form submit-->
        $('#submit_button').click(function(){
             if($('#id_closure_date').val() != "" || $('#id_created_date').val() != "") {

                var frm_date = $('#id_created_date').val().split("/");
                var converted_frm_date = new Date (frm_date[2],frm_date[1]-1,frm_date[0]);

                var id_closure_date = $('#id_closure_date').val().split("/");
                var converted_id_closure_date = new Date (id_closure_date[2],id_closure_date[1]-1,id_closure_date[0]);

                if(converted_frm_date > converted_id_closure_date) {
                    alert("Ending date Cannot Be Greater Than From Date ");
                    return false
                }

                if (isDate($('#id_closure_date').val()) == false || isDate($('#id_created_date').val()) == false ){
                    alert("Please Enter The Valid Date ");
                    return false
                }
             }

             <!-- looping through input fields to whether at-least one input is selected is or not -->

             $('.filter_class').each(function() {
                if($(this).val() != "none" && $(this).attr('id') != "post_page_count" && $(this).val() !=null && $(this).val() != '') {
                    none_count+=1;
                }
             });

            <!-- allow form submission only if at-least one input is changed -->
            if ( none_count > 0 )  {

                <!-- we need the following code to ensure on filter form submission the page value is always 1 to ensure the pagination to work properly-->
                 window.history.pushState("object or string", "Grievance Admin", "/grievances_admin/?page=1");
                $( "#filter_form" ).submit();
            }

            else if( none_count == 0 )  {
                alert("Please Select At-least One Filtering Option");
                return false
            }

        });
    })

        $('.page, .next, .prev').click(function(){
            $('#reset_button').trigger('click');
            formToDiv();

        });

    	<!-- script to prevent bootstrap filter form from closing when its clicked-->

    	$('.dropdown.keep-open').on({
			"shown.bs.dropdown": function() {this.closable = false; $('.nav_hide').hide();},
			"click":             function() {this.closable = true; },
			"hide.bs.dropdown":  function() {$('.nav_hide').show(); $('#reset_button').trigger('click'); return this.closable;   }
		});

        $('#reset_button').click(function(){
            $('.filter_class').each(function() {
                 input_type = this.tagName ;
                 if(input_type == 'INPUT')
                 {
                    $(this).val('')
                 }
                 if(input_type == 'SELECT') {
                    $(this).prop('selectedIndex',0);
                 }
                 if(this.id == 'id_user-autocomplete') {
                    if($("#id_user-deck").is(":visible") == true ) {
                        $("#id_user-deck").hide();
                        $('#id_user-autocomplete').show();
                       document.getElementById("id_user").options.length = 0;
                    }
                 }
                 if(this.id == 'id_grievance_id-autocomplete') {
                    if($("#id_grievance_id-deck").is(":visible") == true ) {
                        $("#id_grievance_id-deck").hide();
                        $('#id_grievance_id-autocomplete').show();
                       document.getElementById("id_grievance_id").options.length = 0;
                    }
                 }
            });

        });
        function formToDiv() {
            var attrs = { };

            $.each($("form")[0].attributes, function(idx, attr) {
                attrs[attr.nodeName] = attr.nodeValue;
            });

            $("form").replaceWith(function () {
                return $("<div>", attrs).append($(this).contents());
            });
        }

	</script>
{% endblock  %}









